{% if entity.field_anchor is defined %}
    <a href="#{{ entity.field_anchor }}" class="buttongroup__item  btn  btn--anchor"><span>{{ entity.title }}</span></a>
{% else %}
    <a href="{{ entity.field_link }}" class="buttongroup__item  btn  {{ entity.field_type_button }}"><span>{{ entity.title }}</span></a>
{% endif %}
