---
layout: page
title: oplossingen
sort: 2
level: 1
---

<header class="main-header vignette" id="top">

    <div class="video-container">
        <video autoplay loop poster="/images/video/hello-world/Hello-World.jpg">
            <source src="/images/video/hello-world/Hello-World.webm" type='video/webm; codecs="vp8.0, vorbis"'>
            <source src="/images/video/hello-world/Hello-World.mp4" type='video/mp4; codecs="avc1.4D401E, mp4a.40.2"'>
            <p>Fallback content to cover incompatibility issues</p>
        </video>
    </div>

    <div class="mobile-menu  navbanner">

        <div class="center-div">

            <a href="#" id="toggle-menu"><span></span></a>

            <h1 id="idTag"><a class="site-title" href="{{ site.baseurl }}/"><span class="hide">{{ site.title }}</span></a></h1>

            <nav class="mainnav">
                <ul>
                    {% assign pages = site.pages | sort:"sort"  %}
                    {% for page in pages %}
                    {% if page.title %}
                    {% if page.level == 1 %}
                    <li class="mainnav__item"><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </nav>

        </div>

    </div>

    <div class="center-div">

        <div class="pageintro">
            <h1 class="pageintro__title mb-">Oplossingen</h1>

            <div class="pageintro__lede"><p>We ontwerpen, realiseren en onderhouden mobiele apps, webapplicaties, en enterprise web content management omgevingen. Dat doen we met heel veel passie,
                talent en hulp van de beste webtechnologieën.</p></div>
        </div>

        <nav class="buttongroup  mb">
            <a href="#maatwerk" class="buttongroup__item  btn  btn--anchor"><span>Maatwerk</span></a>
            <a href="#drupal" class="buttongroup__item  btn  btn--anchor"><span>Drupal</span></a>
            <a href="#drupal" class="buttongroup__item  btn  btn--anchor"><span>Audits</span></a>
            <a href="#audits" class="buttongroup__item  btn  btn--anchor"><span>Support</span></a>
        </nav>

    </div>

</header>

<main class="main-content">

    <!-- maatwerk -->

    <div class="section  section--intro  pb0"  id="maatwerk">

        <div class="center-page  center-page--small">

            <svg class="icon" version="1.1" id="icon-maatwerk" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="104px" height="104px" viewBox="0 0 104 104" enable-background="new 0 0 104 104" xml:space="preserve"><path fill="none" stroke="#000000" stroke-miterlimit="10" d="M1.7,80.9c-1.2,1.2-1.2,3.1,0,4.2l17.2,17.2c1.2,1.2,3.1,1.2,4.2,0
	l31.7-31.7L33.4,49.1L1.7,80.9z M18,89.1l8.9,8.9L18,89.1z M16.2,75.4l16.7,16.7L16.2,75.4z M29.9,77.2l8.9,8.9L29.9,77.2z
	 M35.9,71.3l8.9,8.9L35.9,71.3z M50.7,74.3l-8.9-8.9L50.7,74.3z"/><path fill="none" stroke="#000000" stroke-miterlimit="10" d="M102,19.2L84.8,2c-1.2-1.2-3.1-1.2-4.2,0L48.8,33.8l21.4,21.4
	L102,23.4C103.1,22.3,103.1,20.4,102,19.2z M65.6,41.5l8.9,8.9L65.6,41.5z M63.8,27.9l16.7,16.7L63.8,27.9z M77.5,29.6l8.9,8.9
	L77.5,29.6z M83.5,23.7l8.9,8.9L83.5,23.7z M89.4,17.7l8.9,8.9L89.4,17.7z"/><path fill="none" stroke="#000000" stroke-miterlimit="10" d="M90.4,82.8l-7.6,7.6c-1.2,1.2-3.1,1.2-4.2,0L17.1,29
	c-1.2-1.2-1.2-3.1,0-4.2l7.6-7.6c1.2-1.2,3.1-1.2,4.2,0l61.4,61.4C91.6,79.7,91.6,81.6,90.4,82.8z"/><path fill="none" stroke="#000000" stroke-miterlimit="10" d="M102.3,103.4l-18-8c-0.5-0.2-0.7-0.9-0.3-1.4L94.1,84
	c0.4-0.4,1.1-0.3,1.4,0.3l7.9,18.1C103.7,103,103,103.8,102.3,103.4z"/><path fill="none" stroke="#000000" stroke-miterlimit="10" d="M22.6,14.9l-7.6,7.6c-1.2,1.2-3.1,1.2-4.2,0l-9.3-9.3
	c-1.2-1.2-1.2-3.1,0-4.2L9,1.4c1.2-1.2,3.1-1.2,4.2,0l9.3,9.3C23.7,11.9,23.7,13.8,22.6,14.9z"/></svg>

            <h2 class="section__header">Maatwerk</h2>

            <div class="lede">
                <p>Gebaseerd op moderne open standaarden en webservices.<br />
                    Complexe applicaties met veel data die ingenieus gekoppeld zijn.
                    Zij leveren een rijke internetervaring aan een breed publiek met een enorm scale aan devices.</p>
            </div>

        </div>

        <ul class="tabs-menu">
            <li class="current"><a href="#tab-nieuwsbouw">Nieuwbouw</a></li>
            <li><a href="#tab-herbouw">Herbouw</a></li>
            <li><a href="#tab-renovatie">Renovatie</a></li>
        </ul>

    </div>

    <div class="section  p0">

        <div class="tabs">

            <div id="tab-nieuwsbouw" class="tab-content">

                <div class="center-page">

                    <blockquote class="blockquote  blockquote--postit">
                        standaard waar het kan en maatwerk daar waar het nodig is
                    </blockquote>

                    <span class="initial">Nieuwbouw applicaties</span> Nieuwe concepten en nieuwe innovatieve manieren om internettechnologie succesvol in te zetten voor onze opdrachtgevers. Ons credo is “standaard waar het kan en maatwerk daar waar het nodig is”. We maken slim gebruik van de uitgebreide bibliotheek van opensource frameworks en content management oplossingen. Wij kunnen deze oplossingen bovendien altijd, aanpassen of uitbreiden om elke mogelijke maatwerk oplossing te realiseren. Dat is de kracht van open source en één van de fundamenten binnen Ibuildings.

                </div>

            </div>

            <div id="tab-herbouw" class="tab-content">
                <div class="center-page">
                    Proin sollicitudin tincidunt quam, in egestas dui tincidunt non. Maecenas tempus condimentum mi, sed convallis tortor iaculis eu. Cras dui dui, tempor quis tempor vitae, ullamcorper in justo. Integer et lorem diam. Quisque consequat lectus eget urna molestie pharetra. Cras risus lectus, lobortis sit amet imperdiet sit amet, eleifend a erat. Suspendisse vel luctus lectus. Sed ac arcu nisi, sit amet ornare tellus. Pellentesque nec augue a nibh pharetra scelerisque quis sit amet felis. Nullam at enim at lacus pretium iaculis sit amet vel nunc. Praesent sapien felis, tincidunt vitae blandit ut, mattis at diam. Suspendisse ac sapien eget eros venenatis tempor quis id odio. Donec lacus leo, tincidunt eget molestie at, pharetra cursus odio.
                </div>
            </div>

            <div id="tab-renovatie" class="tab-content">
                <div class="center-page">
                    Duis egestas fermentum ipsum et commodo. Proin bibendum consectetur elit, hendrerit porta mi dictum eu. Vestibulum adipiscing euismod laoreet. Vivamus lobortis tortor a odio consectetur pulvinar. Proin blandit ornare eros dictum fermentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur laoreet, ante aliquet molestie laoreet, lectus odio fringilla purus, id porttitor erat velit vitae mi. Nullam posuere nunc ut justo sollicitudin interdum. Donec suscipit eros nec leo condimentum fermentum. Nunc quis libero massa. Integer tempus laoreet lectus id interdum. Integer facilisis egestas dui at convallis. Praesent elementum nisl et erat iaculis a blandit ligula mollis. Vestibulum vitae risus dui, nec sagittis arcu. Nullam tortor enim, placerat quis eleifend in, viverra ac lacus. Ut aliquam sapien ut metus hendrerit auctor dapibus justo porta.
                </div>
            </div>

        </div>

    </div>

    <!-- oplossingen -->

    <div class="section  section--white" id="drupal">

        <div class="center-page  center-page--small">

            <svg class="icon" version="1.1" id="icon-drupal" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="81.3px" height="92.8px" viewBox="0 0 81.3 92.8" enable-background="new 0 0 81.3 92.8" xml:space="preserve"><g><path fill="none" stroke="#000000" stroke-miterlimit="10" d="M45,92.3c-2.6,0-5.2,0-7.9,0c-2.3-0.5-4.5-0.9-6.8-1.5 C14.6,87,2.1,72.8,0.7,56.7c-1.3-15.4,4.6-27.6,17.1-36.5c3.5-2.5,7.4-4.4,11.1-6.4c4.3-2.3,7-5.8,7.9-10.7 c0.1-0.7,0.4-1.3,0.6-2.2c0.5,0.5,0.9,0.7,1.1,1.1c4.7,6.4,11,10.4,18.2,13.7C73.2,23.4,83.2,40,80.4,59.5 		c-2.2,15-10.9,25.1-25,30.3C52,91,48.4,91.5,45,92.3z M77.7,59.1c-0.1-0.7-0.2-2.1-0.6-3.4c-1.2-3.4-4.1-4.7-7.4-3.2 c-1,0.5-2,1.1-3,1.6c-3,1.9-6,3.8-9.1,5.6c-1.8,1.1-3.8,1-5.6-0.1c-2-1.3-3.9-2.7-6-3.8c-3.1-1.7-6.2-3.6-9.5-4.7 c-7.4-2.5-15.9,2.1-18.3,9.5c-2.2,6.9,1.6,12.8,8.8,13.6c3.9,0.5,7.6-0.3,11.1-2.1c4.6-2.4,9.1-4.9,13.6-7.5c2.8-1.6,5.2-1,7.5,1.1 c2.1,2,4.2,4,6.3,6c3.3,3.1,5.7,2.9,8.5-0.7C76.3,67.7,77.3,63.9,77.7,59.1z"/></g></svg>

            <h2 class="section__header">Drupal oplossingen</h2>

            <div class="lede">
                <p>Het huidige Drupal content management platform is het resultaat van 12 jaar ontwikkeling waarin Drupal uitgegroeid is tot het meest populaire open source content management platform ter wereld. Met de release van Drupal 7 heeft het platform een enorme sprong gemaakt op het gebied van kwaliteit en stabiliteit waardoor het Drupal CMS nu zeer goed inzetbaar is in bedrijfskritische enterprise omgevingen.</p>
            </div>

        </div>

        <div class="center-page">

            <div class="pillars">

                <div class="pane  box--grey  pillars__item  hoverbox">
                    <a href="#">
                        <h3 class="pane__header">Enterprise Drupal</h3>
                        <div class="pane__body"><p>Ontwerp en realisatie van robuuste en businesskritische enterprise content management omgevingen.</p></div>
                        <div class="pane__button"><div href="#" class="btn  btn--dark">Lees meer</div></div>
                    </a>
                </div>

                <div class="pane  box--grey  pillars__item  hoverbox">
                    <a href="#">
                        <h3 class="pane__header">Enterprise Drupal Applicatiebeheer</h3>
                        <div class="pane__body"><p>Ontwerp en realisatie van bedrijfskritische webapplicaties met behulp van moderne, open source internet technologie.</p></div>
                        <div class="pane__button"><div href="#" class="btn  btn--dark">Lees meer</div></div>
                    </a>
                </div>

                <div class="pane  box--grey  pillars__item  hoverbox">
                    <a href="#">
                        <h3 class="pane__header">Drupal optimalisatie</h3>
                        <div class="pane__body"><p>Effectief beheer en doorontwikkeling van PHP applicaties. 100% ondersteuning met glasheldere SLA, 24/7, 365 dagen per jaar.</p></div>
                        <div class="pane__button"><div href="#" class="btn  btn--dark">Lees meer</div></div>
                    </a>
                </div>

            </div>

        </div>

    </div>

    <!-- support -->

    <div class="section  section--dark" id="support">

        <div class="center-page  center-page--small  mb+">

            <svg class="icon" id="icon-support" width="92px" height="92px" viewBox="0 0 92 92" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"><!--Generator: Sketch 3.3.3 (12072) - http://www.bohemiancoding.com/sketch--><title>icon-247</title><desc>Created with Sketch.</desc><defs/><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"><g id="icon-247" sketch:type="MSLayerGroup" transform="translate(1.000000, 1.000000)" stroke="#4A4A4A"><path d="M89.5807647,44.9526471 C89.5807647,69.61 69.5910588,89.5997059 44.9337059,89.5997059 C20.275,89.5997059 0.286647059,69.61 0.286647059,44.9526471 C0.286647059,20.2952941 20.275,0.305588235 44.9337059,0.305588235 C69.5910588,0.305588235 89.5807647,20.2952941 89.5807647,44.9526471 L89.5807647,44.9526471 L89.5807647,44.9526471 Z" id="Stroke-1" stroke-width="1.2" sketch:type="MSShapeGroup"/><path d="M63,24 L57.5,35 L65.5,35" id="Path-3" stroke-linecap="square" stroke-linejoin="round" sketch:type="MSShapeGroup"/><path d="M58.3278235,61.4869412 C55.7247647,57.8583529 52.0799412,55.9642353 50.2277647,57.2752353 C48.3769412,58.5862353 44.8281765,56.6258235 42.3428235,52.9160588 L39.2770588,48.3431176 C36.7917059,44.6333529 36.2735294,40.5258235 38.1243529,39.2148235 C39.9765294,37.9038235 39.457,33.7962941 36.9716471,30.0865294 L36.5698235,29.4871765 C34.0831176,25.7787647 29.337,24.461 26.0209412,26.5594118 C22.7035294,28.6578235 20.0436471,31.2202941 20.1072353,32.2525882 C20.1721765,33.2848824 20.1978824,34.1480588 20.1667647,34.1683529 C20.1342941,34.19 21.5332353,37.571 23.2731176,41.6825882 C23.2731176,41.6825882 26.7122941,49.8029412 31.3407059,56.7110588 C35.9704706,63.6178235 42.4754118,70.2580588 42.4754118,70.2580588 C45.5993529,73.4482941 48.1821176,76.0405294 48.2132353,76.0188824 C48.2443529,75.9972353 48.9194706,76.0824706 49.7109412,76.2069412 C50.5037647,76.3314118 53.9131765,74.6672941 57.2887647,72.5107059 C60.663,70.3541176 61.2948235,65.6215294 58.6917647,61.9942941 L58.3278235,61.4869412 L58.3278235,61.4869412 Z" id="Stroke-2" stroke-width="1.2" sketch:type="MSShapeGroup"/><path d="M63.5,37.5 L63.5,30.5" id="Path-4" sketch:type="MSShapeGroup"/><path d="M48,26.5 C48,26.5 48.5,24 51,24 C53.5,24 54.5,26 54.5,27 C54.5,27.5373435 54.5,28.5 53.5,29.5 C52.5,30.5 47.5,37 47.5,37 L54.5,37" id="Path-5" stroke-linecap="square" stroke-linejoin="round" sketch:type="MSShapeGroup"/></g></g></svg>

            <h2 class="section__header">Support diensten</h2>

            <div class="lede">
                <p>Met de realisatie van een website of webapplicatie ben je pas op de helft. De andere helft van het succes ligt in het effectief beheren en ondersteunen van deze applicatie. Of het nu door ons ontwikkeld is, intern of door een ander extern bureau, wij leveren 100% ondersteuning met glasheldere SLA afspraken, 24 uur per dag, 365 dagen per jaar. </p>
            </div>

        </div>

        <div class="center-page">

            <div class="pillars  pillars--gutter">

                <div class="pane  pillars__item  hoverbox">
                    <a href="#">
                        <h3 class="pane__header">Enterprise Drupal</h3>
                        <div class="pane__body"><p>Ontwerp en realisatie van robuuste en businesskritische enterprise content management omgevingen.</p></div>
                        <div class="pane__button"><div class="btn">Lees meer</div></div>
                    </a>
                </div>

                <div class="pane  pillars__item  hoverbox">
                    <a href="#">
                        <h3 class="pane__header">Enterprise Drupal Applicatiebeheer</h3>
                        <div class="pane__body"><p>Ontwerp en realisatie van bedrijfskritische webapplicaties met behulp van moderne, open source internet technologie.</p></div>
                        <div class="pane__button"><div href="#" class="btn">Lees meer</div></div>
                    </a>
                </div>

                <div class="pane  pillars__item  hoverbox">
                    <a href="#">
                        <h3 class="pane__header">Drupal optimalisatie</h3>
                        <div class="pane__body"><p>Effectief beheer en doorontwikkeling van PHP applicaties. 100% ondersteuning met glasheldere SLA, 24/7, 365 dagen per jaar.</p></div>
                        <div class="pane__button"><div href="#" class="btn">Lees meer</div></div>
                    </a>
                </div>

            </div>

        </div>

    </div>

    <!-- Audits -->

    <div class="section  section--white" id="audits">

        <div class="center-page  center-page--small">

            <svg class="icon" id="icon-audits" viewBox="0 0 276 367" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"><!--Generator: Sketch 3.4 (15575) - http://www.bohemiancoding.com/sketch--><defs/><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"><g id="Group" sketch:type="MSLayerGroup" transform="translate(174.500000, 235.000000) rotate(31.000000) translate(-174.500000, -235.000000) translate(21.000000, 36.000000)" stroke="#4A4A4A" stroke-width="2"><rect id="Rectangle-1" sketch:type="MSShapeGroup" x="25" y="0" width="61" height="23" rx="6"/><rect id="Rectangle-1-Copy-3" sketch:type="MSShapeGroup" x="44.8571673" y="201.484962" width="23" height="36" rx="6"/><rect id="Rectangle-1-Copy-4" sketch:type="MSShapeGroup" x="0" y="261" width="110" height="23" rx="6"/><rect id="Rectangle-1-Copy-5" sketch:type="MSShapeGroup" x="27.8571673" y="282.484962" width="57" height="22" rx="6"/><path d="M40.8571673,62.4849619 L70.8571673,62.4849619 L70.8571673,21.4849619 L40.8571673,21.4849619 L40.8571673,62.4849619 L40.8571673,62.4849619 Z" id="Rectangle-1-Copy" sketch:type="MSShapeGroup"/><rect id="Rectangle-1-Copy-2" sketch:type="MSShapeGroup" x="28" y="60" width="55" height="143" rx="6"/><path d="M83,76 L121.035628,78.817454 C129.852507,79.4705561 140.89248,86.0156511 145.693098,93.4347881 L252.5,258.5 L110.5,343 L110,272 L139,272 L138.639943,202.508948 C138.562654,187.592318 126.417779,175.392123 111.504691,175.25897 L82.5,175" id="Path-21" sketch:type="MSShapeGroup"/><circle id="Oval-1" fill="#FFFFFF" sketch:type="MSShapeGroup" cx="83" cy="127" r="25"/><path d="M71.5,398 L306.5,259 L299.814141,248.863375 C294.946225,241.482987 284.841076,239.168865 277.259784,243.685032 L72.2402161,365.814968 C64.6517043,370.335436 61.915597,380.305717 66.118562,388.065038 L71.5,398 Z" id="Path-22" sketch:type="MSShapeGroup"/></g></g></svg>

            <h2 class="section__header">Audits</h2>

            <div class="lede">
                <p>Met een grondige audit localiseren we kwetsbaarheden in uw applicatie. Wij geven concrete adviezen hoe u risico's kunt mijden zodat uw dienstverlening niet wordt onderbroken en uw vertrouwen niet schaadt met uw eindgebruiker.</p>
            </div>

        </div>

        <div class="center-page">

            <div class="pillars">

                <div class="pane  hoverbox  pillars__item">
                    <a href="#">
                        <h3 class="pane__header">Security Audits</h3>
                        <div class="pane__body"><p>Wij helpen bedrijven en organisaties met diepgaande security audits van hun webapplicaties. Als het mis zit of beter kan, brengen we concrete aanbevelingen uit.</p></div>
                        <div class="pane__button"><div href="#" class="btn  btn--dark">Lees meer</div></div>
                    </a>
                </div>

                <div class="pane  hoverbox  pillars__item">
                    <a href="#">
                        <h3 class="pane__header">Performance Audits</h3>
                        <div class="pane__body"><p>Vaak vertaalt de groei in bezoekers zich in performance problemen. Via een performance audit analyseren we de bottleneck’s en geven praktische en pragmatische aanbevelingen om de huidige applicatie aan te passen om de maximale prestaties te leveren.</p></div>
                        <div class="pane__button"><div href="#" class="btn  btn--dark">Lees meer</div></div>
                    </a>
                </div>

                <div class="pane  hoverbox  pillars__item">
                    <a href="#">
                        <h3 class="pane__header">Architectuur Audits</h3>
                        <div class="pane__body"><p>Wij helpen bedrijven en organisaties met diepgaande security audits van hun webapplicaties. Als het mis zit of beter kan, brengen we concrete aanbevelingen uit.</p></div>
                        <div class="pane__button"><div href="#" class="btn  btn--dark">Lees meer</div></div>
                    </a>
                </div>

            </div>

        </div>

    </div>

</main>

{% include cta-experts.html %}

{% include footer.html %}


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script src="/js/vendor/slick.min.js"></script>

<script src="/js/vendor/jquery.waypoints.min.js"></script>

<script src="/js/vendor/typed.min.js"></script>

<script src="/js/vendor/vivus.min.js"></script>

<script src="/js/vendor/velocity.min.js"></script>

<script src="/js/navbanner.js"></script>

<script src="/js/loading-animation.js"></script>

<script src="/js/scripts.js"></script>





<script>

    (function($) {

        //animate some icons
        new Vivus('icon-maatwerk', {
            duration: 100,
            animTimingFunction: Vivus.EASE
        });

        new Vivus('icon-drupal', {
            duration: 100,
            animTimingFunction: Vivus.EASE
        });

        new Vivus('icon-audits', {
            duration: 100,
            animTimingFunction: Vivus.EASE
        });


        new Vivus('icon-support', {
            duration: 100,
            animTimingFunction: Vivus.EASE
        });


    })(jQuery);


    $(".tabs-menu a").click(function(event) {
        event.preventDefault();
        $(this).parent().addClass("current");
        $(this).parent().siblings().removeClass("current");
        var tab = $(this).attr("href");
        $(".tab-content").not(tab).css("display", "none");
        $(tab).fadeIn();
    });


    $('.btn--anchor').click(function(){
        $('html, body').animate({
            scrollTop: $( $.attr(this, 'href') ).offset().top - 83
        }, 500);
        return false;
    });



</script>

