/*doc
---
title: line header
category: headers - headers

---

```html_example

    <h3 class="lineheader"><span>my special header</span></h3>

```

*/



.lineheader {
    text-align: center;
    display: block;
    position: relative;
    margin: 0 auto;

    span {
        display: inline-block;
        padding-left: 1%;
        padding-right: 1%;
        position: relative;

        &:before,
        &:after {
            content: '';
            height: 1px;
            background: grey;
            position: absolute;
            top: 13px;
            width: 40%;
        }

        &:before {
            left: -40%;
        }

        &:after {
            right: -40%;
        }

    }

}