
//<div class="pk-container pk-effect-7" id="pk-container">
//    <div class="pk-pusher">
//        <nav class="pk-menu  pk-effect-7">
//            <a href="#" id="idTag"><h1><span class="hide">bedrijfsnaam - mission statement</span></h1></a>
//            <ul class="list-ui  mobile-menu-list" >
//                <li class="active"><a href="#">home</a></li>
//                <li><a href="#">diensten</a></li>
//                <li><a href="#">nieuws</a></li>
//                <li><a href="#">over ons</a></li>
//                <li><a href="#">contact</a></li>
//            </ul>
//        </nav>
//        <div class="canvas pk-content" id="container">
//            <div class="center-page">
//                <button data-effect="pk-effect-7"  class="only-mobile" id="mobile-menu-trigger">menu</button>
//            </div>
//        </div>
//    </div>
//</div>
//
//<script>
//    $("#mobile-menu-trigger").on("click", function(e) {
//        e.preventDefault();
//        var effect = $(this).attr("data-effect");
//        $('.pk-container').addClass(effect).toggleClass(".pk-menu-open");
//    });
//</script>





        html,
        body,
        .pk-container,
        .pk-pusher,
        .pk-content {
            height: 100%;
        }

        .pk-content {
            overflow-y: scroll;
        }

        .pk-content,
        .pk-content-inner {
            position: relative;
        }

        .pk-container {
            position: relative;
            overflow: hidden;
        }

        .pk-pusher {
            position: relative;
            left: 0;
            z-index: 99;
            height: 100%;
            -webkit-transition: -webkit-transform 0.5s;
            transition: transform 0.5s;
        }


        /*overlay*/
        .pk-pusher::after {
            position: absolute;
            top: 0;
            right: 0;
            width: 0;
            height: 0;
            background: rgba(0,0,0,0.2);
            content: '';
            opacity: 0;
            -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
            transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
        }

        .pk-menu-open .pk-pusher::after {
            width: 100%;
            height: 100%;
            opacity: 1;
            -webkit-transition: opacity 0.5s;
            transition: opacity 0.5s;
        }

        .pk-menu {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 100;
            visibility: hidden;
            width: 300px;
            height: 100%;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
        }

        .pk-menu::after {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.2);
            content: '';
            opacity: 1;
            -webkit-transition: opacity 0.5s;
            transition: opacity 0.5s;
        }

        .pk-menu-open .pk-menu::after {
            width: 0;
            height: 0;
            @include opacity(0);
        }

$pk-offcanvas-navigation-effect-1:         false !default;
$pk-offcanvas-navigation-effect-2:         false !default;
$pk-offcanvas-navigation-effect-3:         false !default;
$pk-offcanvas-navigation-effect-4:         false !default;
$pk-offcanvas-navigation-effect-5:         false !default;
$pk-offcanvas-navigation-effect-6:         false !default;
$pk-offcanvas-navigation-effect-7:         false !default;
$pk-offcanvas-navigation-effect-8:         false !default;
$pk-offcanvas-navigation-effect-9:         false !default;
$pk-offcanvas-navigation-effect-10:         false !default;
$pk-offcanvas-navigation-effect-11:         false !default;
$pk-offcanvas-navigation-effect-12:         false !default;
$pk-offcanvas-navigation-effect-13:         false !default;
$pk-offcanvas-navigation-effect-14:         false !default;


/*------------------------------------*\
    http://tympanus.net/Development/SidebarTransitions/
    EFFECT 1: Slide in on top
\*------------------------------------*/

@if ($pk-offcanvas-navigation-effect-1: == true) {

        .pk-effect-1.pk-menu {
            visibility: visible;
            @include translate3d(-100%,0,0);
        }

        .pk-effect-1.pk-menu-open .pk-effect-1.pk-menu {
            visibility: visible;
            @include translate3d(0,0,0);
        }

        .pk-effect-1.pk-menu::after {
            display: none;
        }

}

/*------------------------------------*\
    http://tympanus.net/Development/SidebarTransitions/
    Effect 2: Reveal
\*------------------------------------*/

@if ($pk-offcanvas-navigation-effect-2: == true) {

    .pk-effect-2.pk-menu-open .pk-pusher {
        @include translate3d(300px,0,0);
    }

    .pk-effect-2.pk-menu {
        z-index: 1;
    }

    .pk-effect-2.pk-menu-open .pk-effect-2.pk-menu {
        visibility: visible;
        @include transition(.5s);
    }

    .pk-effect-2.pk-menu::after {
        display: none;
    }
}

/*------------------------------------*\
    http://tympanus.net/Development/SidebarTransitions/
    Effect 3: Push
\*------------------------------------*/

@if ($pk-offcanvas-navigation-effect-3: == true) {

    .pk-effect-3.pk-menu-open .pk-pusher {
        @include translate3d(300px,0,0);
    }

    .pk-effect-3.pk-menu {
        @include translate3d(-100%,0,0);
    }

    .pk-effect-3.pk-menu-open .pk-effect-3.pk-menu {
        visibility: visible;
        @include transition(.5s);
    }

    .pk-effect-3.pk-menu::after {
        display: none;
    }

}

/*------------------------------------*\
    http://tympanus.net/Development/SidebarTransitions/
    Effect 4: Slide along
\*------------------------------------*/

@if ($pk-offcanvas-navigation-effect-4: == true) {

    .pk-effect-4.pk-menu-open .pk-pusher {
        @include translate3d(300px,0,0);
    }

    .pk-effect-4.pk-menu {
        z-index: 1;
        @include translate3d(-50%,0,0);
    }

    .pk-effect-4.pk-menu-open .pk-effect-4.pk-menu {
        visibility: visible;
        @include transition(.5s);
        @include translate3d(0,0,0);
    }

    .pk-effect-4.pk-menu::after {
        display: none;
    }

}

/*------------------------------------*\
    http://tympanus.net/Development/SidebarTransitions/
    Effect 5: Reverse slide out
\*------------------------------------*/

@if ($pk-offcanvas-navigation-effect-5: == true) {

    .pk-effect-5.pk-menu-open .pk-pusher {
        @include translate3d(300px,0,0);
    }

    .pk-effect-5.pk-menu {
        z-index: 1;
        @include translate3d(50%,0,0);
    }

    .pk-effect-5.pk-menu-open .pk-effect-5.pk-menu {
        visibility: visible;
        @include transition(.5s);
        @include translate3d(0,0,0);
    }

}

/*------------------------------------*\
    http://tympanus.net/Development/SidebarTransitions/
    Effect 6: Rotate pusher
\*------------------------------------*/

@if ($pk-offcanvas-navigation-effect-6: == true) {

    .pk-effect-6.pk-container {
        -webkit-perspective: 1500px;
        perspective: 1500px;
    }

    .pk-effect-6 .pk-pusher {
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .pk-effect-6.pk-menu-open .pk-pusher {
        -webkit-transform: translate3d(300px, 0, 0) rotateY(-15deg);
        transform: translate3d(300px, 0, 0) rotateY(-15deg);
    }

    .pk-effect-6.pk-menu {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .pk-effect-6.pk-menu-open .pk-effect-6.pk-menu {
        visibility: visible;
        -webkit-transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
        -webkit-transform: translate3d(-100%, 0, 0) rotateY(15deg);
        transform: translate3d(-100%, 0, 0) rotateY(15deg);
    }

    .pk-effect-6.pk-menu::after {
        display: none;
    }

}

/*------------------------------------*\
    http://tympanus.net/Development/SidebarTransitions/
    Effect 7: 3D rotate in
\*------------------------------------*/

@if ($pk-offcanvas-navigation-effect-7: == true) {

    .pk-effect-7.pk-container {
        -webkit-perspective: 1500px;
        perspective: 1500px;
        -webkit-perspective-origin: 0% 50%;
        perspective-origin: 0% 50%;
    }

    .pk-effect-7 .pk-pusher {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .pk-effect-7.pk-menu-open .pk-pusher {
        @include translate3d(300px,0,0);
    }

    .pk-effect-7.pk-menu {
        -webkit-transform: translate3d(-100%, 0, 0) rotateY(-90deg);
        transform: translate3d(-100%, 0, 0) rotateY(-90deg);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .pk-effect-7.pk-menu-open .pk-effect-7.pk-menu {
        visibility: visible;
        -webkit-transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
        -webkit-transform: translate3d(-100%, 0, 0) rotateY(0deg);
        transform: translate3d(-100%, 0, 0) rotateY(0deg);
    }

}

/*------------------------------------*\
    http://tympanus.net/Development/SidebarTransitions/
    Effect 8: 3D rotate out
\*------------------------------------*/

@if ($pk-offcanvas-navigation-effect-8: == true) {

    .pk-effect-8.pk-container {
        -webkit-perspective: 1500px;
        perspective: 1500px;
        -webkit-perspective-origin: 0% 50%;
        perspective-origin: 0% 50%;
    }

    .pk-effect-8 .pk-pusher {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .pk-effect-8.pk-menu-open .pk-pusher {
        @include translate3d(300px,0,0);
    }

    .pk-effect-8.pk-menu {
        -webkit-transform: translate3d(-100%, 0, 0) rotateY(90deg);
        transform: translate3d(-100%, 0, 0) rotateY(90deg);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .pk-effect-8.pk-menu-open .pk-effect-8.pk-menu {
        visibility: visible;
        -webkit-transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
        -webkit-transform: translate3d(-100%, 0, 0) rotateY(0deg);
        transform: translate3d(-100%, 0, 0) rotateY(0deg);
    }

    .pk-effect-8.pk-menu::after {
        display: none;
    }

}

/*------------------------------------*\
    http://tympanus.net/Development/SidebarTransitions/
    Effect 9: Scale down pusher
\*------------------------------------*/

@if ($pk-offcanvas-navigation-effect-9: == true) {

    .pk-effect-9.pk-container {
        -webkit-perspective: 1500px;
        perspective: 1500px;
    }

    .pk-effect-9 .pk-pusher {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .pk-effect-9.pk-menu-open .pk-pusher {
        @include translate3d(0,0,-300px);
    }

    .pk-effect-9.pk-menu {
        opacity: 1;
        @include translate3d(-100%,0,0);
    }

    .pk-effect-9.pk-menu-open .pk-effect-9.pk-menu {
        visibility: visible;
        -webkit-transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
        @include translate3d(0,0,0);
    }

    .pk-effect-9.pk-menu::after {
        display: none;
    }

}

/*------------------------------------*\
    http://tympanus.net/Development/SidebarTransitions/
    Effect 10: Scale up
\*------------------------------------*/

@if ($pk-offcanvas-navigation-effect-10: == true) {

    .pk-effect-10.pk-container {
        -webkit-perspective: 1500px;
        perspective: 1500px;
        -webkit-perspective-origin: 0% 50%;
        perspective-origin: 0% 50%;
    }

    .pk-effect-10.pk-menu-open .pk-pusher {
        @include translate3d(300px,0,0);
    }

    .pk-effect-10.pk-menu {
        z-index: 1;
        opacity: 1;
        @include translate3d(0,0,-300px);
    }

    .pk-effect-10.pk-menu-open .pk-effect-10.pk-menu {
        visibility: visible;
        -webkit-transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
        @include translate3d(0,0,0);
    }

}

/*------------------------------------*\
    http://tympanus.net/Development/SidebarTransitions/
    Effect 11: Scale and rotate pusher
\*------------------------------------*/

@if ($pk-offcanvas-navigation-effect-11: == true) {

    .pk-effect-11.pk-container {
        -webkit-perspective: 1500px;
        perspective: 1500px;
    }

    .pk-effect-11 .pk-pusher {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .pk-effect-11.pk-menu-open .pk-pusher {
        -webkit-transform: translate3d(100px, 0, -600px) rotateY(-20deg);
        transform: translate3d(100px, 0, -600px) rotateY(-20deg);
    }

    .pk-effect-11.pk-menu {
        opacity: 1;
        @include translate3d(-100%,0,0);
    }

    .pk-effect-11.pk-menu-open .pk-effect-11.pk-menu {
        visibility: visible;
        -webkit-transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
        @include translate3d(0,0,0);
    }

    .pk-effect-11.pk-menu::after {
        display: none;
    }

}

/*------------------------------------*\
    http://tympanus.net/Development/SidebarTransitions/
    Effect 12: Open door
\*------------------------------------*/

@if ($pk-offcanvas-navigation-effect-12: == true) {

    .pk-effect-12.pk-container {
        -webkit-perspective: 1500px;
        perspective: 1500px;
    }

    .pk-effect-12 .pk-pusher {
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .pk-effect-12.pk-menu-open .pk-pusher {
        -webkit-transform: rotateY(-10deg);
        transform: rotateY(-10deg);
    }

    .pk-effect-12.pk-menu {
        opacity: 1;
        @include translate3d(-100%,0,0);
    }

    .pk-effect-12.pk-menu-open .pk-effect-12.pk-menu {
        visibility: visible;
        -webkit-transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
        @include translate3d(0,0,0);
    }

    .pk-effect-12.pk-menu::after {
        display: none;
    }

}

/*------------------------------------*\
    http://tympanus.net/Development/SidebarTransitions/
    Effect 13: Fall down
\*------------------------------------*/

@if ($pk-offcanvas-navigation-effect-13: == true) {

    .pk-effect-13.pk-container {
        -webkit-perspective: 1500px;
        perspective: 1500px;
        -webkit-perspective-origin: 0% 50%;
        perspective-origin: 0% 50%;
    }

    .pk-effect-13.pk-menu-open .pk-pusher {
        @include translate3d(300px,0,0);
    }

    .pk-effect-13.pk-menu {
        z-index: 1;
        opacity: 1;
        @include translate3d(0,-100%,0);
    }

    .pk-effect-13.pk-menu-open .pk-effect-13.pk-menu {
        visibility: visible;
        -webkit-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;
        -webkit-transition-property: -webkit-transform;
        transition-property: transform;
        @include translate3d(0,0,0);
        -webkit-transition-speed: 0.2s;
        transition-speed: 0.2s;
    }

}

/*------------------------------------*\
    http://tympanus.net/Development/SidebarTransitions/
    Effect 14: Delayed 3D rotate
\*------------------------------------*/

@if ($pk-offcanvas-navigation-effect-14: == true) {

    .pk-effect-14.pk-container {
        -webkit-perspective: 1500px;
        perspective: 1500px;
        -webkit-perspective-origin: 0% 50%;
        perspective-origin: 0% 50%;
    }

    .pk-effect-14 .pk-pusher {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .pk-effect-14.pk-menu-open .pk-pusher {
        @include translate3d(300px,0,0);
    }

    .pk-effect-14.pk-menu {
        -webkit-transform: translate3d(-100%, 0, 0) rotateY(90deg);
        transform: translate3d(-100%, 0, 0) rotateY(90deg);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .pk-effect-14.pk-menu-open .pk-effect-14.pk-menu {
        visibility: visible;
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
        -webkit-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;
        -webkit-transition-property: -webkit-transform;
        transition-property: transform;
        -webkit-transform: translate3d(-100%, 0, 0) rotateY(0deg);
        transform: translate3d(-100%, 0, 0) rotateY(0deg);
    }
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
.no-csstransforms3d .pk-pusher,
.no-js .pk-pusher {
    padding-left: 300px;
}
