$mainnav-breakpoint: 'desk';

.mainnav {
    position: relative;
    height: 0;
    overflow: hidden;
    text-align: center;

    // reset list
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            padding: 0;
        }
    }

    @include media-query($mainnav-breakpoint) {
        display: block;
        text-align: right;
        height: auto;
        overflow: visible;
    }

    .togglemenu--active & {
        height: auto;
    }

}

    .mainnav__item {
        height: auto;
        padding: 0 8px;

        a {
            text-decoration: none;
            color: rgba(254,254,254,0);
            transform: translate(0,100%);
            transition: all .3s ease-out;
            font-size: 24px;
            display: block;
            position: relative;

            &:hover {
                color: rgba(254,254,254,1);
            }

            .togglemenu--active & {
                transition-delay: .5s;
                color: rgba(254,254,254,.8);
                transform: translate(0,0);
                line-height: 36px;
                @media screen and (min-width: 324px) {
                    line-height: 48px;
                }

                &:hover {
                    color: rgba(254,254,254,1);
                }

            }

        }

        // animated reveal
        &:nth-child(1) a { transition-delay: .2s; }
        &:nth-child(2) a { transition-delay: .25s; }
        &:nth-child(3) a { transition-delay: .3s; }
        &:nth-child(4) a { transition-delay: .35s; }
        &:nth-child(5) a { transition-delay: .4s; }
        &:nth-child(6) a { transition-delay: .45s; }
        &:nth-child(7) a { transition-delay: .5s; }

        // active state
        &--active {
            a {
                color: rgba(254,254,254,1);
                transform: translate(0);
                &:before {
                    width: 100%;
                    opacity: 1;
                }
            }
        }

        @include media-query($mainnav-breakpoint) {
            text-align: left;
            display: inline-block;
            margin: 0 0 0 $inuit-base-spacing-unit;

            a {
                color: rgba(254,254,254,1);
                font-size: 18px;
                transform: translate(0);
                padding: $inuit-base-spacing-unit/2 0 0 0;
                text-shadow: 0 2px 1px rgba(0,0,0,.3);

                &:before {
                    content: '';
                    width: 1px;
                    border-bottom: 1px solid #ccc;
                    opacity: 0;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%);
                    transition: all .3s ease-out;
                    display: block;
                }

                &:hover {
                    color: #fff;

                    &:before {
                        width: 100%;
                        opacity: 1;
                    }
                }
            }
        }
    }
