//<div class="center-div  mobile-menu">
//<a href="#" id="toggle-menu"><span></span></a>
//<h1 id="idTag"><a class="site-title" href="{{ site.baseurl }}/"><span class="hide">{{ site.title }}</span></a></h1>
//<nav class="mainnav">
//<ul class="list-inline">
//                       {% assign pages = site.pages | sort:"sort"  %}
//{% for page in pages %}
//{% if page.title %}
//{% if page.level == 1 %}
//<li class="mainnav__item"><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
//                                                                                                                   {% endif %}
//{% endif %}
//{% endfor %}
//</ul>
//</nav>
//<div class="ib-icon only-mobile">icon</div>
//</div>


.mobile-menu {

    @include media-query(portable) {

        .togglemenu--active & {
            padding: $inuit-base-spacing-unit;
            position: fixed;
            background: $black url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2240px%22%20height%3D%2251px%22%20viewBox%3D%220%200%2040%2051%22%20style%3D%22enable-background%3Anew%200%200%2040%2051%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.st0%7Bclip-path%3Aurl%28%23SVGID_2_%29%3Bfill%3A%23BC2026%3B%7D%20.st1%7Bclip-path%3Aurl%28%23SVGID_4_%29%3Bfill%3A%23FFFFFF%3B%7D%20.st2%7Bclip-path%3Aurl%28%23SVGID_6_%29%3Bfill%3A%23BC2026%3B%7D%20.st3%7Bclip-path%3Aurl%28%23SVGID_8_%29%3Bfill%3A%23BC2026%3B%7D%3C%2Fstyle%3E%3Cg%3E%3Cdefs%3E%3Crect%20id%3D%22SVGID_1_%22%20x%3D%2217%22%20y%3D%229%22%20width%3D%226%22%20height%3D%226%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22SVGID_2_%22%3E%3Cuse%20xlink%3Ahref%3D%22%23SVGID_1_%22%20style%3D%22overflow%3Avisible%3B%22%2F%3E%3C%2FclipPath%3E%3Crect%20x%3D%2212%22%20y%3D%224%22%20class%3D%22st0%22%20width%3D%2216%22%20height%3D%2216%22%2F%3E%3C%2Fg%3E%3Cg%3E%3Cdefs%3E%3Crect%20id%3D%22SVGID_3_%22%20x%3D%2217%22%20y%3D%2218%22%20width%3D%226%22%20height%3D%2223%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22SVGID_4_%22%3E%3Cuse%20xlink%3Ahref%3D%22%23SVGID_3_%22%20style%3D%22overflow%3Avisible%3B%22%2F%3E%3C%2FclipPath%3E%3Crect%20x%3D%2212%22%20y%3D%2213%22%20class%3D%22st1%22%20width%3D%2216%22%20height%3D%2233%22%2F%3E%3C%2Fg%3E%3Cg%3E%3Cdefs%3E%3Cpath%20id%3D%22SVGID_5_%22%20d%3D%22M17%2C44.8H9.4c-1.7%2C0-3.2-1.4-3.2-3.2V9.4c0-1.7%2C1.4-3.2%2C3.2-3.2H17V0H9.4H6.9C3.1%2C0%2C0%2C3.1%2C0%2C7v2.4v32.2V44%20%20%20c0%2C3.8%2C3.1%2C7%2C6.9%2C7h2.4H17L17%2C44.8L17%2C44.8z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22SVGID_6_%22%3E%3Cuse%20xlink%3Ahref%3D%22%23SVGID_5_%22%20style%3D%22overflow%3Avisible%3B%22%2F%3E%3C%2FclipPath%3E%3Crect%20x%3D%22-5%22%20y%3D%22-5%22%20class%3D%22st2%22%20width%3D%2227%22%20height%3D%2261%22%2F%3E%3C%2Fg%3E%3Cg%3E%3Cdefs%3E%3Cpath%20id%3D%22SVGID_7_%22%20d%3D%22M23%2C44.8h7.6c1.7%2C0%2C3.2-1.4%2C3.2-3.2V9.4c0-1.7-1.4-3.2-3.2-3.2H23V0h7.6h2.4C36.9%2C0%2C40%2C3.1%2C40%2C7v2.4v32.2%20%20%20V44c0%2C3.8-3.1%2C7-6.9%2C7h-2.4H23V44.8z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22SVGID_8_%22%3E%3Cuse%20xlink%3Ahref%3D%22%23SVGID_7_%22%20style%3D%22overflow%3Avisible%3B%22%2F%3E%3C%2FclipPath%3E%3Crect%20x%3D%2218%22%20y%3D%22-5%22%20class%3D%22st3%22%20width%3D%2227%22%20height%3D%2261%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
            background-repeat: no-repeat;
            background-position: center bottom 24px;
            z-index: 1000;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

    }

    @include media-query(desk) {
        padding: 0;
    }
}



#toggle-menu {
    display: block;
    height: 32px;
    width: 32px;
    margin: 0 auto 24px auto;
    position: relative;

    span {
        background: #fff;
        width: 100%;
        height: 1px;
        top: 50%;
        transform: translate(0,-50%);
        display: block;
        position: relative;

        &:after,
        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: -8px;
            width: 100%;
            height: 1px;
            background: white;
        }

        &:after {
            top: auto;
            bottom: -8px;
        }

    }

    &:hover {
        span {
            &:before {
                top: -7px;
            }

            &:after {
                bottom: -7px;
            }
        }
    }

    .togglemenu--active & {
        margin: 0 auto 12px auto;

        @media screen and (min-width: 324px) {
            margin: 0 auto 48px auto;
        }

        span {
            background: none;
            &:after,
            &:before {
                top: 50%;
                transform: translate(0,-50%) rotate(45deg);
                transform-origin: center center;
            }
            &:before {
                transform: rotate(-45deg);
            }
        }
    }

    @include media-query(desk) {
        display: none;
    }

}