.newsslider {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    z-index: 10;
    pointer-events: none;
    overflow: hidden;
    @include media-query(portable) {
        display: none;
    }
}

    .newsslider__container {
        position: absolute;
        right: 0;
        max-width: 400px;
        bottom: 48px;
        transition: all .3s ease-in;
        pointer-events: all;
    }

    .newsslider__container--closed {
        transform: translate(100%,0);
    }

    .newsslider__toggle {
        width: 36px;
        height: 36px;
        border: 1px solid $white;
        left: -36px;
        top: 0;
        position: absolute;

        &:after,
        &:before {
            width: 80%;
            left: 10%;
            content: '';
            height: 1px;
            background: $white;
            top: 50%;
            position: absolute;
            transform-origin: center center;
            transform: rotate(45deg);
            transition: all .6s ease-in;
        }

        &:after {
            transform: rotate(-45deg);
        }

        .newsslider__container--closed & {
            &:after,
            &:before {
                transform-origin: left center;
                width: 40%;
                left: 10px;
            }
        }
    }

    .newslist {
        > li {
            background: $white;
            padding: 8px;
            margin-bottom: 1px;

            a {
                color: $black;
                text-decoration: none;
            }

            h3, p {
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 0;
                color: $black;
                text-decoration: none;
            }

            &:hover {
                background: #eee;
            }
        }
    }
