/*! Pushy - v0.9.2 - 2014-9-13
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */

/* Menu Appearance */


.pushy{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    overflow: auto;
    z-index: 8;
    -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */

    ul,
    li {
        padding: 0;
        list-style: none;
    }

    a {
        display: block;
        text-decoration: none;
    }

}

/* Menu Movement */

.pushy-left {
    -webkit-transform: translate3d(300px,0,0);
    -moz-transform: translate3d(300px,0,0);
    -ms-transform: translate3d(300px,0,0);
    -o-transform: translate3d(300px,0,0);
    transform: translate3d(300px,0,0);
}

.pushy-top {

    @media only screen and (max-width: 665px) {
        -webkit-transform: translate3d(0, -100%, 0);
        -moz-transform: translate3d(0, -100%, 0);
        -ms-transform: translate3d(0, -100%, 0);
        -o-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

}

.pushy-open{
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.container-push,
.push-push {
    -webkit-transform: translate3d(-300px,0,0);
    -moz-transform: translate3d(-300px,0,0);
    -ms-transform: translate3d(-300px,0,0);
    -o-transform: translate3d(-300px,0,0);
    transform: translate3d(-300px,0,0);
}


// set z-index for box-shadow
.container-push {
    position: relative;
    z-index: 60 !important;
}

/* Menu Transitions */

.pushy,
#container,
.push {
    -webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
    -moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
    -o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
    transition: transform .2s cubic-bezier(.16, .68, .43, .99);
}

/* Site Overlay */

.site-overlay {
    display: none;
}

.pushy-active .site-overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.5);
    -webkit-animation: fade 500ms;
    -moz-animation: fade 500ms;
    -ms-animation: fade 500ms;
    -o-animation: fade 500ms;
    animation: fade 500ms;
}

//@-keyframes fade {
//    0%   { opacity: 0; }
//    100% { opacity: 1; }
//}
//
//@-moz-keyframes fade {
//    0%   { opacity: 0; }
//    100% { opacity: 1; }
//}
//
//@-webkit-keyframes fade {
//    0%   { opacity: 0; }
//    100% { opacity: 1; }
//}
//
//@-ms-keyframes fade {
//    0%   { opacity: 0; }
//    100% { opacity: 1; }
//}​
//
//@-o-keyframes fade {
//    0%   { opacity: 0; }
//    100% { opacity: 1; }
//}


@media only screen and (min-width: 666px) {

    .menu-btn {
        display: none;
    }

    .pushy-left {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    .pushy-top {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    .pushy {
        text-align: left;
        transform: none;
        position: relative;
        width: auto;
        height: 0;
        overflow: visible;

        ul {

            li.menu--l1 {
                display: block;
                float: left;
            }
        }


    }

}

