@charset "UTF-8";

/* Slider */
$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "←" !default;
$slick-next-character: "→" !default;
$slick-dot-character: "•" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

.slick-list {
    .slick-loading & {
        background: #fff slick-image-url("../img/ajax-loader.gif") center center no-repeat;
    }
}

/* Icons */
@if $slick-font-family == "slick" {

    @font-face {
        font-family: "slick";
        src: slick-font-url("../fonts/slick.eot");
        src: slick-font-url("../fonts/slick.eot?#iefix") format("embedded-opentype"),
            slick-font-url("../fonts/slick.woff") format("woff"), slick-font-url("../fonts/slick.ttf") format("truetype"), slick-font-url("../fonts/slick.svg#slick") format("svg");
        font-weight: normal;
        font-style: normal;
    }

}

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 39%;
    margin-top: -10px;
    padding: 0;
    border: none;
    outline: none;
    &:hover, &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        &:before {
            opacity: $slick-opacity-on-hover;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
}

.slick-prev:before, .slick-next:before {
    font-family: $slick-font-family;
    font-size: 20px;
    line-height: 1;
    color: $slick-arrow-color;
    opacity: $slick-opacity-default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.slider-full {

    cursor: move;

    .slick-prev,
    .slick-next {
        height: 40px;
        width: 40px;
        @include opacity(0);
        @include background-size(40px,40px);
        @include transition(.3s,ease-in-out);
    }

    &:hover {

        .slick-prev {
            @include opacity(.85);
            left: $inuit-base-spacing-unit/2;
        }

        .slick-next {
            @include opacity(.85);
            right: $inuit-base-spacing-unit/2;
        }

    }

    .caption {
        height: 40px;
    }

}

.slider-thumb {

    cursor: pointer;

    .slick-slide {
        margin-right: 10px;
    }

}

.slider-full {
    .slick-prev {
        left: $inuit-base-spacing-unit;
        background: url(../img/icons/arrow-previous.svg) no-repeat center center;
    }

    .slick-next {
        right: $inuit-base-spacing-unit;
        background: url(../img/icons/arrow-next.svg) no-repeat center center;
    }

}

.slider-full img {
    height: auto;
    width: 100%;
    margin-bottom: $inuit-base-spacing-unit/2;
}


/* Dots */

.slick-dots {
    position: absolute;
    bottom: -45px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;
    margin: 0;

    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: $slick-dot-character;
                width: 20px;
                height: 20px;
                font-family: $slick-font-family;
                font-size: $slick-dot-size;
                line-height: 20px;
                text-align: center;
                color: $slick-dot-color;
                opacity: $slick-opacity-not-active;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.slick-active button:before {
            color: $slick-dot-color-active;
            opacity: $slick-opacity-default;
        }
    }
}