<!DOCTYPE html>

<html>

{% include head.html %}

<body>

    <div class="canvas">

        {{ content }}




    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="/js/vendor/slick.min.js"></script>

    <script src="/js/vendor/jquery.waypoints.min.js"></script>

    <script src="/js/vendor/typed.min.js"></script>

    <script src="/js/vendor/vivus.min.js"></script>

    <script src="/js/vendor/velocity.min.js"></script>

    <script src="/js/navbanner.js"></script>

    <script src="/js/loading-animation.js"></script>

    <script src="/js/scripts.js"></script>

    <a href="#top" class="btntop"><span class="hide">naar boven</span></a>

</body>

</html>
