><div class="layout__item  u-1/2-desk">
    <div class="box  box--flush  refindex  animated  os-animation fadeInUp" data-os-animation="fadeInUp" data-os-animation-delay=".2s" style="animation-delay: 0.2s;">
        <a href="{{ fields.path.content }}">
            <img src="{{ fields.field_image.content }}" alt="{{ fields.title.content }}" class="refindex__image" />
            <div class="refindex__caption" style="padding-bottom: 24px;">
                <h3 class="refindex__header">{{ fields.title.content }}</h3>
                {{ fields.field_index_tekst.content }}
            </div>
            <div class="btn  btn--dark" style="opacity: 0;">{{ fields.title.content }}</div>
        </a>
    </div>
</div
