{% if title %}
    <h3>{{ title }}</h3>
{% endif %}
<div class="layout"
    {% for row in rows %}
        {%
            set row_classes = [
                default_row_class ? 'views-row',
            ]
        %}
        {{ row.content }}
    {% endfor %}
></div>