---
layout: page
title: over ons
sort: 6
level: 1
---

<header class="main-header vignette" id="top">

    <div class="mobile-menu  navbanner">

        <div class="center-div">

            <a href="#" id="toggle-menu"><span></span></a>

            <h1 id="idTag"><a class="site-title" href="{{ site.baseurl }}/"><span class="hide">{{ site.title }}</span></a></h1>

            <nav class="mainnav">
                <ul>
                    {% assign pages = site.pages | sort:"sort"  %}
                    {% for page in pages %}
                    {% if page.title %}
                    {% if page.level == 1 %}
                    <li class="mainnav__item"><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </nav>

        </div>

    </div>

    <div class="center-div">

        <div class="pageintro">

            <h1 class="pageintro__title mb-">Wie zijn wij?</h1>

            <!--<nav class="buttongroup   mb+">-->
                <!--<a href="/contact/index.html" class="buttongroup__item  btn  btn&#45;&#45;next-diap"><span>Kennis maken?</span></a>-->
                <!--<a href="/contact/werkenbijibuildings.html" class="buttongroup__item  btn  btn&#45;&#45;next-diap"><span>Werken bij Ibuildings</span></a>-->
            <!--</nav>-->

        </div>

    </div>

</header>

<main class="main-content">

    <div class="section">

        <div class="center-page  center-page--small">


            <h1>Meer over Ibuildings</h1>
            <p>Websites worden applicaties. Gebruikers verwachten een rijke ervaring, op elk device en versmolten met sociale media functies. Moderne websites fungeren als interactief communicatie platform tussen de bezoekers en u als organisatie, maar ook tussen de bezoekers zelf.</p>
            <p>We leven in een spannende tijd te midden van deze democratisering van onderlinge wereldwijde communicatie. Alle bedrijven en organisaties veranderen hierdoor, en hebben behoefte aan flexibele oplossingen om dit te faciliteren.</p>

            <p>Wij bouwen die oplossingen. Met heel veel passie, talent en hulp van de modernste webtechnologieën om zo mensen sneller en effectiever met elkaar te laten communiceren. Welkom op het nieuwe internet! Welkom bij Ibuildings, de bouwers van dat nieuwe internet.</p>
            <p>Benieuwd naar het nieuwe internet? Wat zit er achter, hoe verschilt het van de website die u nu heeft?</p>

        </div>

    </div>

</main>

{% include cta-home.html %}

{% include footer.html %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script src="/js/vendor/slick.min.js"></script>

<script src="/js/vendor/typed.min.js"></script>

<script src="/js/vendor/velocity.min.js"></script>

<script src="/js/vendor/jquery.waypoints.min.js"></script>

<script src="/js/vendor/vivus.min.js"></script>

<!--<script src="/js/scripts.js"></script>-->

<script>

    (function($) {

        // navigation
        var navbanner = $('.navbanner');

        $(window).bind('scroll', function() {
            if ($(window).scrollTop() > 10) {
                navbanner.addClass("navbanner--scrolled");
            } else {
                navbanner.removeClass("navbanner--scrolled");
            }
        });

        $('.shownext').on("click", function (e) {
            $(this).next().addClass('show');
            e.preventDefault();
        });

        if ($(window).scrollTop() > 10) {
            navbanner.addClass("navbanner--scrolled");
        }

    })(jQuery);


    function onScrollInit( items, trigger ) {
        items.each( function() {
            var osElement = $(this),
                    osAnimationClass = osElement.attr('data-os-animation'),
                    osAnimationDelay = osElement.attr('data-os-animation-delay');

            osElement.css({
                '-webkit-animation-delay':  osAnimationDelay,
                '-moz-animation-delay':     osAnimationDelay,
                'animation-delay':          osAnimationDelay
            });

            var osTrigger = ( trigger ) ? trigger : osElement;

            osTrigger.waypoint(function() {
                osElement.addClass('animated').addClass(osAnimationClass);
            },{
                triggerOnce: true,
                offset: '90%'
            });
        });
    }

    onScrollInit( $('.os-animation') );



    $('.refindex').mouseenter(function () {
        $(this).find('.refindex__caption').velocity({
            paddingBottom: 90
        },{
            duration: 25,
            delay: 0
        });

        $(this).find('.btn').velocity({
            opacity:1
        },{
            duration: 25,
            delay: 100
        });
    }).mouseleave(function () {
        $(this).find('.refindex__caption').velocity({
            paddingBottom: 24,
            delay: 100
        });
        $(this).find('.btn').velocity({
            opacity:0
        },{
            duration: 25,
            delay: 0
        });
    });



</script>


