@charset "UTF-8";
// basic settings

@font-face {
    font-family: 'DinPro';
    src: url(../fonts/din_regular.eot);
    src: url(../fonts/din_regular.eot?#iefix) format("embedded-opentype"), url(../fonts/din_regular.woff) format("woff"), url(../fonts/din_regular.ttf) format("truetype"), url(../fonts/din_regular.svg#dinregular) format("svg");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'DinPro';
    src: url(../fonts/din_medium.eot);
    src: url(../fonts/din_medium.eot?#iefix) format("embedded-opentype"), url(../fonts/din_medium.woff) format("woff"), url(../fonts/din_medium.ttf) format("truetype"), url(fonts/din_medium.svg#dinbold) format("svg");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'DinPro';
    src: url(../fonts/din_bold.eot);
    src: url(../fonts/din_bold.eot?#iefix) format("embedded-opentype"), url(../fonts/din_bold.woff) format("woff"), url(../fonts/din_bold.ttf) format("truetype"), url(../fonts/din_bold.svg#dinbold) format("svg");
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'pt_serifitalic';
    src: url(../fonts/pt_serif-web-italic-webfont.eot);
    src: url(../fonts/pt_serif-web-italic-webfont.eot?#iefix) format('embedded-opentype'),
    url(../fonts/pt_serif-web-italic-webfont.woff2) format('woff2'),
    url(../fonts/pt_serif-web-italic-webfont.woff) format('woff'),
    url(../fonts/pt_serif-web-italic-webfont.ttf) format('truetype'),
    url(../fonts/pt_serif-web-italic-webfont.svg#pt_serifitalic) format('svg');
    font-weight: normal;
    font-style: normal;
}