// Settings ---- Sass vars, etc.
// Tools ------- Functions and mixins.
// Generic ----- Generic, high-level styling, like resets, etc.
// Base -------- Unclasses HTML elements (e.g. `h2`, `ul`).
// Objects ----- Objects and abstractions.
// Components -- Your designed UI elements (inuitcss includes none of these).
// Trumps ------ Overrides and helper classes.

// !variables + settings predefined before importing the bower component.!!

///*------------------------------------*\
//    #SETTINGS
//\*------------------------------------*/

$inuit-base-font-size:          16px;
$inuit-base-line-height:        24px;
$inuit-base-text-color:         #4A4A4A;
$inuit-base-background-color:   #fff;
//$inuit-namespace:               null !default;

@import "../../bower_components/inuit-defaults/settings.defaults";

$breakpoints: (
        "palm"          "screen and (max-width: 44.9375em)",
        "lap"           "screen and (min-width: 45em) and (max-width: 63.9375em)",
        "lap-and-up"    "screen and (min-width: 45em)",
        "portable"      "screen and (max-width: 63.9375em)",
        "desk"          "screen and (min-width: 64em)",
        "retina"        "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)"
) !default;

@import "../../bower_components/inuit-responsive-settings/settings.responsive";

///*------------------------------------*\
//    #TOOLS
//\*------------------------------------*/

@import "../../bower_components/inuit-functions/tools.functions";
@import "../../bower_components/inuit-mixins/tools.mixins";

//$inuit-responsive-settings: true;

@import "../../bower_components/inuit-responsive-tools/tools.responsive";

$inuit-use-fractions: true !default;

@import "../../bower_components/inuit-tools-widths/tools.widths";

///*------------------------------------*\
//    #GENERIC
//\*------------------------------------*/

@import "../../bower_components/inuit-normalize/generic.normalize";
@import "../../bower_components/inuit-box-sizing/generic.box-sizing";
@import "../../bower_components/inuit-reset/generic.reset";
@import "../../bower_components/inuit-shared/generic.shared";

///*------------------------------------*\
//    #BASE
//\*------------------------------------*/

$inuit-heading-size-1:  36px !default;
$inuit-heading-size-2:  30px !default;
$inuit-heading-size-3:  24px !default;
$inuit-heading-size-4:  20px !default;
$inuit-heading-size-5:  16px !default;
$inuit-heading-size-6:  14px !default;

@import "../../bower_components/inuit-headings/base.headings";

$inuit-lede-size:   1.125 !default;

@import "../../bower_components/inuit-paragraphs/base.paragraphs";
@import "../../bower_components/inuit-lists/base.lists";
@import "../../bower_components/inuit-images/base.images";
@import "../../bower_components/inuit-page/base.page";

///*------------------------------------*\
//    #OBJECTS
//\*------------------------------------*/


$inuit-enable-block--flush:     false !default;
$inuit-enable-block--tiny:      false !default;
$inuit-enable-block--small:     false !default;
$inuit-enable-block--large:     false !default;
$inuit-enable-block--huge:      false !default;
$inuit-enable-block--center:    false !default;
$inuit-enable-block--right:     false !default;

@import "../../bower_components/inuit-block/objects.block";

$inuit-enable-box--flush:   true;
$inuit-enable-box--tiny:    false !default;
$inuit-enable-box--small:   true;
$inuit-enable-box--large:   true;
$inuit-enable-box--huge:    false !default;

@import "../../bower_components/inuit-box/objects.box";

$inuit-btn-border-width:    0;
$inuit-enable-btn--small:   false !default;
$inuit-enable-btn--large:   false !default;
$inuit-enable-btn--full:    false !default;
$inuit-enable-btn--pill:    false !default;

@import "../../bower_components/inuit-buttons/objects.buttons";

$inuit-enable-flag--tiny:       false !default;
$inuit-enable-flag--small:      false !default;
$inuit-enable-flag--large:      false !default;
$inuit-enable-flag--huge:       false !default;
$inuit-enable-flag--rev:        false !default;
$inuit-enable-flag--flush:      false !default;
$inuit-enable-flag--top:        false !default;
$inuit-enable-flag--bottom:     false !default;
$inuit-enable-flag--responsive: false !default;
$inuit-flag-collapse-at:        720px !default;

@import "../../bower_components/inuit-flag/objects.flag";

$inuit-enable-layout--tiny:     false !default;
$inuit-enable-layout--small:    false !default;
$inuit-enable-layout--large:    false !default;
$inuit-enable-layout--huge:     false !default;
$inuit-enable-layout--flush:    false !default;
$inuit-enable-layout--rev:      false !default;
$inuit-enable-layout--middle:   false !default;
$inuit-enable-layout--bottom:   false !default;
$inuit-enable-layout--right:    false !default;
$inuit-enable-layout--center:   false !default;
$inuit-enable-layout--auto:     false !default;

@import "../../bower_components/inuit-layout/objects.layout";
@import "../../bower_components/inuit-list-bare/objects.list-bare";

$inuit-enable-list-block--tiny:     false !default;
$inuit-enable-list-block--small:    false !default;
$inuit-enable-list-block--large:    false !default;
$inuit-enable-list-block--huge:     false !default;

@import "../../bower_components/inuit-list-block/objects.list-block";

$inuit-enable-list-inline--delimited:   false !default;
$inuit-list-inline-delimit-character:   ",\00A0" !default;

@import "../../bower_components/inuit-list-inline/objects.list-inline";

$inuit-list-ui-border-width:    1px !default;
$inuit-list-ui-border-style:    solid !default;
$inuit-list-ui-border-color:    #ccc !default;

$inuit-enable-list-ui--tiny:    false !default;
$inuit-enable-list-ui--small:   false !default;
$inuit-enable-list-ui--large:   false !default;
$inuit-enable-list-ui--huge:    false !default;

@import "../../bower_components/inuit-list-ui/objects.list-ui";

$inuit-enable-media--tiny:          false !default;
$inuit-enable-media--small:         false !default;
$inuit-enable-media--large:         false !default;
$inuit-enable-media--huge:          false !default;
$inuit-enable-media--rev:           false !default;
$inuit-enable-media--flush:         false !default;
$inuit-enable-media--responsive:    false !default;
$inuit-media-collapse-at:           720px !default;

@import "../../bower_components/inuit-media/objects.media";

$inuit-enable-pack--auto:   false !default;
$inuit-enable-pack--tiny:   false !default;
$inuit-enable-pack--small:  false !default;
$inuit-enable-pack--large:  false !default;
$inuit-enable-pack--huge:   false !default;
$inuit-enable-pack--rev:    false !default;
$inuit-enable-pack--middle: false !default;
$inuit-enable-pack--bottom: false !default;

@import "../../bower_components/inuit-pack/objects.pack";

$inuit-table-border-width:      1px !default;
$inuit-table-border-style:      solid !default;
$inuit-table-border-color:      #ccc !default;
$inuit-enable-table--fixed:     false !default;
$inuit-enable-table--compact:   false !default;
$inuit-enable-table--cosy:      false !default;
$inuit-enable-table--comfy:     false !default;
$inuit-enable-table--cells:     false !default;
$inuit-enable-table--rows:      false !default;
$inuit-enable-table--columns:   false !default;

@import "../../bower_components/inuit-tables/objects.tables";

$inuit-tabs-namespace: $inuit-namespace !default;

@import "../../bower_components/inuit-tabs/objects.tabs";


//Hier custom objecten!!!


///*------------------------------------*\
//    #COMPONTENTS
//\*------------------------------------*/

// hier je eigen componenten.



///*------------------------------------*\
//    #TRUMPS
//\*------------------------------------*/
@import "../../bower_components/inuit-clearfix/trumps.clearfix";
@import "../../bower_components/inuit-headings-trumps/trumps.headings";

$inuit-enable-margins:                  true;
$inuit-enable-margins--tiny:            false !default;
$inuit-enable-margins--small:           true;
$inuit-enable-margins--large:           true;
$inuit-enable-margins--huge:            true;
$inuit-enable-margins--negative:        false !default;
$inuit-enable-margins--negative-tiny:   false !default;
$inuit-enable-margins--negative-small:  false !default;
$inuit-enable-margins--negative-large:  false !default;
$inuit-enable-margins--negative-huge:   false !default;
$inuit-enable-margins--none:            true;
$inuit-enable-paddings:                 true;
$inuit-enable-paddings--tiny:           false !default;
$inuit-enable-paddings--small:          false !default;
$inuit-enable-paddings--large:          true;
$inuit-enable-paddings--huge:           false !default;
$inuit-enable-paddings--none:           true;

@import "../../bower_components/inuit-spacing/trumps.spacing";

$inuit-enable-responsive-margins:                   false !default;
$inuit-enable-responsive-margins--tiny:             false !default;
$inuit-enable-responsive-margins--small:            false !default;
$inuit-enable-responsive-margins--large:            false !default;
$inuit-enable-responsive-margins--huge:             false !default;

$inuit-enable-responsive-margins--negative:         false !default;
$inuit-enable-responsive-margins--negative-tiny:    false !default;
$inuit-enable-responsive-margins--negative-small:   false !default;
$inuit-enable-responsive-margins--negative-large:   false !default;
$inuit-enable-responsive-margins--negative-huge:    false !default;

$inuit-enable-responsive-margins--none:             false !default;

$inuit-enable-responsive-paddings:                  true;
$inuit-enable-responsive-paddings--tiny:            false !default;
$inuit-enable-responsive-paddings--small:           true;
$inuit-enable-responsive-paddings--large:           false !default;
$inuit-enable-responsive-paddings--huge:            false !default;

$inuit-enable-responsive-paddings--none:            false !default;

@import "../../bower_components/inuit-spacing-responsive/trumps.spacing-responsive";

$inuit-widths-columns: (
        1,
        2,
        3,
        4,
        5,
) !default;

@import "../../bower_components/inuit-widths/trumps.widths";

$inuit-widths-columns-responsive: (
        1,
        2,
        3,
        4,
        5,
        12
) !default;

@import "../../bower_components/inuit-widths-responsive/trumps.widths-responsive";

@import "../../bower_components/inuit-print/trumps.print";