@charset "UTF-8";

///*------------------------------------*\
//    #COLORS
//\*------------------------------------*/


$black: #222;
$white: #fff;
$orange: #e6511e;
$blue: #2b5b9d;
$mediumBlue: #b1b6d7;
$lightBlue: #e6e8f2;
$ib_red: #B2111E;
$ib_grey: #414042;
$ib_darkgrey: #2B2E30;
$grey: #535861;
$lightgrey: #dfdfdf;
$mediumgrey: #cdcdcd;
$pk-text-color: $grey;
$font-weight: 300;
$textlink_color: $grey;
$textlink_color_diap: $white;
$textlink_color_hover: $mediumgrey;
$darkgrey: #414042;
$beige: #F0F1F1;

$inuit-base-spacing-unit: $inuit-base-line-height;

    /*doc

        ---
        title: Kleuren
        category: Kleuren - Kleuren
        ---

        |Variable Name | Hex Value | Swatch | Example |
        |------------------|---------|------|----|
        | white            | #ffffff | <div style="background: #ffffff; height: 30px; border: 1px solid $lightgrey"></div> | <div style="color: #ffffff"> Example </div> |
        | black            | #000000 | <div style="background: #000000; height: 30px"></div> | <div style="color: #000000"> Example </div> |

    */

// max-width

$max-layout-width: 1040px;
//@include media-query(lap-and-up) {
//    $max-layout-width: 45em;
//}
//
//@include media-query(desk) {
//    $max-layout-width: 64em;
//}



$base-font-family: 'DinPro', sans-serif;
$brand-color: $orange;
$brand-face: $base-font-family;
$brand-round: 2px;
$heading-font-family: $base-font-family;

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
}

body {
    background: #fff;
    font-family: $base-font-family;
    font-weight: $font-weight
}
