.icon-plus {
    &:before {
        content: "";
        background: transparent url(../img/icons/icon-plus.svg) no-repeat center center;
        @include background-size(100%,100%);
        display: block;
        width: 24px;
        height: 24px;
        position: absolute;
        left: 8px;
        top: 8px;
    }
}



