/*------------------------------------*\
    #PUSH-RESPONSIVE
\*------------------------------------*/

@mixin inuit-push($inuit-widths-columns, $inuit-widths-breakpoint: null) {

    // Loop through the number of columns for each denominator of our fractions.
    @each $inuit-widths-denominator in $inuit-widths-columns {

        // If we’re trying to make wholes, just spit a 100% width utility out
        // one time only.
        @if ($inuit-widths-denominator == 1) {
            .#{$inuit-widths-namespace}u-1#{$inuit-widths-delimiter}1#{$inuit-widths-breakpoint} {
                margin-left: 100% !important;
            }
        } @else {

            // Begin creating a numberator for our fraction up until we hit the
            // denominator.
            @for $inuit-widths-numerator from 1 to $inuit-widths-denominator {

                // Build a class in the format `.u-3/4` or `.u-3-of-4`.
                .#{$inuit-widths-namespace}push-#{$inuit-widths-numerator}#{$inuit-widths-delimiter}#{$inuit-widths-denominator}#{$inuit-widths-breakpoint} {
                    margin-left: ($inuit-widths-numerator / $inuit-widths-denominator) * 100% !important;
                }

            }

        }

    }

}



/**
 * Responsive pushes to indent grid items based on your responsive settings.
 */

// By default we will create wholes, halves, thirds, quarters, and fifths.
// Predefine this Map to override.
$inuit-widths-columns-responsive: (
        1,
        2,
        3,
        4,
        5,
) !default;

// Loop over our breakpoints defined in _settings.responsive.scss
@each $breakpoint in $breakpoints {

    // Get the name of the breakpoint.
    $alias: nth($breakpoint, 1);

    @include media-query($alias) {

        // Loop through each of our column sizes and generate its responsive width
        // classes.
        @each $inuit-widths-column in $inuit-widths-columns-responsive {
            @include inuit-push($inuit-widths-column, -#{$alias});
        }

    }

}
