/*doc
---
title: Typography2
category: Typography2 - meta text
---

```html_example

    <div class="box--article__meta">
        <time datetime="2014-11-16T08:11:49+0100">08:11 &bull; 16 november 2014</time>
    </div>

```

*/



strong {
    font-weight: 500;
}











%body_typography {
    font-size: 16px;
    line-height: 20px;
}

%body_small {
    font-size: 14px;
    line-height: 20px;
}







//<blockquote class="quote">
//<div class="quote__text">“Deze ontwikkeling zal een nieuwe industrieële revolutie teweeg brengen.”</div>
//<div class="quote__author">Jeremy Rifkin Janssen, Econoom</div>
//</blockquote>


.quote {

    color: grey;
    text-align: center;
    max-width: 540px;
    margin: 0 auto;

    :before {
        content: "";
        height: 0px;
        border-top: 1px solid grey;
        max-width: 200px;
        display: block;
        margin: 0 auto;
        position: relative;
        top: -20px;
    }

}

    .quote__text {
        font-size: 24px;
        line-height: 29px;
        font-style: italic;
        font-weight: 500;
    }

    .quote__author {

        font-size: 14px;
        padding-top: 30px;

        &:before {
        }

    }


/* let anchors inherit parent textcolor (in stead of ugly blue) */
a { color: inherit;
    text-decoration: none;
}
