/* Messages */
.messages
  padding: 9px
  margin: 1em 0
  color: #003366
  background-color: #bbddff
  border: 1px solid #aaccee

.messages--warning
  color: #884400
  background-color: #ffee66
  border-color: #eedd55

.messages--error
  color: white
  background-color: #ee6633
  border-color: #dd5522
  p.error
    color: #a51b00

.messages--status
  color: #336600
  background-color: #ccff88
  border-color: #bbee77
