@charset "UTF-8";

@import "settings/fonts";

@import "settings/inuit.settings";

@import "settings/vars";

@import "global/mixins";

@import "global/animation";

@import "global/ratio";

@import "components/webelement/socialicons";

@import "components/webelement/idtag";

@import "components/mobile-menu";

@import "components/mainnav";

@import "components/blackboard";

@import "components/news-slider";

@import "layout/grids/layout-opengrid";

@import "global/trumps.push-responsive";

@import "components/slick";

@import "components/slick-theme";

@import "components/webelement/flexslider";

@import "global/helpers";

body {
    background: #fefefe;
}

.canvas {
    z-index: 0;
    position: relative;
}

.main-content {
    background: white;
}

.ratio-landscape:before {
    padding-top: 56%;
}

.togglemenu--active {
    overflow: hidden;
}



/**********************************
* slider styles
**********************************/

.slick-slide {

    .slider--hero & {
        img {
            //position: absolute !important;
        }
    }
}

    .slider__item--empty {
        &:after {
            display: none;
        }
    }


.slider__text {
    color: #fff;
    position: relative;
    top: 116px;
    max-width: 100%;
    font-size: 18px;
    line-height: 28px;
    z-index: 100;

    h2 {
        font-size: 38px;
        line-height: 36px;
        font-weight: 400;
    }

    a {
        text-decoration: none;
        color: #fff;
    }

    @include media-query(lap-and-up) {
        max-width: 70%;
        font-size: 22px;
        line-height: 36px;

        h2 {
            font-size: 38px;
            line-height: 36px;
        }
    }

    @include media-query(desk) {
        max-width: 50%;
    }
}


.slider--hero--logos {
    top: -24px;
    position: relative;

    .slick-list {
        padding-top: 24px !important;
    }

    .slider__item {
        padding: $inuit-base-spacing-unit;
        outline: none;

        img {
            height: 60px;
            width: auto;
        }

        &--empty {
            padding: 0;
        }

    }

    .slick-active {
        position: relative;
        &:after {
            position: absolute;
            border: solid transparent;
            border-bottom-color: #fff;
            content: '';
            top: -28px;
            left: 50%;
            transform: translate(-50%,0);
            right: auto;
            height: 0;
            width: 0;
            margin: 0;
            border-width: 14px;
            pointer-events: none;
        }
    }
}

.ratio-landscape {
    max-height: 800px;
}

.alignmiddle {
    height: 100%;
    position: relative;

    > div {
        top: 50%;
        transform: translateY(-70%);
    }
}

.cta-slider {
    opacity: 0;
    transition: opacity 1s ease-out;
    font-size: 24px;
    line-height: 32px;
}


.notification {
    position: absolute;
    right: 0;
    top: 200px;
}

.typewriter {
    font-weight: 300;
    font-size: 32px;
    line-height: 48px;
    white-space: nowrap;
    @include media-query(desk) {
        font-size: 44px;
        line-height: 74px;
    }
}




/**********************************
* buttons
**********************************/

.btn {
    padding: 8px 24px;
    color: white;
    background: $darkgrey;
    position: relative;

    &--contact {
        margin: 0 auto;
        display: table;

        .togglemenu--active & {
            display: none;
        }

        @include media-query(lap-and-up) {
            display: none;
        }
    }

    &--outline {
        border: 1px solid $white;
        color: $white;
        border-radius: 2px;
        background: none;
    }

    &--anchor {
        border: 1px solid $white;
        text-align: center;
        background: transparent;
        overflow: hidden;
        position: relative;
        transition: all .2s ease-out;
        flex-grow: initial;
        flex-basis: 120px;
        border-radius: 2px;

        &:before {
            content: url(../images/icons/min/icon-arrow-down.svg);
            position: absolute;
            left: 10px;
            top: -24px;
            width: 18px;
            height: 18px;
            text-indent: 0;
            transition: all .2s ease-out;
        }

        span {
            display: block;
            position: relative;
            transition: all .2s ease-out;
        }

        &:hover,
        .touch & {

            span {
                transform: translate(6px,0);
            }

            &:before {
                top: 10px;
            }
        }
    }

    &--next {
        border: 1px solid $darkgrey;
        text-align: center;
        background: $ib_darkgrey;
        overflow: hidden;
        position: relative;
        transition: all .2s ease-out;
        flex-grow: initial;
        flex-basis: 120px;
        border-radius: 2px;

        &:before {
            content: url(../images/icons/min/icon-arrow-down.svg);
            transform: rotate(-90deg) translate(0,-24px);
            opacity: 0;
            position: absolute;
            left: 10px;
            top: 12px;
            width: 18px;
            height: 18px;
            text-indent: 0;
            transition: all .2s ease-out;
        }

        span {
            display: block;
            position: relative;
            transition: all .2s ease-out;
        }

        &:hover,
        .touch & {

            span {
                transform: translate(10px,0);
            }

            &:before {
                transform: rotate(-90deg) translate(0,0);
                opacity: 1;
            }
        }
    }

    &--next-diap {
        border: 1px solid transparent;
        text-align: center;
        background: transparent;
        overflow: hidden;
        position: relative;
        transition: all .2s ease-out;
        flex-grow: initial;
        flex-basis: 120px;
        border-radius: 2px;

        &:before {
            content: url(../images/icons/min/icon-arrow-down.svg);
            transform: rotate(-90deg) translate(0,-24px);
            opacity: 0;
            position: absolute;
            left: 10px;
            top: 12px;
            width: 18px;
            height: 18px;
            text-indent: 0;
            transition: all .2s ease-out;
        }

        span {
            display: block;
            position: relative;
            transition: all .2s ease-out;
        }

        &:hover,
        &.active {

            border: 1px solid rgba(254,254,254,.4);

            span {
                transform: translate(10px,0);
            }

            &:before {
                transform: rotate(-90deg) translate(0,0);
                opacity: 1;
            }
        }
    }

    &--dark {
        background: $ib_darkgrey;
        color: #fff;
        z-index: 1;
        border-radius: 2px;

        &:after {
            z-index: 0;
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background: rgba(0,0,0,.1);
        }

        &:hover {
            transform: translateY(-2px);
            &:after {
                transform: translateY(3px);
            }
        }
    }

}

.content-figure {
    background: $ib_darkgrey;
    text-align: center;
    padding: $inuit-base-spacing-unit*2;
}

/*hr*/.gradient {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0));
    max-width: 800px;
    margin: $inuit-base-spacing-unit/2 auto;
    @include media-query(lap-and-up) {
        margin: $inuit-base-spacing-unit auto;
    }
}



/**********************************
* hoverbox styles
**********************************/

.hoverbox {
    position: relative;
    padding-bottom: $inuit-base-spacing-unit*3 !important;
    cursor: pointer;

    a {
        text-decoration: none;
    }

    svg {
        stroke: #fff;
    }



    &:hover {
        background-color: rgba(0,0,0,.1);

        svg {
            stroke: #333;
        }

        .btn {
            visibility: visible;
            @include opacity(1);
        }

        .icon {

            .section--dark & {
                path {
                    stroke: $grey;
                }
            }
        }

    }

    .section--dark & {
        color: white;
        a {
            color: white;
        }

        .btn {
            background: white;
            color: $ib_darkgrey;
        }

        &:hover {
            background: white;

            h3, p {
                color: $grey;
            }

            .btn {
                background: $ib_darkgrey;
                color: white;
            }
        }
    }
}

.layout--contactpersonen {
    .layout__item {
        text-align: center;
        max-width: 180px;
        margin: 0 auto;
    }
}

.box--hero__canvas {
    background: darken($black, 20%);
    width: 100%;
}


/**********************************
* pane styling
**********************************/

.pane {

    > a {
        color: $ib_darkgrey;
    }
    position: relative;
    padding-bottom: $inuit-base-spacing-unit*3 !important;
    @extend .box;

    &--grey {
        position: relative;
        background-color: rgba(0,0,0,.1);
        padding-bottom: $inuit-base-spacing-unit*3 !important;
        border: $inuit-base-spacing-unit/2 solid white;
    }

    &--white {
        background: white;
    }

}

    .pane__header {
        margin-bottom: 0;
        font: 600 16px/24px $heading-font-family;
        .pane--white & {
            color: $ib_darkgrey;
        }
    }

    .pane__icon {
        margin-bottom: $inuit-base-spacing-unit/2;
    }

    .pane__body {
        .pane--white & {
            color: $ib_darkgrey;
        }
    }

    .pane__button {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: $inuit-base-spacing-unit;
    }


/**********************************
* navbanner
**********************************/

.navbanner {
    padding: 24px 24px 0 24px;
    position: absolute;
    width: 100%;
    left: 0%;
    top: 0;
    z-index: 100;

    @include media-query(desk) {

        background: transparent;
        position: fixed;
        z-index: 100;
        transition: all .3s ease-in-out;

        &--scrolled {
            background-color: rgba(0,0,0,.90);
            > .center-div {
                border: 0 !important;
            }
        }

        > .center-div {
            border-bottom: 1px solid rgba(254,254,254,.3);
            text-align: right;
            padding-bottom: $inuit-base-spacing-unit;
        }
    }
}

.center-page--small {
    max-width: 600px;
}

.cursor {
    display: inline !important;
}

.intro-slider {
    background: #333;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.vignette {
    box-shadow: inset 0 3em 8em 3em rgba(0,0,0,0.5);
}

.photo-vignette:after {
    content: '';
    box-shadow: inset 0 0 25em 1em #000;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.slider__item {
    cursor: url(..../images/icons/min/slider-arrows.svg), auto;
}
    .slider-item {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

    }

.mobile-start {
    background: $black;
    text-align: center;
    padding: 148px $inuit-base-spacing-unit $inuit-base-spacing-unit $inuit-base-spacing-unit;
    color: #fff;
    h2 {
        font-weight: 300;
        font-size: 1.5em;
        line-height: 1.8em;
    }
}


/**********************************
* icon styling
**********************************/

.icon {
    display: block;
    height: 92px;
    width: auto;
    margin: 0 auto $inuit-base-spacing-unit auto;
    background-position: center center;
    background-size: contain;
    path {
        stroke: $grey;
        fill: transparent;
    }
    .section--dark & {
        path {
            stroke: #fff;
        }
    }

    &--medium {
        height: 118px;
    }

    &--small {
        height: 18px;
        width: auto;
    }

}

.icon-drupal {

    &:hover {
    }

}




/**********************************
* flexbox
**********************************/

.pillars {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;
    margin: 0 ( 0  - $inuit-base-spacing-unit/2);

    // no support for flexbox?
    .no-flexbox & {
        display: block;
    }

    &--25 {

        @include media-query(lap-and-up) {
            .pillars__item {
                width: calc(25% - #{$inuit-base-spacing-unit});
            }
        }

    }

    &--50 {

        @include media-query(lap-and-up) {
            .pillars__item {
                width: calc(50% - #{$inuit-base-spacing-unit});
            }
        }

    }

}

.pillars__item {
    margin: 0 $inuit-base-spacing-unit/2;
    width: 100%;

    @include media-query(lap-and-up) {
        width: calc(33.3332% - #{$inuit-base-spacing-unit});
    }

    // no support for flexbox?
    .no-flexbox & {
        display: block;
        float: left;
    }

}

//
//.pillars {
//    display: flex;
//    flex-wrap: wrap;
//    margin: 0 -#{$inuit-base-spacing-unit};
//}
//
//    .pillars__item {
//        margin: 0 $inuit-base-spacing-unit/2 $inuit-base-spacing-unit/2 $inuit-base-spacing-unit/2;
//        @include media-query(lap-and-up) {
//            flex: 1 0 calc(33.3332% - #{$inuit-base-spacing-unit});
//            //margin: 0 $inuit-base-spacing-unit/2 $inuit-base-spacing-unit/2 $inuit-base-spacing-unit/2;
//            max-width: calc(33.3332% - #{$inuit-base-spacing-unit});
//        }
//    }


// 2 columns
.pillars--50 {
    @include media-query(lap-and-up) {
        > .pillars__item {
            flex: 1 0 calc(50% - #{$inuit-base-spacing-unit}*2);
            max-width: calc(50% - #{$inuit-base-spacing-unit});
            margin: 0 $inuit-base-spacing-unit/2 $inuit-base-spacing-unit/2 $inuit-base-spacing-unit/2;
        }
    }
}

// no grid margins
.pillars--half {
    margin: 0 -$inuit-base-spacing-unit/2;

    @include media-query(lap-and-up) {
        > .pillars__item {
            flex: 1 0 calc(33.333% - #{$inuit-base-spacing-unit}/2);
            margin: 0 $inuit-base-spacing-unit/2 $inuit-base-spacing-unit/2 $inuit-base-spacing-unit/2;
        }
    }
}

// half grid margins
.pillars--flush {
    margin: 0;
    > .pillars__item {
        margin: 0;
        flex: 1 0;
    }
}

.pillars--center {
    justify-content: center;
}

.pillars--basis120 {
    flex: initial;
    margin: 0;

    > .pillars__item {
        flex: initial;
        margin: 0 18px 18px 18px;
    }

    @include media-query(lap-and-up) {

    }

}


.buttongroup {
    max-width: 320px;
    margin: 0 auto;
    padding: $inuit-base-spacing-unit;

    @include media-query(palm) {

        > .btn {
            border-radius: 0;
            width: 100%;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
            border-bottom: 1px solid #fff;

            &:first-child {
                border-top: 1px solid #fff;
                border-top-left-radius: 2px;
                border-top-right-radius: 2px;
            }

            &:last-child {
                border-bottom: 1px solid #fff;
                border-bottom-left-radius: 2px;
                border-bottom-right-radius: 2px;
            }
        }

    }

    @include media-query(lap-and-up) {
        text-align: center;
        max-width: 100%;

        > .btn {
            display: inline-block;
            margin: 0 $inuit-base-spacing-unit/2;
        }

    }

}


.separator-line {
    border-bottom: 1px solid $lightgrey;
}


.main-header {
    background-image: url(../images/pattern-dark-line.png);
    background-color: $darkgrey;
    position: relative;
    z-index: 1;
    @include clearfix();

    @include media-query(palm) {
        .ratio-landscape {
            &:before {
                padding-top: 90%
            }
        }

    }
}


.section__header {
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    font-weight: 500;
    @include media-query(lap-and-up) {
        font-size: 32px;
        line-height: 36px;
    }

    .section--white & {
        color: $ib_red;
    }

    &--large {
        color: $ib_red;
        font-size: 32px;
        line-height: 44px;
    }


}

.section__header--cta {
    color: #fff;
    font-size: 32px;
    line-height: 32px;
    @include media-query(lap-and-up) {
        font-size: 40px;
        line-height: 40px;
    }
}

.section__header--red {
    color: $ib-red;
}



/**********************************
* video container
**********************************/

.video-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-image: url(../images/pattern-dark-line.png);

    > video {
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        height: auto;
        top: 50%;
        transform: translateY(-50%);
        @include media-query(desk) {
            display: block;
        }
    }
}

.trackrecord {
    text-align: center;
    font-weight: 300;
}

.formula {
    background: $lightgrey;
    max-width: 560px;
    margin: 0 auto;
    font-family: pt_serifitalic, serif;
    font-size: 28px;
    line-height: 36px;
    color: #979797;
}


.initial-hide {
    max-height: 1px;
    @include transition(1s);
    overflow: hidden;

    &.show {
        max-height: 1000px;
    }
}

.gamma {
    font-weight: 600;
}

.cta-form {
    max-width: 540px;
    margin: 0 auto;
}





.call-to-action {
    background-color: $ib_red;
    color: $white;
    text-align: center;

    a {
        text-decoration: none;
        color: $white;
    }
}

.blog-content {
    text-align: left;
}


/**********************************
* site footer
**********************************/

.site-footer {
    padding: $inuit-base-spacing-unit * 2;
    line-height: 1.5em;
    @include media-query(palm) {
        text-align: center;
        padding: $inuit-base-spacing-unit;

        .layout__item {
            text-align: center;
        }
    }

    h3 {
        line-height: $inuit-base-line-height;
    }

    background-color: $ib_darkgrey;
    color: $white;

    .btn {
        background: $ib_grey;
    }

}

    .social-links {
        a {
            width: 54px;
            height: 54px;
        }
    }



/**********************************
* facts & figures Ibuildings
**********************************/

.metrics  {
    text-align: center;

    @include media-query(palm) {
        .layout__item {
            text-align: center;
        }
    }

    @include media-query(lap-and-up) {
        text-align: left;
    }

    .number {
        font-size: 36px;
        font-weight: bold;
        display: block;
    }
}




/**********************************
* technology slider styles
**********************************/

.technologies {
    background: #D9D7D9;
    background: $lightgrey;

    img {
        height: 40px;
        width: auto;
    }

    .slick-list {
        margin-bottom: $inuit-base-spacing-unit;
    }

    .slick-dots {
        margin-bottom: 0;
        bottom: -24px;
    }

    .slick-slide {
        outline: 0;
        margin: 0 $inuit-base-spacing-unit;
    }
}

.slider--hero--logos {
    box-shadow:  0px 2px 8px 0px rgba(0,0,0,0.10);
    .slider__item img {
        cursor: pointer;
    }
}

.slider--hero {

    .slider__item .slider__image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        max-width: none;

        &.cursor {
            position: relative;
            top: -4px;
        }
    }
}




/**********************************
* pageintro
**********************************/

.pageintro {
    text-align: center;
    color: #fff;
    padding: $inuit-base-spacing-unit*8 $inuit-base-spacing-unit $inuit-base-spacing-unit*2 $inuit-base-spacing-unit;
    max-width: 740px;
    margin: 0 auto;

}

    .pageintro__title {
        font-weight: 300;
    }

    .pageintro__lede {

    }


/**********************************
* os animation
**********************************/

.os-animation{
    opacity: 0;
}

.os-animation.animated{
    opacity: 1;
}


/**********************************
* references index list
**********************************/

.refindex {
    position: relative;
    margin-bottom: $inuit-base-spacing-unit;
    padding-bottom: $inuit-base-spacing-unit*2;
    text-align: left;
    color: $darkgrey;

    .btn {
        opacity: 0;
        position: absolute;
        @include transition;
        transition-delay: .2s;
        bottom: $inuit-base-spacing-unit;
        left: $inuit-base-spacing-unit;
    }

    // always show button on touch.
    .touch & {
        padding-bottom: 148px;
        .btn {
            opacity: 1;
        }
    }

}

    .refindex__image {
        max-width: 100% !important;
        width: 100% !important;
        height: auto;
    }

    .refindex__header {
        margin-bottom: 0;
        color: $darkgrey;
    }

    .refindex__date {
        position: absolute;
        left: $inuit-base-spacing-unit;
        top: $inuit-base-spacing-unit;
        background: #fff;
        color: $darkgrey;
        padding: 4px;
    }

    .refindex__caption {
        background: #fff;
        color: $darkgrey;
        position: absolute;
        width: 100%;
        bottom: -1px; // remove mysterious gap
        left: 0;
        padding: $inuit-base-spacing-unit;
        @include transition;

        p {
            margin-bottom: 0;
        }

        // remove paragraph for mobile
        @include media-query(palm) {
            p {
                display: none;
            }
        }

        // on touch devices no hovers

        .touch & {
            padding-bottom: 90px;
            .btn {
                opacity: 1;
            }
        }
    }


/**********************************
* intro references
**********************************/

.refintro {
    background: $white;
    color: $darkgrey;
    padding: $inuit-base-spacing-unit*3 $inuit-base-spacing-unit $inuit-base-spacing-unit $inuit-base-spacing-unit;

    @include media-query(lap-and-up) {
        padding-top: $inuit-base-spacing-unit*7;
    }
}

    .refintro__header {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: $inuit-base-spacing-unit;
    }

    .refintro__image {
        max-height: 364px;
        width: auto;
    }

    .refintro__header {
        text-align: center;
        color: $white;
        .refintro__title {
            font-size: 36px;
            text-transform: uppercase;
            font-weight: 400;
        }
    }

// custom section box

.layout__item {
    text-align: left;
}

.reference {
    text-align: left;
}


/**********************************
 * call styling
 **********************************/

.tel-number {
    color: $ib_darkgrey;

    .site-footer & {
        color: #fff;
    }
}



/**********************************
 * sections
 **********************************/

.section {
    text-align: center;
    @include clearfix;
    padding: $inuit-base-spacing-unit  $inuit-base-spacing-unit;

    @include media-query(lap-and-up) {
        padding: $inuit-base-spacing-unit*2  $inuit-base-spacing-unit*2;
    }

    &--figure {
        background: $ib-darkgrey;
        text-align: center;
    }

    &--code {
        text-align: left;
        background: $ib-darkgrey;

        pre {
            margin: 0;
        }
    }

    &--author {
        background: $lightgrey;
        text-align: center;
        padding: $inuit-base-spacing-unit  $inuit-base-spacing-unit;
        @include media-query(lap-and-up) {
            padding: $inuit-base-spacing-unit*2  $inuit-base-spacing-unit*2;
        }
    }

    &--dark {
        background-image: url(..../images/pattern-dark-line.png);
        background-color: $darkgrey;
        color: #fff;
        text-align: center;

        svg.icon path {
            stroke: #fff;
        }

    }

    &--white {
        background: white;
        text-align: center;
    }

    &--beige {
        background: $beige;
    }

    &--intro {
        text-align: center;
        @extend .section--white;
    }

    &--klanten {

        img {
            width: 116px;
            height: auto;
        }

        .layout__item {
            text-align: center;
            //flex-basis: 400px;
        }
    }

}

/**********************************
 * company profile for references
 **********************************/

.refprofile {
    background: $lightgrey;
}

    .refprofile__image {
        margin: 0 auto;
        display: block;
    }

    .refprofile__body {
        background: $lightgrey;

        p:last-child {
            margin-bottom: 0;
        }

        @include media-query(lap-and-up) {
            -webkit-column-count: 2;
            column-count: 2;
            -webkit-column-gap: $inuit-base-spacing-unit;
            column-gap: $inuit-base-spacing-unit;
        }
    }



/********************
 * blockquotes
 *******************/

.blockquote {
    font-size: 24px;
    line-height: 42px;
    color: $ib_red;
    font-weight: 600;
    text-align: center;

    &--postit {
        float: right;
        margin-left: $inuit-base-spacing-unit;
        padding: $inuit-base-spacing-unit*2;
        position: relative;
        width: 300px;
        background: url(../images/icons/min/icon-quotes.svg) no-repeat left 12px top 12px, white url(../images/icons/min/icon-quotes.svg) no-repeat right 12px bottom 12px;
    }

    &--reference {
        font-size: 22px;
        line-height: 28px;
        color: #fff;

        .blockquote__author {
            font-size: 16px;
            line-height: 24px;
        }

    }

}

    .blockquote__author {
        font-size: 18px;
        font-style: italic;
        line-height: 24px;
        display: block;
    }


.tab-content {
    display: none;

    &:first-child {
        display: block;
    }
}

.text-separator {
    display: block;
    width: 240px;
    margin: $inuit-base-spacing-unit*2 auto;
    height: 8px;
    background: $lightgrey;
    border: 0;
}

.page-header__banner .ratio {
    min-height: 560px;
    @include media-query(lap-and-up) {
        max-height: 500px;
    }
}

.exposed-filter {
    text-align: center;
    margin: 0 auto;
    max-width: 780px;
    padding-bottom: 36px;
}

#views-exposed-form-blog-page .form-type-checkbox {
    float: none;
    display: inline-block;
    margin: 0 2px 12px 2px;
    width: auto;
}

#views-exposed-form-blog-page input[type="checkbox"] {
    display: none;
}

#views-exposed-form-blog-page .form-type-checkbox label {
    border: 1px solid $darkgrey;
    text-align: center;
    padding: 4px 24px;
    color: $darkgrey;
    display: inline-block;
    float: none;
    margin: 0 2px;
    border-radius: 18px;
    background-clip: padding-box;
}

#views-exposed-form-blog-page .form-type-checkbox input[type="checkbox"]:checked + label {
    border: 1px solid $darkgrey;
    background: $darkgrey;
    text-align: center;
    color: white;
}

.ctools-auto-submit-click {
    display: none !important;
}

.tabs-menu {
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;

    > li {
        position: relative;
        display: inline-block;
        border-radius: 4px;
        margin: 0 8px;
        border: 1px solid #fff;
        top: 4px;

        &.current {
            border: 1px solid $lightgrey;
            background: $lightgrey;
            a {
                color: $darkgrey;
            }
        }

        &:hover {
            border: 1px solid $lightgrey;
        }

    }

    > li a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
        color: $darkgrey;
        padding: $inuit-base-spacing-unit/2 $inuit-base-spacing-unit;
        display: block;
    }

}

.tab-content {
    padding: $inuit-base-spacing-unit*2 $inuit-base-spacing-unit;
    background: $lightgrey;
    @extend .box;
}

.btntop {
    display: none;
    border: 1px solid #999999;
    border-radius: 2px;
    width: 32px;
    height: 32px;
    position: fixed;
    bottom: 12px;
    right: 12px;
    overflow: hidden;
    transition: all .2s ease-out;
    opacity: .6;

    &:before {
        content: url(../images/icons/min/icon-arrow-up.svg);
        position: absolute;
        left: 9px;
        bottom: 0;
        text-indent: 0;
        transition: all .2s ease-out;
        opacity: .6;
    }

    &:hover {
        opacity: 1;
        &:before {
            bottom: 2px;
            opacity: 1;
        }
    }
}



#performance_hype_container {
    transform: scale(.8,.8);
}


/********************
 * contactpersoon
 *******************/

.contactpersoon {
    text-align: center;
}

    .contactpersoon__image {
        border-radius: 50%;
        margin-bottom: $inuit-base-spacing-unit/2;
    }

    .contactpersoon__naam {
        margin-bottom: $inuit-base-spacing-unit/2;
    }

    .contactpersoon__action {
        position: relative;
        height: 24px;
        overflow: hidden;

        ul {
            margin: 0 auto;
            padding: 0;
            text-align: center;

            > li:first-child {
                transition-delay: .3s;
            }

            > li {
                transition: all .3s ease-in-out;
                top: -24px;
                position: relative;
                display: inline-block;
                .contactpersoon:hover & {
                    top: 0;
                }
            }

        }

    }




/********************
 * formulieren
 *******************/

label {
    display: block;
}

.textfield,
.textarea {
    color: $grey;
    padding: 6px 12px;
    @include rounded(2px);
    border: 0;
    margin-bottom: $inuit-base-spacing-unit/1.5;
    width: 100%;
}

.textarea {
    height: 124px;
}

.form-item {
    margin-bottom: $inuit-base-spacing-unit;
}

input[type='text'], input[type='email'], textarea {
    border: 1px solid $mediumgrey;
    padding: 12px;
    border-radius: 3px;
    width: 100%;
    outline: 0;

    &:focus {
        border: 1px solid $grey;
    }
}

input[type='submit'] {
    @extend .btn--dark;
    @extend .btn;
    float: right;
}


/********************
 * authorbox (blog)
 *******************/

.author {
    text-align: left;
}

    .author__image {
        border-radius: 50%;
        width: 112px;
        margin-right: $inuit-base-spacing-unit;
        float: left;
    }

    .author__body {
        overflow: hidden;
        p {
            margin: 0;
        }
    }

    .author__title {
        margin: 0;
    }