// Layout
// --------
// Using a negative margin technique, adapted from ZEN. The page is loaded by
// this order:

// 1. Header
// 2. Content
// 3. Navigation menus
// 4. Sidebar Left
// 5. Sideabr Right
// Layout rules.
// (Disclaimer: do not change if you're not sure you know what you're doing.)

.container
  @include outer-container
  margin-left: auto
  margin-right: auto
  width: auto

#content
  .no-sidebars &
    // 100% width for mobile devices.
    @include fill-parent
    // Same logic for tablets.
    @include media($tablet)
      @include span-columns(8)
    // Same logic for desktop.
    @include media($desktop)
      @include span-columns(15)

  .one-sidebar.sidebar-second &
    // 100% width for mobile devices.
    @include fill-parent
    // Same logic for tablets.
    @include media($tablet)
      @include span-columns(6)
    // Span this div 9 columns wide.
    @include media($desktop)
      @include span-columns(11)

  .one-sidebar.sidebar-first &
    // 100% width for mobile devices.
    @include fill-parent
    // Same logic for tablets.
    @include media($tablet)
      @include span-columns(6)
      @include shift(2)
    // Span this div 7 columns wide.
    @include media($desktop)
      @include span-columns(12)
      @include shift(3)

  .two-sidebars &
    // 100% width for mobile devices.
    @include fill-parent
    // Same logic for tablets.
    @include media($tablet)
      @include span-columns(4)
      @include shift(2)
    // Span this div 7 columns wide.
    @include media($desktop)
      @include span-columns(8)
      // Shift it to the right 2 columns to accommodate for the first sidebar.
      @include shift(3)

#sidebar-first
  // 100% width for mobile devices.
  @include fill-parent
  // Similar logic for tablets.
  @include media($tablet)
    @include span-columns(2)
    @include shift(-6)
    .sidebar-first &
      @include shift(-8)
  @include media($desktop)
    // Span this div 2 columns wide.
    @include span-columns(3)
    // Shift it to the left 9 columns to place it in the far left column.
    @include shift(-11)
    .sidebar-first &
      @include shift(-15)

#sidebar-second
  // 100% width for mobile devices.
  @include fill-parent
  // Similar logic for tablets.
  @include media($tablet)
    @include span-columns(2)
    @include shift(0)
  @include media($desktop)
    // Span this div 3 columns wide.
    @include span-columns(4)
    @include shift(0)

#footer
  float: none
  clear: both

// Layout Helpers
#header,
#footer,
.mission,
.breadcrumb,
.node
  clear: both