html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body:before {
  background-image: -webkit-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 20%, transparent 20%, transparent 26.66667%, #EEEEEE 26.66667%, #EEEEEE 46.66667%, transparent 46.66667%, transparent 53.33333%, #EEEEEE 53.33333%, #EEEEEE 73.33333%, transparent 73.33333%, transparent 80%, #EEEEEE 80%, #EEEEEE 100%, transparent 100%);
  background-image: -moz-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 20%, transparent 20%, transparent 26.66667%, #EEEEEE 26.66667%, #EEEEEE 46.66667%, transparent 46.66667%, transparent 53.33333%, #EEEEEE 53.33333%, #EEEEEE 73.33333%, transparent 73.33333%, transparent 80%, #EEEEEE 80%, #EEEEEE 100%, transparent 100%);
  background-image: -ms-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 20%, transparent 20%, transparent 26.66667%, #EEEEEE 26.66667%, #EEEEEE 46.66667%, transparent 46.66667%, transparent 53.33333%, #EEEEEE 53.33333%, #EEEEEE 73.33333%, transparent 73.33333%, transparent 80%, #EEEEEE 80%, #EEEEEE 100%, transparent 100%);
  background-image: -o-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 20%, transparent 20%, transparent 26.66667%, #EEEEEE 26.66667%, #EEEEEE 46.66667%, transparent 46.66667%, transparent 53.33333%, #EEEEEE 53.33333%, #EEEEEE 73.33333%, transparent 73.33333%, transparent 80%, #EEEEEE 80%, #EEEEEE 100%, transparent 100%);
  background-image: linear-gradient(to left, transparent 0, #EEEEEE 0, #EEEEEE 20%, transparent 20%, transparent 26.66667%, #EEEEEE 26.66667%, #EEEEEE 46.66667%, transparent 46.66667%, transparent 53.33333%, #EEEEEE 53.33333%, #EEEEEE 73.33333%, transparent 73.33333%, transparent 80%, #EEEEEE 80%, #EEEEEE 100%, transparent 100%);
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 68em;
  opacity: 0.4;
  pointer-events: none;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1; }
  @media screen and (min-width: 20em) {
    body:before {
      background-image: -webkit-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 20%, transparent 20%, transparent 26.66667%, #EEEEEE 26.66667%, #EEEEEE 46.66667%, transparent 46.66667%, transparent 53.33333%, #EEEEEE 53.33333%, #EEEEEE 73.33333%, transparent 73.33333%, transparent 80%, #EEEEEE 80%, #EEEEEE 100%, transparent 100%);
      background-image: -moz-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 20%, transparent 20%, transparent 26.66667%, #EEEEEE 26.66667%, #EEEEEE 46.66667%, transparent 46.66667%, transparent 53.33333%, #EEEEEE 53.33333%, #EEEEEE 73.33333%, transparent 73.33333%, transparent 80%, #EEEEEE 80%, #EEEEEE 100%, transparent 100%);
      background-image: -ms-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 20%, transparent 20%, transparent 26.66667%, #EEEEEE 26.66667%, #EEEEEE 46.66667%, transparent 46.66667%, transparent 53.33333%, #EEEEEE 53.33333%, #EEEEEE 73.33333%, transparent 73.33333%, transparent 80%, #EEEEEE 80%, #EEEEEE 100%, transparent 100%);
      background-image: -o-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 20%, transparent 20%, transparent 26.66667%, #EEEEEE 26.66667%, #EEEEEE 46.66667%, transparent 46.66667%, transparent 53.33333%, #EEEEEE 53.33333%, #EEEEEE 73.33333%, transparent 73.33333%, transparent 80%, #EEEEEE 80%, #EEEEEE 100%, transparent 100%);
      background-image: linear-gradient(to left, transparent 0, #EEEEEE 0, #EEEEEE 20%, transparent 20%, transparent 26.66667%, #EEEEEE 26.66667%, #EEEEEE 46.66667%, transparent 46.66667%, transparent 53.33333%, #EEEEEE 53.33333%, #EEEEEE 73.33333%, transparent 73.33333%, transparent 80%, #EEEEEE 80%, #EEEEEE 100%, transparent 100%); } }
  @media screen and (min-width: 45em) {
    body:before {
      background-image: -webkit-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 9.67742%, transparent 9.67742%, transparent 12.90323%, #EEEEEE 12.90323%, #EEEEEE 22.58065%, transparent 22.58065%, transparent 25.80645%, #EEEEEE 25.80645%, #EEEEEE 35.48387%, transparent 35.48387%, transparent 38.70968%, #EEEEEE 38.70968%, #EEEEEE 48.3871%, transparent 48.3871%, transparent 51.6129%, #EEEEEE 51.6129%, #EEEEEE 61.29032%, transparent 61.29032%, transparent 64.51613%, #EEEEEE 64.51613%, #EEEEEE 74.19355%, transparent 74.19355%, transparent 77.41935%, #EEEEEE 77.41935%, #EEEEEE 87.09677%, transparent 87.09677%, transparent 90.32258%, #EEEEEE 90.32258%, #EEEEEE 100.0%, transparent 100.0%);
      background-image: -moz-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 9.67742%, transparent 9.67742%, transparent 12.90323%, #EEEEEE 12.90323%, #EEEEEE 22.58065%, transparent 22.58065%, transparent 25.80645%, #EEEEEE 25.80645%, #EEEEEE 35.48387%, transparent 35.48387%, transparent 38.70968%, #EEEEEE 38.70968%, #EEEEEE 48.3871%, transparent 48.3871%, transparent 51.6129%, #EEEEEE 51.6129%, #EEEEEE 61.29032%, transparent 61.29032%, transparent 64.51613%, #EEEEEE 64.51613%, #EEEEEE 74.19355%, transparent 74.19355%, transparent 77.41935%, #EEEEEE 77.41935%, #EEEEEE 87.09677%, transparent 87.09677%, transparent 90.32258%, #EEEEEE 90.32258%, #EEEEEE 100.0%, transparent 100.0%);
      background-image: -ms-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 9.67742%, transparent 9.67742%, transparent 12.90323%, #EEEEEE 12.90323%, #EEEEEE 22.58065%, transparent 22.58065%, transparent 25.80645%, #EEEEEE 25.80645%, #EEEEEE 35.48387%, transparent 35.48387%, transparent 38.70968%, #EEEEEE 38.70968%, #EEEEEE 48.3871%, transparent 48.3871%, transparent 51.6129%, #EEEEEE 51.6129%, #EEEEEE 61.29032%, transparent 61.29032%, transparent 64.51613%, #EEEEEE 64.51613%, #EEEEEE 74.19355%, transparent 74.19355%, transparent 77.41935%, #EEEEEE 77.41935%, #EEEEEE 87.09677%, transparent 87.09677%, transparent 90.32258%, #EEEEEE 90.32258%, #EEEEEE 100.0%, transparent 100.0%);
      background-image: -o-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 9.67742%, transparent 9.67742%, transparent 12.90323%, #EEEEEE 12.90323%, #EEEEEE 22.58065%, transparent 22.58065%, transparent 25.80645%, #EEEEEE 25.80645%, #EEEEEE 35.48387%, transparent 35.48387%, transparent 38.70968%, #EEEEEE 38.70968%, #EEEEEE 48.3871%, transparent 48.3871%, transparent 51.6129%, #EEEEEE 51.6129%, #EEEEEE 61.29032%, transparent 61.29032%, transparent 64.51613%, #EEEEEE 64.51613%, #EEEEEE 74.19355%, transparent 74.19355%, transparent 77.41935%, #EEEEEE 77.41935%, #EEEEEE 87.09677%, transparent 87.09677%, transparent 90.32258%, #EEEEEE 90.32258%, #EEEEEE 100.0%, transparent 100.0%);
      background-image: linear-gradient(to left, transparent 0, #EEEEEE 0, #EEEEEE 9.67742%, transparent 9.67742%, transparent 12.90323%, #EEEEEE 12.90323%, #EEEEEE 22.58065%, transparent 22.58065%, transparent 25.80645%, #EEEEEE 25.80645%, #EEEEEE 35.48387%, transparent 35.48387%, transparent 38.70968%, #EEEEEE 38.70968%, #EEEEEE 48.3871%, transparent 48.3871%, transparent 51.6129%, #EEEEEE 51.6129%, #EEEEEE 61.29032%, transparent 61.29032%, transparent 64.51613%, #EEEEEE 64.51613%, #EEEEEE 74.19355%, transparent 74.19355%, transparent 77.41935%, #EEEEEE 77.41935%, #EEEEEE 87.09677%, transparent 87.09677%, transparent 90.32258%, #EEEEEE 90.32258%, #EEEEEE 100.0%, transparent 100.0%); } }
  @media screen and (min-width: 60em) {
    body:before {
      background-image: -webkit-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 5.08475%, transparent 5.08475%, transparent 6.77966%, #EEEEEE 6.77966%, #EEEEEE 11.86441%, transparent 11.86441%, transparent 13.55932%, #EEEEEE 13.55932%, #EEEEEE 18.64407%, transparent 18.64407%, transparent 20.33898%, #EEEEEE 20.33898%, #EEEEEE 25.42373%, transparent 25.42373%, transparent 27.11864%, #EEEEEE 27.11864%, #EEEEEE 32.20339%, transparent 32.20339%, transparent 33.89831%, #EEEEEE 33.89831%, #EEEEEE 38.98305%, transparent 38.98305%, transparent 40.67797%, #EEEEEE 40.67797%, #EEEEEE 45.76271%, transparent 45.76271%, transparent 47.45763%, #EEEEEE 47.45763%, #EEEEEE 52.54237%, transparent 52.54237%, transparent 54.23729%, #EEEEEE 54.23729%, #EEEEEE 59.32203%, transparent 59.32203%, transparent 61.01695%, #EEEEEE 61.01695%, #EEEEEE 66.10169%, transparent 66.10169%, transparent 67.79661%, #EEEEEE 67.79661%, #EEEEEE 72.88136%, transparent 72.88136%, transparent 74.57627%, #EEEEEE 74.57627%, #EEEEEE 79.66102%, transparent 79.66102%, transparent 81.35593%, #EEEEEE 81.35593%, #EEEEEE 86.44068%, transparent 86.44068%, transparent 88.13559%, #EEEEEE 88.13559%, #EEEEEE 93.22034%, transparent 93.22034%, transparent 94.91525%, #EEEEEE 94.91525%, #EEEEEE 100.0%, transparent 100.0%);
      background-image: -moz-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 5.08475%, transparent 5.08475%, transparent 6.77966%, #EEEEEE 6.77966%, #EEEEEE 11.86441%, transparent 11.86441%, transparent 13.55932%, #EEEEEE 13.55932%, #EEEEEE 18.64407%, transparent 18.64407%, transparent 20.33898%, #EEEEEE 20.33898%, #EEEEEE 25.42373%, transparent 25.42373%, transparent 27.11864%, #EEEEEE 27.11864%, #EEEEEE 32.20339%, transparent 32.20339%, transparent 33.89831%, #EEEEEE 33.89831%, #EEEEEE 38.98305%, transparent 38.98305%, transparent 40.67797%, #EEEEEE 40.67797%, #EEEEEE 45.76271%, transparent 45.76271%, transparent 47.45763%, #EEEEEE 47.45763%, #EEEEEE 52.54237%, transparent 52.54237%, transparent 54.23729%, #EEEEEE 54.23729%, #EEEEEE 59.32203%, transparent 59.32203%, transparent 61.01695%, #EEEEEE 61.01695%, #EEEEEE 66.10169%, transparent 66.10169%, transparent 67.79661%, #EEEEEE 67.79661%, #EEEEEE 72.88136%, transparent 72.88136%, transparent 74.57627%, #EEEEEE 74.57627%, #EEEEEE 79.66102%, transparent 79.66102%, transparent 81.35593%, #EEEEEE 81.35593%, #EEEEEE 86.44068%, transparent 86.44068%, transparent 88.13559%, #EEEEEE 88.13559%, #EEEEEE 93.22034%, transparent 93.22034%, transparent 94.91525%, #EEEEEE 94.91525%, #EEEEEE 100.0%, transparent 100.0%);
      background-image: -ms-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 5.08475%, transparent 5.08475%, transparent 6.77966%, #EEEEEE 6.77966%, #EEEEEE 11.86441%, transparent 11.86441%, transparent 13.55932%, #EEEEEE 13.55932%, #EEEEEE 18.64407%, transparent 18.64407%, transparent 20.33898%, #EEEEEE 20.33898%, #EEEEEE 25.42373%, transparent 25.42373%, transparent 27.11864%, #EEEEEE 27.11864%, #EEEEEE 32.20339%, transparent 32.20339%, transparent 33.89831%, #EEEEEE 33.89831%, #EEEEEE 38.98305%, transparent 38.98305%, transparent 40.67797%, #EEEEEE 40.67797%, #EEEEEE 45.76271%, transparent 45.76271%, transparent 47.45763%, #EEEEEE 47.45763%, #EEEEEE 52.54237%, transparent 52.54237%, transparent 54.23729%, #EEEEEE 54.23729%, #EEEEEE 59.32203%, transparent 59.32203%, transparent 61.01695%, #EEEEEE 61.01695%, #EEEEEE 66.10169%, transparent 66.10169%, transparent 67.79661%, #EEEEEE 67.79661%, #EEEEEE 72.88136%, transparent 72.88136%, transparent 74.57627%, #EEEEEE 74.57627%, #EEEEEE 79.66102%, transparent 79.66102%, transparent 81.35593%, #EEEEEE 81.35593%, #EEEEEE 86.44068%, transparent 86.44068%, transparent 88.13559%, #EEEEEE 88.13559%, #EEEEEE 93.22034%, transparent 93.22034%, transparent 94.91525%, #EEEEEE 94.91525%, #EEEEEE 100.0%, transparent 100.0%);
      background-image: -o-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 5.08475%, transparent 5.08475%, transparent 6.77966%, #EEEEEE 6.77966%, #EEEEEE 11.86441%, transparent 11.86441%, transparent 13.55932%, #EEEEEE 13.55932%, #EEEEEE 18.64407%, transparent 18.64407%, transparent 20.33898%, #EEEEEE 20.33898%, #EEEEEE 25.42373%, transparent 25.42373%, transparent 27.11864%, #EEEEEE 27.11864%, #EEEEEE 32.20339%, transparent 32.20339%, transparent 33.89831%, #EEEEEE 33.89831%, #EEEEEE 38.98305%, transparent 38.98305%, transparent 40.67797%, #EEEEEE 40.67797%, #EEEEEE 45.76271%, transparent 45.76271%, transparent 47.45763%, #EEEEEE 47.45763%, #EEEEEE 52.54237%, transparent 52.54237%, transparent 54.23729%, #EEEEEE 54.23729%, #EEEEEE 59.32203%, transparent 59.32203%, transparent 61.01695%, #EEEEEE 61.01695%, #EEEEEE 66.10169%, transparent 66.10169%, transparent 67.79661%, #EEEEEE 67.79661%, #EEEEEE 72.88136%, transparent 72.88136%, transparent 74.57627%, #EEEEEE 74.57627%, #EEEEEE 79.66102%, transparent 79.66102%, transparent 81.35593%, #EEEEEE 81.35593%, #EEEEEE 86.44068%, transparent 86.44068%, transparent 88.13559%, #EEEEEE 88.13559%, #EEEEEE 93.22034%, transparent 93.22034%, transparent 94.91525%, #EEEEEE 94.91525%, #EEEEEE 100.0%, transparent 100.0%);
      background-image: linear-gradient(to left, transparent 0, #EEEEEE 0, #EEEEEE 5.08475%, transparent 5.08475%, transparent 6.77966%, #EEEEEE 6.77966%, #EEEEEE 11.86441%, transparent 11.86441%, transparent 13.55932%, #EEEEEE 13.55932%, #EEEEEE 18.64407%, transparent 18.64407%, transparent 20.33898%, #EEEEEE 20.33898%, #EEEEEE 25.42373%, transparent 25.42373%, transparent 27.11864%, #EEEEEE 27.11864%, #EEEEEE 32.20339%, transparent 32.20339%, transparent 33.89831%, #EEEEEE 33.89831%, #EEEEEE 38.98305%, transparent 38.98305%, transparent 40.67797%, #EEEEEE 40.67797%, #EEEEEE 45.76271%, transparent 45.76271%, transparent 47.45763%, #EEEEEE 47.45763%, #EEEEEE 52.54237%, transparent 52.54237%, transparent 54.23729%, #EEEEEE 54.23729%, #EEEEEE 59.32203%, transparent 59.32203%, transparent 61.01695%, #EEEEEE 61.01695%, #EEEEEE 66.10169%, transparent 66.10169%, transparent 67.79661%, #EEEEEE 67.79661%, #EEEEEE 72.88136%, transparent 72.88136%, transparent 74.57627%, #EEEEEE 74.57627%, #EEEEEE 79.66102%, transparent 79.66102%, transparent 81.35593%, #EEEEEE 81.35593%, #EEEEEE 86.44068%, transparent 86.44068%, transparent 88.13559%, #EEEEEE 88.13559%, #EEEEEE 93.22034%, transparent 93.22034%, transparent 94.91525%, #EEEEEE 94.91525%, #EEEEEE 100.0%, transparent 100.0%); } }

/* Forms */
#edit-title-wrapper input {
  font-size: 24px;
  width: 99%; }

.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777; }

#edit-delete {
  color: #cc0000; }

/* Images */
img {
  max-width: 100%;
  height: auto;
  vertical-align: top; }

* {
  margin: 0;
  padding: 0; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.clearleft, .clearl, .cleft {
  clear: left; }

.clearright, .clearr, .cright {
  clear: right; }

.clear, .clearboth, .clearall {
  clear: both; }

.floatleft, .fleft, .floatl {
  float: left;
  margin: 0 10px 5px 0; }

.floatright, .fright, .floatr {
  float: right;
  margin: 0 0 5px 10px; }

#skip a:link, #skip a:hover, #skip a:visited {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }
#skip a:active, #skip a:focus {
  position: static;
  width: auto;
  height: auto; }

/* Tables */
table {
  width: 100%; }

td {
  padding: 10px 5px; }

tr.odd {
  background-color: white; }

/* Typography */
body {
  margin: 0;
  font-size: 16px;
  line-height: 1.5em;
  font-family: "Helvetica Neue", helvetica, Arial, sans-serif;
  letter-spacing: 0.03em; }

/* Headers */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em; }

h1 {
  font-size: 2.2em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0; }

h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 0.75em; }

h3 {
  font-size: 1.4em;
  margin-bottom: 1em; }

h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em; }

h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0; }

h6 {
  font-size: 1em;
  font-weight: bold; }

/* Links */
a:link, a:visited {
  color: blue;
  text-decoration: none; }
a:hover, a:active {
  color: red;
  text-decoration: underline; }

/* Paragraphs */
p {
  margin: 0 0 1em 0; }
  p:last-child {
    margin-bottom: 0; }

/* Lists */
ul, ol {
  margin-left: 0;
  padding-left: 0; }

ul {
  list-style-type: disc; }
  ul ul {
    list-style-type: circle; }
    ul ul ul {
      list-style-type: square; }
      ul ul ul ul {
        list-style-type: circle; }

ol {
  list-style-type: decimal; }
  ol ol {
    list-style-type: lower-alpha; }
    ol ol ol {
      list-style-type: decimal; }

/* Code */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5; }

pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa; }

/* Abbreviation */
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap; }

/*# sourceMappingURL=base.css.map */
