html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body:before {
  background-image: -webkit-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 20%, transparent 20%, transparent 26.66667%, #EEEEEE 26.66667%, #EEEEEE 46.66667%, transparent 46.66667%, transparent 53.33333%, #EEEEEE 53.33333%, #EEEEEE 73.33333%, transparent 73.33333%, transparent 80.0%, #EEEEEE 80.0%, #EEEEEE 100.0%, transparent 100.0%);
  background-image: -moz-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 20%, transparent 20%, transparent 26.66667%, #EEEEEE 26.66667%, #EEEEEE 46.66667%, transparent 46.66667%, transparent 53.33333%, #EEEEEE 53.33333%, #EEEEEE 73.33333%, transparent 73.33333%, transparent 80.0%, #EEEEEE 80.0%, #EEEEEE 100.0%, transparent 100.0%);
  background-image: -ms-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 20%, transparent 20%, transparent 26.66667%, #EEEEEE 26.66667%, #EEEEEE 46.66667%, transparent 46.66667%, transparent 53.33333%, #EEEEEE 53.33333%, #EEEEEE 73.33333%, transparent 73.33333%, transparent 80.0%, #EEEEEE 80.0%, #EEEEEE 100.0%, transparent 100.0%);
  background-image: -o-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 20%, transparent 20%, transparent 26.66667%, #EEEEEE 26.66667%, #EEEEEE 46.66667%, transparent 46.66667%, transparent 53.33333%, #EEEEEE 53.33333%, #EEEEEE 73.33333%, transparent 73.33333%, transparent 80.0%, #EEEEEE 80.0%, #EEEEEE 100.0%, transparent 100.0%);
  background-image: linear-gradient(to left, transparent 0, #EEEEEE 0, #EEEEEE 20%, transparent 20%, transparent 26.66667%, #EEEEEE 26.66667%, #EEEEEE 46.66667%, transparent 46.66667%, transparent 53.33333%, #EEEEEE 53.33333%, #EEEEEE 73.33333%, transparent 73.33333%, transparent 80.0%, #EEEEEE 80.0%, #EEEEEE 100.0%, transparent 100.0%);
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 68em;
  opacity: 0.4;
  pointer-events: none;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1;
}
@media screen and (min-width: 20em) {
  body:before {
    background-image: -webkit-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 20%, transparent 20%, transparent 26.66667%, #EEEEEE 26.66667%, #EEEEEE 46.66667%, transparent 46.66667%, transparent 53.33333%, #EEEEEE 53.33333%, #EEEEEE 73.33333%, transparent 73.33333%, transparent 80.0%, #EEEEEE 80.0%, #EEEEEE 100.0%, transparent 100.0%);
    background-image: -moz-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 20%, transparent 20%, transparent 26.66667%, #EEEEEE 26.66667%, #EEEEEE 46.66667%, transparent 46.66667%, transparent 53.33333%, #EEEEEE 53.33333%, #EEEEEE 73.33333%, transparent 73.33333%, transparent 80.0%, #EEEEEE 80.0%, #EEEEEE 100.0%, transparent 100.0%);
    background-image: -ms-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 20%, transparent 20%, transparent 26.66667%, #EEEEEE 26.66667%, #EEEEEE 46.66667%, transparent 46.66667%, transparent 53.33333%, #EEEEEE 53.33333%, #EEEEEE 73.33333%, transparent 73.33333%, transparent 80.0%, #EEEEEE 80.0%, #EEEEEE 100.0%, transparent 100.0%);
    background-image: -o-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 20%, transparent 20%, transparent 26.66667%, #EEEEEE 26.66667%, #EEEEEE 46.66667%, transparent 46.66667%, transparent 53.33333%, #EEEEEE 53.33333%, #EEEEEE 73.33333%, transparent 73.33333%, transparent 80.0%, #EEEEEE 80.0%, #EEEEEE 100.0%, transparent 100.0%);
    background-image: linear-gradient(to left, transparent 0, #EEEEEE 0, #EEEEEE 20%, transparent 20%, transparent 26.66667%, #EEEEEE 26.66667%, #EEEEEE 46.66667%, transparent 46.66667%, transparent 53.33333%, #EEEEEE 53.33333%, #EEEEEE 73.33333%, transparent 73.33333%, transparent 80.0%, #EEEEEE 80.0%, #EEEEEE 100.0%, transparent 100.0%);
  }
}
@media screen and (min-width: 45em) {
  body:before {
    background-image: -webkit-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 9.67742%, transparent 9.67742%, transparent 12.90323%, #EEEEEE 12.90323%, #EEEEEE 22.58065%, transparent 22.58065%, transparent 25.80645%, #EEEEEE 25.80645%, #EEEEEE 35.48387%, transparent 35.48387%, transparent 38.70968%, #EEEEEE 38.70968%, #EEEEEE 48.3871%, transparent 48.3871%, transparent 51.6129%, #EEEEEE 51.6129%, #EEEEEE 61.29032%, transparent 61.29032%, transparent 64.51613%, #EEEEEE 64.51613%, #EEEEEE 74.19355%, transparent 74.19355%, transparent 77.41935%, #EEEEEE 77.41935%, #EEEEEE 87.09677%, transparent 87.09677%, transparent 90.32258%, #EEEEEE 90.32258%, #EEEEEE 100.0%, transparent 100.0%);
    background-image: -moz-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 9.67742%, transparent 9.67742%, transparent 12.90323%, #EEEEEE 12.90323%, #EEEEEE 22.58065%, transparent 22.58065%, transparent 25.80645%, #EEEEEE 25.80645%, #EEEEEE 35.48387%, transparent 35.48387%, transparent 38.70968%, #EEEEEE 38.70968%, #EEEEEE 48.3871%, transparent 48.3871%, transparent 51.6129%, #EEEEEE 51.6129%, #EEEEEE 61.29032%, transparent 61.29032%, transparent 64.51613%, #EEEEEE 64.51613%, #EEEEEE 74.19355%, transparent 74.19355%, transparent 77.41935%, #EEEEEE 77.41935%, #EEEEEE 87.09677%, transparent 87.09677%, transparent 90.32258%, #EEEEEE 90.32258%, #EEEEEE 100.0%, transparent 100.0%);
    background-image: -ms-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 9.67742%, transparent 9.67742%, transparent 12.90323%, #EEEEEE 12.90323%, #EEEEEE 22.58065%, transparent 22.58065%, transparent 25.80645%, #EEEEEE 25.80645%, #EEEEEE 35.48387%, transparent 35.48387%, transparent 38.70968%, #EEEEEE 38.70968%, #EEEEEE 48.3871%, transparent 48.3871%, transparent 51.6129%, #EEEEEE 51.6129%, #EEEEEE 61.29032%, transparent 61.29032%, transparent 64.51613%, #EEEEEE 64.51613%, #EEEEEE 74.19355%, transparent 74.19355%, transparent 77.41935%, #EEEEEE 77.41935%, #EEEEEE 87.09677%, transparent 87.09677%, transparent 90.32258%, #EEEEEE 90.32258%, #EEEEEE 100.0%, transparent 100.0%);
    background-image: -o-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 9.67742%, transparent 9.67742%, transparent 12.90323%, #EEEEEE 12.90323%, #EEEEEE 22.58065%, transparent 22.58065%, transparent 25.80645%, #EEEEEE 25.80645%, #EEEEEE 35.48387%, transparent 35.48387%, transparent 38.70968%, #EEEEEE 38.70968%, #EEEEEE 48.3871%, transparent 48.3871%, transparent 51.6129%, #EEEEEE 51.6129%, #EEEEEE 61.29032%, transparent 61.29032%, transparent 64.51613%, #EEEEEE 64.51613%, #EEEEEE 74.19355%, transparent 74.19355%, transparent 77.41935%, #EEEEEE 77.41935%, #EEEEEE 87.09677%, transparent 87.09677%, transparent 90.32258%, #EEEEEE 90.32258%, #EEEEEE 100.0%, transparent 100.0%);
    background-image: linear-gradient(to left, transparent 0, #EEEEEE 0, #EEEEEE 9.67742%, transparent 9.67742%, transparent 12.90323%, #EEEEEE 12.90323%, #EEEEEE 22.58065%, transparent 22.58065%, transparent 25.80645%, #EEEEEE 25.80645%, #EEEEEE 35.48387%, transparent 35.48387%, transparent 38.70968%, #EEEEEE 38.70968%, #EEEEEE 48.3871%, transparent 48.3871%, transparent 51.6129%, #EEEEEE 51.6129%, #EEEEEE 61.29032%, transparent 61.29032%, transparent 64.51613%, #EEEEEE 64.51613%, #EEEEEE 74.19355%, transparent 74.19355%, transparent 77.41935%, #EEEEEE 77.41935%, #EEEEEE 87.09677%, transparent 87.09677%, transparent 90.32258%, #EEEEEE 90.32258%, #EEEEEE 100.0%, transparent 100.0%);
  }
}
@media screen and (min-width: 60em) {
  body:before {
    background-image: -webkit-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 5.08475%, transparent 5.08475%, transparent 6.77966%, #EEEEEE 6.77966%, #EEEEEE 11.86441%, transparent 11.86441%, transparent 13.55932%, #EEEEEE 13.55932%, #EEEEEE 18.64407%, transparent 18.64407%, transparent 20.33898%, #EEEEEE 20.33898%, #EEEEEE 25.42373%, transparent 25.42373%, transparent 27.11864%, #EEEEEE 27.11864%, #EEEEEE 32.20339%, transparent 32.20339%, transparent 33.89831%, #EEEEEE 33.89831%, #EEEEEE 38.98305%, transparent 38.98305%, transparent 40.67797%, #EEEEEE 40.67797%, #EEEEEE 45.76271%, transparent 45.76271%, transparent 47.45763%, #EEEEEE 47.45763%, #EEEEEE 52.54237%, transparent 52.54237%, transparent 54.23729%, #EEEEEE 54.23729%, #EEEEEE 59.32203%, transparent 59.32203%, transparent 61.01695%, #EEEEEE 61.01695%, #EEEEEE 66.10169%, transparent 66.10169%, transparent 67.79661%, #EEEEEE 67.79661%, #EEEEEE 72.88136%, transparent 72.88136%, transparent 74.57627%, #EEEEEE 74.57627%, #EEEEEE 79.66102%, transparent 79.66102%, transparent 81.35593%, #EEEEEE 81.35593%, #EEEEEE 86.44068%, transparent 86.44068%, transparent 88.13559%, #EEEEEE 88.13559%, #EEEEEE 93.22034%, transparent 93.22034%, transparent 94.91525%, #EEEEEE 94.91525%, #EEEEEE 100.0%, transparent 100.0%);
    background-image: -moz-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 5.08475%, transparent 5.08475%, transparent 6.77966%, #EEEEEE 6.77966%, #EEEEEE 11.86441%, transparent 11.86441%, transparent 13.55932%, #EEEEEE 13.55932%, #EEEEEE 18.64407%, transparent 18.64407%, transparent 20.33898%, #EEEEEE 20.33898%, #EEEEEE 25.42373%, transparent 25.42373%, transparent 27.11864%, #EEEEEE 27.11864%, #EEEEEE 32.20339%, transparent 32.20339%, transparent 33.89831%, #EEEEEE 33.89831%, #EEEEEE 38.98305%, transparent 38.98305%, transparent 40.67797%, #EEEEEE 40.67797%, #EEEEEE 45.76271%, transparent 45.76271%, transparent 47.45763%, #EEEEEE 47.45763%, #EEEEEE 52.54237%, transparent 52.54237%, transparent 54.23729%, #EEEEEE 54.23729%, #EEEEEE 59.32203%, transparent 59.32203%, transparent 61.01695%, #EEEEEE 61.01695%, #EEEEEE 66.10169%, transparent 66.10169%, transparent 67.79661%, #EEEEEE 67.79661%, #EEEEEE 72.88136%, transparent 72.88136%, transparent 74.57627%, #EEEEEE 74.57627%, #EEEEEE 79.66102%, transparent 79.66102%, transparent 81.35593%, #EEEEEE 81.35593%, #EEEEEE 86.44068%, transparent 86.44068%, transparent 88.13559%, #EEEEEE 88.13559%, #EEEEEE 93.22034%, transparent 93.22034%, transparent 94.91525%, #EEEEEE 94.91525%, #EEEEEE 100.0%, transparent 100.0%);
    background-image: -ms-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 5.08475%, transparent 5.08475%, transparent 6.77966%, #EEEEEE 6.77966%, #EEEEEE 11.86441%, transparent 11.86441%, transparent 13.55932%, #EEEEEE 13.55932%, #EEEEEE 18.64407%, transparent 18.64407%, transparent 20.33898%, #EEEEEE 20.33898%, #EEEEEE 25.42373%, transparent 25.42373%, transparent 27.11864%, #EEEEEE 27.11864%, #EEEEEE 32.20339%, transparent 32.20339%, transparent 33.89831%, #EEEEEE 33.89831%, #EEEEEE 38.98305%, transparent 38.98305%, transparent 40.67797%, #EEEEEE 40.67797%, #EEEEEE 45.76271%, transparent 45.76271%, transparent 47.45763%, #EEEEEE 47.45763%, #EEEEEE 52.54237%, transparent 52.54237%, transparent 54.23729%, #EEEEEE 54.23729%, #EEEEEE 59.32203%, transparent 59.32203%, transparent 61.01695%, #EEEEEE 61.01695%, #EEEEEE 66.10169%, transparent 66.10169%, transparent 67.79661%, #EEEEEE 67.79661%, #EEEEEE 72.88136%, transparent 72.88136%, transparent 74.57627%, #EEEEEE 74.57627%, #EEEEEE 79.66102%, transparent 79.66102%, transparent 81.35593%, #EEEEEE 81.35593%, #EEEEEE 86.44068%, transparent 86.44068%, transparent 88.13559%, #EEEEEE 88.13559%, #EEEEEE 93.22034%, transparent 93.22034%, transparent 94.91525%, #EEEEEE 94.91525%, #EEEEEE 100.0%, transparent 100.0%);
    background-image: -o-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 5.08475%, transparent 5.08475%, transparent 6.77966%, #EEEEEE 6.77966%, #EEEEEE 11.86441%, transparent 11.86441%, transparent 13.55932%, #EEEEEE 13.55932%, #EEEEEE 18.64407%, transparent 18.64407%, transparent 20.33898%, #EEEEEE 20.33898%, #EEEEEE 25.42373%, transparent 25.42373%, transparent 27.11864%, #EEEEEE 27.11864%, #EEEEEE 32.20339%, transparent 32.20339%, transparent 33.89831%, #EEEEEE 33.89831%, #EEEEEE 38.98305%, transparent 38.98305%, transparent 40.67797%, #EEEEEE 40.67797%, #EEEEEE 45.76271%, transparent 45.76271%, transparent 47.45763%, #EEEEEE 47.45763%, #EEEEEE 52.54237%, transparent 52.54237%, transparent 54.23729%, #EEEEEE 54.23729%, #EEEEEE 59.32203%, transparent 59.32203%, transparent 61.01695%, #EEEEEE 61.01695%, #EEEEEE 66.10169%, transparent 66.10169%, transparent 67.79661%, #EEEEEE 67.79661%, #EEEEEE 72.88136%, transparent 72.88136%, transparent 74.57627%, #EEEEEE 74.57627%, #EEEEEE 79.66102%, transparent 79.66102%, transparent 81.35593%, #EEEEEE 81.35593%, #EEEEEE 86.44068%, transparent 86.44068%, transparent 88.13559%, #EEEEEE 88.13559%, #EEEEEE 93.22034%, transparent 93.22034%, transparent 94.91525%, #EEEEEE 94.91525%, #EEEEEE 100.0%, transparent 100.0%);
    background-image: linear-gradient(to left, transparent 0, #EEEEEE 0, #EEEEEE 5.08475%, transparent 5.08475%, transparent 6.77966%, #EEEEEE 6.77966%, #EEEEEE 11.86441%, transparent 11.86441%, transparent 13.55932%, #EEEEEE 13.55932%, #EEEEEE 18.64407%, transparent 18.64407%, transparent 20.33898%, #EEEEEE 20.33898%, #EEEEEE 25.42373%, transparent 25.42373%, transparent 27.11864%, #EEEEEE 27.11864%, #EEEEEE 32.20339%, transparent 32.20339%, transparent 33.89831%, #EEEEEE 33.89831%, #EEEEEE 38.98305%, transparent 38.98305%, transparent 40.67797%, #EEEEEE 40.67797%, #EEEEEE 45.76271%, transparent 45.76271%, transparent 47.45763%, #EEEEEE 47.45763%, #EEEEEE 52.54237%, transparent 52.54237%, transparent 54.23729%, #EEEEEE 54.23729%, #EEEEEE 59.32203%, transparent 59.32203%, transparent 61.01695%, #EEEEEE 61.01695%, #EEEEEE 66.10169%, transparent 66.10169%, transparent 67.79661%, #EEEEEE 67.79661%, #EEEEEE 72.88136%, transparent 72.88136%, transparent 74.57627%, #EEEEEE 74.57627%, #EEEEEE 79.66102%, transparent 79.66102%, transparent 81.35593%, #EEEEEE 81.35593%, #EEEEEE 86.44068%, transparent 86.44068%, transparent 88.13559%, #EEEEEE 88.13559%, #EEEEEE 93.22034%, transparent 93.22034%, transparent 94.91525%, #EEEEEE 94.91525%, #EEEEEE 100.0%, transparent 100.0%);
  }
}

#header, #footer,
#sidebar-first,
#sidebar-second,
#navigation {
  background: rgba(170, 170, 170, 0.2);
}

#header, #footer,
#sidebar-first,
#sidebar-second,
#navigation {
  background: rgba(170, 170, 170, 0.2);
}

/*# sourceMappingURL=theme.css.map */
