<section class="section  trackrecord"  {{ attributes }}>

    <div class="center-page">

        <h2 class="section__header">{{ entity.title }}</h2>

    </div>

    <div class="center-page  center-page--small">

        {{ entity.field_body }}

        <div class="box formula mb">
            {{ entity.field_formule }}
        </div>

    </div>

    <div class="center-page  center-page--small">

        <div class="layout metrics"

            {{ entity.field_ref_pillar }}

        ></div>

    </div>

</section>
