---
layout: page
title: blog-item
sort: 4
level: 2
---
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?autoload=true&amp;skin=sunburst&amp;lang=css" defer="defer"></script>
<style>.operative { font-weight: bold; border:1px solid yellow }</style>

<header class="main-header vignette" id="top">

    <div class="mobile-menu  navbanner">

        <div class="center-div">

            <a href="#" id="toggle-menu"><span></span></a>

            <h1 id="idTag"><a class="site-title" href="{{ site.baseurl }}/"><span class="hide">{{ site.title }}</span></a></h1>

            <nav class="mainnav">
                <ul>
                    {% assign pages = site.pages | sort:"sort"  %}
                    {% for page in pages %}
                    {% if page.title %}
                    {% if page.level == 1 %}
                    <li class="mainnav__item"><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </nav>

        </div>

    </div>

    <div class="center-div">

        <div class="pageintro">
            <h1 class="pageintro__title mb-">Using a javascript style guide</h1>
            gepubliceeerd op: mei 2015  -  <a href="#" class="textlink-diap">3 reacties</a>  -  tags: <a href="#" class="textlink-diap">javascript</a>
        </div>

    </div>

</header>

<main class="main-content">


    <div class="section  section--beige">

        <div class="center-page  center-page--small">

            <div class="blog-content">

                <p>Using a style guide helps keep code more readable, which makes it more maintainable. It can also prevent you from introducing bugs which can be hard to spot (by making semicolons mandatory for example). Enforcing code styles is hard. You can use code reviews to do so, but luckily, there are some tools to help you.</p>
                <p>This blog post tells you how to enforce the Airbnb Style Guide using ESLint and Ant.</p>
                <h2>Choosing a style guide</h2>
                <p>There are a lot of style guides to choose from. You could even write your own style guide. I recommend the Airbnb Style Guide. It includes a section on ECMAScript 6 and has default configurations for all major code style tools.</p>
                <p>The only downside of the Airbnb Style Guide is that it requires 2 spaces of indentation. In the example below, I will change this to 4 spaces, since this is what we use for PHP.</p>
                <h2>Code style tools</h2>
                <p>There are a number of tools to help you enforce code style, but I think ESLint is the best one. It checks for possible bugs (like JSLint) as well as whitespace (like JSCS). It even supports JSX!</p>
                <p>Let's get started. We can install ESLint and the Airbnb configuration in one go:</p>

            </div>


        </div>

    </div>


    <div class="section  section--code">

        <div class="center-page">

           <pre><code data-language="javascript">
                /**
                * test function
                *
                * @param string
                * @return string
                */
                function blah(foo, blah) {
                    var test = 25;
                    console.log(test.length);

                    // if foo is true then return this string
                    if (foo === true) {
                        return 'foo is true';
                    }
                    return 'foo is false';
                }

                $(document).ready(function() {
                    $("table").on("click", "td", function() {
                        console.log('td click');
                    });
                });
            </code></pre>

        </div>

    </div>


    <div class="section  section--beige">

        <div class="center-page  center-page--small">

            <div class="blog-content">

                <p>Using a style guide helps keep code more readable, which makes it more maintainable. It can also prevent you from introducing bugs which can be hard to spot (by making semicolons mandatory for example). Enforcing code styles is hard. You can use code reviews to do so, but luckily, there are some tools to help you.</p>
                <p>This blog post tells you how to enforce the Airbnb Style Guide using ESLint and Ant.</p>
                <h2>Choosing a style guide</h2>
                <p>There are a lot of style guides to choose from. You could even write your own style guide. I recommend the Airbnb Style Guide. It includes a section on ECMAScript 6 and has default configurations for all major code style tools.</p>
                <p>The only downside of the Airbnb Style Guide is that it requires 2 spaces of indentation. In the example below, I will change this to 4 spaces, since this is what we use for PHP.</p>
                <h2>Code style tools</h2>
                <p>There are a number of tools to help you enforce code style, but I think ESLint is the best one. It checks for possible bugs (like JSLint) as well as whitespace (like JSCS). It even supports JSX!</p>
                <p>Let's get started. We can install ESLint and the Airbnb configuration in one go:</p>

            </div>

        </div>

    </div>

    <div class="section  section--author">

        <div class="center-page  center-page--small">

            <div class="author">
                <img src="/images/persoon.jpg" alt="alt" class="author__image" />
                <div class="author__body">
                    <h4 class="author__title">Scato Eggen</h4>
                    <p>Scato werkt sinds 2013 bij Ibuildings. Hij heeft ruim 12 jaar ervaring met PHP.</p>
                </div>
            </div>

        </div>

    </div>

</main>

{% include cta-experts.html %}

{% include footer.html %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script src="/js/vendor/slick.min.js"></script>

<script src="/js/vendor/typed.min.js"></script>

<script src="/js/vendor/velocity.min.js"></script>

<script src="/js/vendor/jquery.waypoints.min.js"></script>

<script src="/js/vendor/vivus.min.js"></script>

<script src="/js/vendor/vivus.min.js"></script>

<script src="/js/vendor/rainbow.min.js"></script>

<script src="/js/vendor/language/generic.js"></script>
<script src="/js/vendor/language/js.js"></script>

<!--<script src="/js/scripts.js"></script>-->

<script>

    (function($) {

        // navigation
        var navbanner = $('.navbanner');

        $(window).bind('scroll', function() {
            if ($(window).scrollTop() > 10) {
                navbanner.addClass("navbanner--scrolled");
            } else {
                navbanner.removeClass("navbanner--scrolled");
            }
        });

        $('.shownext').on("click", function (e) {
            $(this).next().addClass('show');
            e.preventDefault();
        });

        if ($(window).scrollTop() > 10) {
            navbanner.addClass("navbanner--scrolled");
        }

    })(jQuery);


    function onScrollInit( items, trigger ) {
        items.each( function() {
            var osElement = $(this),
                    osAnimationClass = osElement.attr('data-os-animation'),
                    osAnimationDelay = osElement.attr('data-os-animation-delay');

            osElement.css({
                '-webkit-animation-delay':  osAnimationDelay,
                '-moz-animation-delay':     osAnimationDelay,
                'animation-delay':          osAnimationDelay
            });

            var osTrigger = ( trigger ) ? trigger : osElement;

            osTrigger.waypoint(function() {
                osElement.addClass('animated').addClass(osAnimationClass);
            },{
                triggerOnce: true,
                offset: '90%'
            });
        });
    }

    onScrollInit( $('.os-animation') );



    $('.refindex').mouseenter(function () {
        $(this).find('.refindex__caption').velocity({
            paddingBottom: 90
        },{
            duration: 25,
            delay: 0
        });

        $(this).find('.btn').velocity({
            opacity:1
        },{
            duration: 25,
            delay: 100
        });
    }).mouseleave(function () {
        $(this).find('.refindex__caption').velocity({
            paddingBottom: 24,
            delay: 100
        });
        $(this).find('.btn').velocity({
            opacity:0
        },{
            duration: 25,
            delay: 0
        });
    });



</script>


