---
layout: page
title: blog
sort: 4
level: 1
---

<header class="main-header vignette" id="top">

    <div class="mobile-menu  navbanner">

        <div class="center-div">

            <a href="#" id="toggle-menu"><span></span></a>

            <h1 id="idTag"><a class="site-title" href="{{ site.baseurl }}/"><span class="hide">{{ site.title }}</span></a></h1>

            <nav class="mainnav">
                <ul>
                    {% assign pages = site.pages | sort:"sort"  %}
                    {% for page in pages %}
                    {% if page.title %}
                    {% if page.level == 1 %}
                    <li class="mainnav__item"><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </nav>

        </div>

    </div>

    <div class="center-div">

        <div class="pageintro">
            <h1 class="pageintro__title mb-">Blog</h1>
        </div>

    </div>

</header>

<main class="main-content">

    <div class="section  section--white  exposed-filter">

        <div class="center-page">

            {% include exposed-filter.html %}

        </div>

    </div>

    <div class="section  section--beige">

        <div class="center-page">

            <div class="layout">

                <div class="layout__item  u-1/2-desk">
                    {% include blog-blok.html %}
                </div><div class="layout__item  u-1/2-desk">
                {% include blog-blok.html %}
                </div><div class="layout__item  u-1/2-desk">
                    {% include blog-blok.html %}
                </div><div class="layout__item  u-1/2-desk">
                    {% include blog-blok.html %}
                </div><div class="layout__item  u-1/2-desk">
                    {% include blog-blok.html %}
                </div><div class="layout__item  u-1/2-desk">
                    {% include blog-blok.html %}
                </div><div class="layout__item  u-1/2-desk">
                    {% include blog-blok.html %}
                </div><div class="layout__item  u-1/2-desk">
                    {% include blog-blok.html %}
                </div><div class="layout__item  u-1/2-desk">
                    {% include blog-blok.html %}
                </div><div class="layout__item  u-1/2-desk">
                    {% include blog-blok.html %}
                </div>

            </div>

        </div>

    </div>




</main>

{% include cta-home.html %}

{% include footer.html %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script src="/js/vendor/slick.min.js"></script>

<script src="/js/vendor/typed.min.js"></script>

<script src="/js/vendor/velocity.min.js"></script>

<script src="/js/vendor/jquery.waypoints.min.js"></script>

<script src="/js/vendor/vivus.min.js"></script>

<!--<script src="/js/scripts.js"></script>-->

<script>





</script>


