
<!DOCTYPE html>
<html ng-app="cortana">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>elements - elements</title>

    <!-- Styleguide CSS -->
    <link rel="stylesheet" href="./theme-build/css/vendors.css">
    <link rel="stylesheet" href="./theme-build/css/cortana.css">

    <!-- Source CSS -->
    
      
        <link rel="stylesheet" href="../css/app.css">
      
    

    <!--[if lt IE 9]>
      <script src="theme-build/polyfill/html5shiv.js"></script>
      <script src="theme-build/polyfill/respond.min.js"></script>
    <![endif]-->
</head>

  <body class="cortana-body"  ng-controller="MainController">

    <div class="sb-slidebar sb-left cortana-sidenav sb-style-push">

      
      
        
        
          
        
      
        
        
          
        
      
        
        
          
        
      
        
        
          
        
      
        
        
          
        
      

      <nav class="cortana-nav">
        <ul>
          
            <li><a href="index.html">Home</a></li>
          
        </ul>
        
          <h3>Navigatie</h3>
          <ul>
          
            
              
              
                <li><a href="navigatie_-_navigatie.html">Navigatie</a></li>
              
            
          
            
          
            
          
            
          
            
          
          </ul>
        
          <h3>Kleuren</h3>
          <ul>
          
            
          
            
              
              
                <li><a href="kleuren_-_kleuren.html">Kleuren</a></li>
              
            
          
            
          
            
          
            
          
          </ul>
        
          <h3>headers</h3>
          <ul>
          
            
          
            
          
            
              
              
                <li><a href="headers_-_headers.html">headers</a></li>
              
            
          
            
          
            
          
          </ul>
        
          <h3>elements</h3>
          <ul>
          
            
          
            
          
            
          
            
              
              
                <li><a class="active" href="elements_-_elements.html">elements</a></li>
              
            
          
            
          
          </ul>
        
          <h3>Typography2</h3>
          <ul>
          
            
          
            
          
            
          
            
          
            
              
              
                <li><a href="typography2_-_meta_text.html">meta text</a></li>
              
            
          
          </ul>
        
      </nav>
    </div>

    <header class="cortana-header sb-slide">
      
        <h1>elements</h1>
      
      <div id="open-left" class="cortana-menu-btn">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="cortana-search-wrapper" ng-controller="TypeaheadCtrl">
        <input id="cortana-search" type="text" class="form-control cortana-search" ng-model="customSelected" placeholder="Search" typeahead="data as data.title for data in searchData | filter:{title:$viewValue}" typeahead-template-url="customTemplate.html" class="form-control" typeahead-on-select="onSelect($item, $model, $label)">
      </div>
    </header>

    <div id="sb-site">

      <div class="cortana-container">

        <nav id="cortana-inside-nav" class="cortana-inside-nav" bs-affix>
          <ul bs-scrollspy-list data-offset="-30">
            
              
                <li><a href="#tags">tags</a></li>
              
            
          </ul>
        </nav>

        <div class="cortana-content-wrapper clearfix">
          <div class="cortana-content">



<h1 id="tags" class="styleguide">tags</h1>
</div><div class="codeExample"><div class="exampleOutput">
    <h2>Trending topics in Tech</h2>

    <div class="tag">
        <ul  class="list-inline  list-bare">
            <li class="tag--item"><a href="#">Veiligheidssituatie</a></li
            ><li class="tag--item"><a href="#">MH17</a></li
            ><li class="tag--item"><a href="#">Rampplek</a></li
            ><li class="tag--item"><a href="#">Oekraine</a></li
            ><li class="tag--item"><a href="#">Wrakstukken</a></li
            ><li class="tag--item"><a href="#">Bestuursvoorzitter</a></li>
        </ul>
    </div>

</div><div class="codeBlock"><div class="highlight"><pre>
    <span class="nt">&lt;h2&gt;</span>Trending topics in Tech<span class="nt">&lt;/h2&gt;</span>

    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"tag"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;ul</span>  <span class="na">class=</span><span class="s">"list-inline  list-bare"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"tag--item"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Veiligheidssituatie<span class="nt">&lt;/a&gt;&lt;/li
            &gt;&lt;li</span> <span class="na">class=</span><span class="s">"tag--item"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>MH17<span class="nt">&lt;/a&gt;&lt;/li
            &gt;&lt;li</span> <span class="na">class=</span><span class="s">"tag--item"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Rampplek<span class="nt">&lt;/a&gt;&lt;/li
            &gt;&lt;li</span> <span class="na">class=</span><span class="s">"tag--item"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Oekraine<span class="nt">&lt;/a&gt;&lt;/li
            &gt;&lt;li</span> <span class="na">class=</span><span class="s">"tag--item"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Wrakstukken<span class="nt">&lt;/a&gt;&lt;/li
            &gt;&lt;li</span> <span class="na">class=</span><span class="s">"tag--item"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Bestuursvoorzitter<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
        <span class="nt">&lt;/ul&gt;</span>
    <span class="nt">&lt;/div&gt;</span>

</pre></div></div></div><div class="cortana-content">
        </div>
      </div>
    </div>

    <footer class="cortana-footer">
      Build with love using Trulia's <a href="https://github.com/trulia/hologram">Hologram</a> and <a href="https://github.com/Yago/Cortana">Cortana</a> !
    </footer>  
  </div>

  <script src="theme-build/js/vendors.min.js"></script>
  <script type="text/javascript">
    var jQuery_no_conflict = $.noConflict(true);
  </script>
  <script src="theme-build/js/main.js"></script>
  <script type="text/javascript">

    angular.module("cortana").controller("TypeaheadCtrl", function($scope) {
      $scope.selected = undefined;
      $scope.searchData = 
      [
        
          
        
          
            
              
              
              {
              "title": "hoofdnavigatie",
              "breadcrumb": "Navigatie - Navigatie > hoofdnavigatie",
              "path": "navigatie_-_navigatie.html#hoofdnavigatie"
              },
            
          
        
          
            
              
              
              {
              "title": "Kleuren",
              "breadcrumb": "Kleuren - Kleuren > Kleuren",
              "path": "kleuren_-_kleuren.html#Kleuren"
              },
            
          
        
          
            
              
              
              {
              "title": "line header",
              "breadcrumb": "headers - headers > line header",
              "path": "headers_-_headers.html#line_header"
              },
            
          
        
          
            
              
              
              {
              "title": "tags",
              "breadcrumb": "elements - elements > tags",
              "path": "elements_-_elements.html#tags"
              },
            
          
        
          
            
              
              
              {
              "title": "Typography2",
              "breadcrumb": "Typography2 - meta text > Typography2",
              "path": "typography2_-_meta_text.html#Typography2"
              },
            
          
        
          
        
      {}];
      $scope.onSelect = function ($item, $model, $label) {
        window.location.replace($item.path);
      };
    });

  </script>
  <script type="text/ng-template" id="customTemplate.html">
    <a href="{{match.model.path}}">
      <p class="cortana-search-title">{{match.model.title}}</p>
      <p class="cortana-search-path">{{match.model.breadcrumb}}</p>
    </a>
  </script>
  
    
      <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    
      <script type="text/javascript" src="../js/_bower.js"></script>
    
  
  <!-- Source Components -->
  
</body>
</html>
