---
layout: page
title: performance
sort: 4
level: 2
---

<header class="main-header vignette" id="top">

    <div class="mobile-menu  navbanner">

        <div class="center-div">

            <a href="#" id="toggle-menu"><span></span></a>

            <h1 id="idTag"><a class="site-title" href="{{ site.baseurl }}/"><span class="hide">{{ site.title }}</span></a></h1>

            <nav class="mainnav">
                <ul>
                    {% assign pages = site.pages | sort:"sort"  %}
                    {% for page in pages %}
                    {% if page.title %}
                    {% if page.level == 1 %}
                    <li class="mainnav__item"><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </nav>

        </div>

    </div>

    <div class="page-header__banner">

        <div class="ratio  ratio-landscape">

            <div class="ratio__content  bg-cover"  style="background-image: url(/images/strukton-bg.jpg);">

                <nav class="buttongroup  mt++">
                    <a href="#performance" class="buttongroup__item  btn  btn--next-diap  active"><span>Performance</span></a>
                    <a href="#security" class="buttongroup__item  btn  btn--next-diap"><span>Security</span></a>
                    <a href="#touchfirst" class="buttongroup__item  btn  btn--next-diap"><span>Touch first</span></a>
                    <a href="#drupal" class="buttongroup__item  btn  btn--next-diap"><span>Drupal</span></a>
                </nav>

            </div>

        </div>

        <div class="box  box--large  refintro">
            <div class="center-page  center-page--small">
                <div class="pos-rel  mb">
                    <div class="refintro__header">

                        <div id="performance_hype_container" style="margin:auto;position:relative;width:706px;height:421px;overflow:hidden;" aria-live="polite">
                            <script type="text/javascript" charset="utf-8" src="/images/animatie/performance.hyperesources/performance_hype_generated_script.js?71616"></script>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</header>

<main class="main-content">

    <!-- intro box-->

    <div class="section">

        <div class="center-div">

            <h1 class="page-title  mb0">Performance</h1>

            <blockquote class="blockquote">
                een integraal en essentieel onderdeel van elk project
            </blockquote>

            <div class="lede"><p>Onze uitgebreide expertise stellen we beschikbaar aan opdrachtgevers in de vorm van security audits en advisering. Via een security audit stellen we vast of een web omgeving het juiste veiligheidsniveau heeft en geven concrete aanbevelingen om het veiligheidsniveau te verbeteren.</p></div>

        </div>

    </div>

    <hr class="gradient" />

    <!-- paragrafen -->

    <div class="section">
        <div class="center-page  center-page--small">
            <h2 class="gamma">Slimme architectuur</h2>
            <p>Als eerste en belangrijkste component om optimale performance te bereiken is het toepassen van de juiste software architectuur. Software architectuur die vanaf het begin berekend is op performance en schaalbaarheid. Onze software architecten beschouwen dit als het meest invloedrijke component in performance. Als dit niet goed is, helpen de andere tools maar ten dele.</p>
        </div>
    </div>

    <div class="section  section--figure">
        <div class="center-page  center-page--small">
            <img src="/images/content/arsenaal-slimme-architectuur.png" alt="image" />
        </div>
    </div>


    <div class="section">
        <div class="center-page  center-page--small">
            <h2 class="gamma">Content delivery network</h2>
            <p>Door de toepassing van een Content Delivery Network wordt een groot gedeelte van de web content wereldwijd beschikbaar gemaakt via een netwerk van servers (geografisch) dichtbij de bezoekers. Het is zeer effectief om de performance van websites met een internationale doelgroep te optimaliseren.</p>
        </div>
    </div>

    <div class="section  section--figure">
        <div class="center-page  center-page--small">
            <img src="/images/content/arsenaal-cdn.png" alt="image" />
        </div>
    </div>


    <div class="section">
        <div class="center-page  center-page--small">
            <h2 class="gamma">Caching</h2>
            <p>Niets is zo traag als een database toepassing. Door gebruik te maken van de juiste caching op de juiste plaats en op de juiste tijd kan zelfs de traagste database applicatie als snelle applicatie voor de gebruiker worden gepresenteerd.
            </p>
        </div>
    </div>

    <div class="section  section--figure">
        <div class="center-page  center-page--small">
            <img src="/images/content/arsenaal-caching.png" alt="image" />
        </div>
    </div>


    <div class="section">
        <div class="center-page  center-page--small">
            <h2 class="gamma">API infrastructuur</h2>
            <p>Door gebruik te maken van een voor performance geoptimaliseerde API laag kunnen onderliggende trage systemen toch ingezet worden. Zo kan een API-laag als buffer fungeren voor een trage transactie verwerking elders, zodat de bezoeker er in elk geval geen last van heeft.</p>
        </div>
    </div>

    <div class="section  section--figure">
        <div class="center-page  center-page--small">
            <img src="/images/content/arsenaal-api.png" alt="image" />
        </div>
    </div>


    <div class="section">
        <div class="center-page  center-page--small">
            <h2 class="gamma">Hosting</h2>
            <p>Hosting is een belangrijk component voor elke webapplicatie, zeker als het gaat om performance. Ibuildings werkt met solide partners op het gebied van hosting. Daarnaast hebben we intieme kennis over de benodigde hosting infrastructuur en adviseren we onze opdrachtgevers hierin.</p>
        </div>
    </div>

    <div class="section  section--figure">
        <div class="center-page  center-page--small">
            <img src="/images/content/arsenaal-hosting.png" alt="image" />
        </div>
    </div>

</main>

{% include cta-home.html %}

{% include footer.html %}
