// <!-- flexslider html -->
//
// <div class="slickslider">
//     <div class="slickslider__item">
//         <img src="img/image.jpg" alt="woning" class="mb-" />
//         <h4>Titel</h4>
//         <p>Tekstregels</p>
//     </div>
//     <div class="slickslider__item">
//         <img src="img/image.jpg" alt="woning" class="mb-" />
//         <h4>Titel</h4>
//         <p>Tekstregels</p>
//     </div>
//     <div class="slickslider__item">
//         <img src="img/image.jpg" alt="woning" class="mb-" />
//         <h4>Titel</h4>
//         <p>Tekstregels</p>
//     </div>
// </div>
//
// $('.slickslider').slick({
//     dots: true,
//     infinite: false,
//     speed: 200,
//     slidesToShow: 4,
//     slidesToScroll: 4,
//     responsive: [
//         {
//             breakpoint: 1024,
//             settings: {
//                 slidesToShow: 3,
//                 slidesToScroll: 3,
//                 infinite: false,
//                 dots: true
//             }
//         },
//         {
//             breakpoint: 710,
//             settings: {
//                 slidesToShow: 2,
//                 slidesToScroll: 2
//             }
//         },
//         {
//             breakpoint: 480,
//             settings: {
//                 slidesToShow: 1,
//                 slidesToScroll: 1
//             }
//         }
//     ]
// });

.slick-dots {
    position: relative;
    margin: 0;
    bottom: auto;
    margin-bottom: $inuit-base-spacing-unit*2;

    li {
        margin: 0;
        button:before {
            font-size: 40px;
        }
    }
}

.slickslider__item {
    padding-bottom: 0;
    border: 0;
    outline: 0;
}
