// <div class="center-page">
// <a href="#" id="idTag"><h1><span class="hide">Ingrid Sinke - VVE beheer</span></h1></a>
// </div>


#idTag {
    background: url(../images/logo-ibuildings-diap.svg) no-repeat center center;
    @include background-size(176px, 40px);
    width: 176px;
    height: 40px;
    z-index: 20;
    margin: 0 auto;
    font-size: 0;
    @include media-query(desk) {
        @include background-size(176px, 40px);
        width: 176px;
        height: 40px;
        right: auto;
        margin: 0;
        position: absolute;
        left: 0;
        top: 6px;
    }
    //@include media-query(desk) {
    //    @include background-size(176px, 40px);
    //    width: 176px;
    //    height: 40px;
    //}
}

// hide logo when mobile menu is open

#idTag {
    .togglemenu--active & {
        display: none;
    }
}


