/*------------------------------------*\
    #SEPARATORS
\*------------------------------------*/


$pk-separator-line:         false !default;
$pk-separator-shadow:       false !default;


@if ($pk-separator-line == true) {

    /**
     * simple separator with tiny line
     */

    .separator-line {
        border-top: 1px solid $tiny-border-color;
    }

}




@if ($pk-separator-shadow == true)  {

    /**
     * block separator with corner shadow + tiny line
     */

    .separator-shadow {
        border-top: 1px solid $tiny-border-color;
        position: relative;
        overflow: hidden;
        &:after,
        &:before {
            position: absolute;
            top: -24px;
            content: '';
            height: 24px;
            left: -10%;
            @include drop-shadow(0, 0, 36px, .2);
            @include rotation(-2deg, top, left);
            width: 50%
        }
        &:after {
            left: auto;
            right: -10%;
            @include rotation(2deg, top, right);
        }
    }

}
