// <div class="social">
//     <div class="social__item  social__item--facebook"><a href="#"><span class="hide">Facebook</span></a></div>
//     <div class="social__item  social__item--twitter"><a href="#"><span class="hide">Twitter</span></a></div>
//     <div class="social__item  social__item--mail"><a href="#"><span class="hide">Mail</span></a></div>
//     <div class="social__item  social__item--googleplus"><a href="#"><span class="hide">Googleplus</span></a></div>
// </div>

.social {
    background: url(../images/icons/icons-social-sprite.svg) no-repeat right top;
    left: 0;
    right: 0;
    top: 0;
    width: 210px;
    height: 36px;
    margin: 0 auto;
    @include media-query(lap-and-up) {
        left: auto;
        float: right;
        margin: 0;
        position: absolute;
    }
}
    .social__item {

        margin-right: $inuit-base-spacing-unit/2;
        .icon {
            width: 50px;
            height: 50px;
        }

    }

    .social__item--facebook {

    }

    .social__item--twitter {

    }

    .social__item--mail {

    }

    .social__item--googleplus {

    }