/*doc
---
title: tags
category: elements - elements

---

```html_example

    <h2>Trending topics in Tech</h2>

    <div class="tag">
        <ul  class="list-inline  list-bare">
            <li class="tag--item"><a href="#">Veiligheidssituatie</a></li
            ><li class="tag--item"><a href="#">MH17</a></li
            ><li class="tag--item"><a href="#">Rampplek</a></li
            ><li class="tag--item"><a href="#">Oekraine</a></li
            ><li class="tag--item"><a href="#">Wrakstukken</a></li
            ><li class="tag--item"><a href="#">Bestuursvoorzitter</a></li>
        </ul>
    </div>

```

*/


.tag {

    @include clearfix;

}

    .tag--item {

        a {
            display: block;
            font-size: 12px;
            color: #fff;
            padding: 6px 10px 4px 10px;
            background: grey;
            margin: 0 10px 10px 0;

            &:hover {
                background: darken(grey, 10%);
            }
        }
    }