---
layout: page
title: technologie
sort: 2
level: 1
---

<header class="main-header vignette" id="top">

    <div class="video-container  darken">
        <video autoplay loop poster="/images/video/touchfirst/iPhone-Scroll.jpg">
            <source src="/images/video/touchfirst/iPhone-Scroll.webm" type='video/webm; codecs="vp8.0, vorbis"'>
            <source src="/images/video/touchfirst/iPhone-Scroll.mp4" type='video/mp4; codecs="avc1.4D401E, mp4a.40.2"'>
            <p>Fallback content to cover incompatibility issues</p>
        </video>
    </div>

    <div class="mobile-menu  navbanner">

        <div class="center-div">

            <a href="#" id="toggle-menu"><span></span></a>

            <h1 id="idTag"><a class="site-title" href="{{ site.baseurl }}/"><span class="hide">{{ site.title }}</span></a></h1>

            <nav class="mainnav">
                <ul>
                    {% assign pages = site.pages | sort:"sort"  %}
                    {% for page in pages %}
                    {% if page.title %}
                    {% if page.level == 1 %}
                    <li class="mainnav__item"><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </nav>

        </div>

    </div>

    <div class="center-div">

        <div class="pageintro">
            <h1 class="pageintro__title mb-">Technologie</h1>

            <div class="pageintro__lede"><p>Internet technologie is de snelst veranderende tak van de IT industrie. Ibuildings maakt harde
                keuzes welke technologie ze wel en niet ondersteunt <e></e>n we zorgen dat we daar heel goed in zijn.</p></div>
        </div>

        <nav class="buttongroup  mb+">
            <a href="#performance" class="buttongroup__item  btn  btn--anchor"><span>Performance</span></a>
            <a href="#security" class="buttongroup__item  btn  btn--anchor"><span>Security</span></a>
            <a href="#touchfirst" class="buttongroup__item  btn  btn--anchor"><span>Touch first</span></a>
            <a href="#drupal" class="buttongroup__item  btn  btn--anchor"><span>Drupal</span></a>
        </nav>

    </div>

</header>

<main class="main-content">

    <!-- performance -->

    <div class="section  section--intro"  id="performance">

        <div class="center-page  center-page--small">

            <svg class="icon  icon--medium" id="icon-performance" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="120px" height="74.2px" viewBox="-124.5 237.7 120 74.2" style="enable-background:new -124.5 237.7 120 74.2;" xml:space="preserve"><style type="text/css">.st0{fill:none;stroke:#070707;stroke-miterlimit:10;}</style><g><circle class="st0" cx="-65.1" cy="273.2" r="35"/><g><g><line class="st0" x1="-64.9" y1="241.6" x2="-64.9" y2="247.5"/><line class="st0" x1="-86.9" y1="251" x2="-82.8" y2="255.1"/><line class="st0" x1="-95.9" y1="273.1" x2="-90" y2="273.1"/><line class="st0" x1="-86.6" y1="295.1" x2="-82.4" y2="291"/><line class="st0" x1="-64.4" y1="304.1" x2="-64.4" y2="298.2"/><line class="st0" x1="-42.4" y1="294.8" x2="-46.6" y2="290.6"/><line class="st0" x1="-33.4" y1="272.6" x2="-39.3" y2="272.6"/><line class="st0" x1="-42.8" y1="250.6" x2="-46.9" y2="254.8"/></g><g><path class="st0" d="M-66.3,275.6c-2.3,0.8-4,3-4,5.7c0,3.3,2.7,6,6,6c3.3,0,6-2.7,6-6c0-2.7-1.8-5-4.2-5.7"/><path class="st0" d="M-62.6,275.5v-15.6c0-1-0.8-1.9-1.9-1.9c-1.1,0-1.9,0.8-1.9,1.9v15.7c0.6-0.2,1.3-0.3,2-0.3
				C-63.7,275.3-63.1,275.4-62.6,275.5z"/></g></g></g><g><circle class="st0" cx="-65.1" cy="273.2" r="35"/><g><g><line class="st0" x1="-64.9" y1="241.6" x2="-64.9" y2="247.5"/><line class="st0" x1="-86.9" y1="251" x2="-82.8" y2="255.1"/><line class="st0" x1="-95.9" y1="273.1" x2="-90" y2="273.1"/><line class="st0" x1="-86.6" y1="295.1" x2="-82.4" y2="291"/><line class="st0" x1="-64.4" y1="304.1" x2="-64.4" y2="298.2"/><line class="st0" x1="-42.4" y1="294.8" x2="-46.6" y2="290.6"/><line class="st0" x1="-33.4" y1="272.6" x2="-39.3" y2="272.6"/><line class="st0" x1="-42.8" y1="250.6" x2="-46.9" y2="254.8"/></g><g><path class="st0" d="M-66.3,275.6c-2.3,0.8-4,3-4,5.7c0,3.3,2.7,6,6,6c3.3,0,6-2.7,6-6c0-2.7-1.8-5-4.2-5.7"/><path class="st0" d="M-62.6,275.5v-15.6c0-1-0.8-1.9-1.9-1.9c-1.1,0-1.9,0.8-1.9,1.9v15.7c0.6-0.2,1.3-0.3,2-0.3
				C-63.7,275.3-63.1,275.4-62.6,275.5z"/></g></g></g><g><path class="st0" d="M-48,306.1c4.5,3.3,10,5.3,16,5.3c14.9,0,27-12.1,27-27c0-14.8-11.8-26.7-26.5-27 M-31.8,308.3v-4.4V308.3z
		 M-15.5,268l-3.2,3.2L-15.5,268z M-18.4,298.1l3.2,3.2L-18.4,298.1z M-8.5,284.6h-4.4H-8.5z"/><path class="st0" d="M-98.7,257.5c-14.1,0.9-25.3,12.6-25.3,26.9c0,14.9,12.1,27,27,27c5.8,0,11.1-1.8,15.5-4.9 M-120.5,285h4.4
		H-120.5z M-110.6,271.4l-3.2-3.1L-110.6,271.4z M-113.5,301.5l3.2-3.1L-113.5,301.5z M-96.8,308.3v-4.4V308.3z"/></g></svg>

            <h2 class="section__header  section__header--large">Performance, een integraal en essentieel onderdeel van elk project.</h2>

            <div class="lede">
                <p>We hebben ruime ervaring opgedaan bij het bouwen van high-performance websites zoals NU.nl en de RTL Nieuws. Door inzet van slimme technieken zorgen we dat uw bestaande of nieuwe applicatie snel en direct aanvoelt. Dit geeft uw doelgroep een positieve gebruikerservaring.</p>
            </div>

            <a href="/technologie/performance/index.html" class="btn  btn--next"><span>Lees meer</span></a>

        </div>

    </div>


    <hr class="gradient" />


    <!-- security -->


    <div class="section  section--intro"  id="security">

        <div class="center-page  center-page--small">

            <svg class="icon  icon--medium" version="1.1" id="icon-security" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="59px" height="96.4px" viewBox="0 0 59 96.4" enable-background="new 0 0 59 96.4" xml:space="preserve"><g><path fill="none" stroke="#000000" stroke-miterlimit="10" d="M10.2,45.3c-5.9,5.3-9.7,13-9.7,21.6c0,16,13,29,29,29s29-13,29-29 c0-8.6-3.7-16.3-9.7-21.6"/><path fill="none" stroke="#000000" stroke-miterlimit="10" d="M48.8,45.3V19.8c0-10.7-8.6-19.3-19.3-19.3l0,0 c-10.7,0-19.3,8.6-19.3,19.3v25.5c5.1-4.6,11.9-7.4,19.3-7.4S43.7,40.7,48.8,45.3z"/><line fill="none" stroke="#000000" stroke-miterlimit="10" x1="29.3" y1="60.1" x2="29.3" y2="78.3"/></g></svg>

            <h2 class="section__header  section__header--large">Security - A way of life bij Ibuildings</h2>

            <div class="lede">
                <p>Onze uitgebreide expertise stellen we beschikbaar aan opdrachtgevers in de vorm van security audits en advisering. Via een security audit stellen we vast of een webomgeving het juiste veiligheidsniveau heeft en geven concrete aanbevelingen om dit te verbeteren. Dit doen wij niet alleen voor uw webomgeving, maar ook uw ontwikkelproces. Wecurity is geen eenmalige taak, maar behoort een integraal onderdeel te zijn van het continue ontwikkelproces.</p>
            </div>

            <a href="/technologie/security/index.html" class="btn  btn--next"><span>Lees meer</span></a>

        </div>

    </div>


    <hr class="gradient" />


    <!-- touchfirst -->

    <div class="section  section--intro"  id="touchfirst">

        <div class="center-page  center-page--small">

            <svg  class="icon  icon--medium" id="icon-touchfirst"version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55.8px" height="106.5px" viewBox="0 0 55.8 106.5" style="enable-background:new 0 0 55.8 106.5;" xml:space="preserve"><path class="st0" d="M52,106H3.8c-1.8,0-3.3-1.5-3.3-3.3V3.8C0.5,2,2,0.5,3.8,0.5H52c1.8,0,3.3,1.5,3.3,3.3v98.9 C55.3,104.5,53.9,106,52,106z"/><line class="st0" x1="0.3" y1="13.3" x2="55.2" y2="13.3"/><line class="st0" x1="0.3" y1="92.1" x2="55.2" y2="92.1"/><circle class="st0" cx="28" cy="99.6" r="3.1"/></svg>

            <h2 class="section__header  section__header--large">Touch first</h2>

            <div class="lede">
                <p>Websites worden applicaties. En applicaties worden apps. Met een touch interface als het unieke verschil. Ibuildings bouwt applicaties die net zo makkelijk met een vinger te bedienen zijn als met een muis. En omdat het mogelijk is om een touch interface met de muis te bedienen maar niet andersom, denken wij “Touch First”. We vinden het belangrijk dat een applicatie gewoon werkt, los van het apparaat wat je in je handen hebt of dat op je buro staat. </p>
            </div>

            <a href="/technologie/touchfirst/index.html" class="btn  btn--next"><span>Lees meer</span></a>

        </div>

    </div>


    <hr class="gradient" />

    <!-- drupal -->

    <div class="section  section--intro"  id="drupal">

        <div class="center-page  center-page--small">

            <svg class="icon  icon--medium" id="icon-drupal" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="81.3px" height="92.8px" viewBox="0 0 81.3 92.8" enable-background="new 0 0 81.3 92.8" xml:space="preserve"><g><path fill="none" stroke="#000000" stroke-miterlimit="10" d="M45,92.3c-2.6,0-5.2,0-7.9,0c-2.3-0.5-4.5-0.9-6.8-1.5
		C14.6,87,2.1,72.8,0.7,56.7c-1.3-15.4,4.6-27.6,17.1-36.5c3.5-2.5,7.4-4.4,11.1-6.4c4.3-2.3,7-5.8,7.9-10.7
		c0.1-0.7,0.4-1.3,0.6-2.2c0.5,0.5,0.9,0.7,1.1,1.1c4.7,6.4,11,10.4,18.2,13.7C73.2,23.4,83.2,40,80.4,59.5
		c-2.2,15-10.9,25.1-25,30.3C52,91,48.4,91.5,45,92.3z M77.7,59.1c-0.1-0.7-0.2-2.1-0.6-3.4c-1.2-3.4-4.1-4.7-7.4-3.2
		c-1,0.5-2,1.1-3,1.6c-3,1.9-6,3.8-9.1,5.6c-1.8,1.1-3.8,1-5.6-0.1c-2-1.3-3.9-2.7-6-3.8c-3.1-1.7-6.2-3.6-9.5-4.7
		c-7.4-2.5-15.9,2.1-18.3,9.5c-2.2,6.9,1.6,12.8,8.8,13.6c3.9,0.5,7.6-0.3,11.1-2.1c4.6-2.4,9.1-4.9,13.6-7.5c2.8-1.6,5.2-1,7.5,1.1
		c2.1,2,4.2,4,6.3,6c3.3,3.1,5.7,2.9,8.5-0.7C76.3,67.7,77.3,63.9,77.7,59.1z"/></g></svg>

            <h2 class="section__header  section__header--large">performance, een integraag en essentieel onderdeel van elk project.</h2>

            <div class="lede">
                <p>We hebben ruime ervaring opgedaan bij het bouwen van high-performance websites zoals NU.nl en de RTL Nieuws. Door inzet van slimme technieken zorgen we dat uw bestaande of nieuwe applicatie snel en direct aanvoelt. Dit geeft uw doelgroep een positieve gebruikerservaring.</p>
            </div>

            <a href="/technologie/drupal/index.html" class="btn  btn--next"><span>Lees meer</span></a>

        </div>

    </div>


</main>

{% include cta-home.html %}

{% include footer.html %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script src="/js/vendor/slick.min.js"></script>

<script src="/js/vendor/typed.min.js"></script>

<script src="/js/vendor/velocity.min.js"></script>

<script src="/js/vendor/jquery.waypoints.min.js"></script>

<script src="/js/vendor/vivus.min.js"></script>

<!--<script src="/js/scripts.js"></script>-->

<script>

    (function($) {



        //animate some icons
        new Vivus('icon-performance', {
            duration: 100,
            animTimingFunction: Vivus.EASE
        });

        new Vivus('icon-security', {
            duration: 100,
            animTimingFunction: Vivus.EASE
        });

        new Vivus('icon-touchfirst', {
            duration: 100,
            animTimingFunction: Vivus.EASE
        });


        new Vivus('icon-drupal', {
            duration: 100,
            animTimingFunction: Vivus.EASE
        });


        // navigation
        var navbanner = $('.navbanner');

        // background navigation
        $(window).bind('scroll', function() {
            if ($(window).scrollTop() > 10) {
                navbanner.addClass("navbanner--scrolled");
            } else {
                navbanner.removeClass("navbanner--scrolled");
            }
        });

        // show/hide scroll to top button
        $(window).bind('scroll', function() {
            if ($(window).scrollTop() > 400) {
                $(".btntop").show();
            } else {
                $(".btntop").hide();
            }
        });

        $('.shownext').on("click", function (e) {
            $(this).next().addClass('show');
            e.preventDefault();
        });

        if ($(window).scrollTop() > 10) {
            navbanner.addClass("navbanner--scrolled");
        }

    })(jQuery);


    function onScrollInit( items, trigger ) {
        items.each( function() {
            var osElement = $(this),
                    osAnimationClass = osElement.attr('data-os-animation'),
                    osAnimationDelay = osElement.attr('data-os-animation-delay');

            osElement.css({
                '-webkit-animation-delay':  osAnimationDelay,
                '-moz-animation-delay':     osAnimationDelay,
                'animation-delay':          osAnimationDelay
            });

            var osTrigger = ( trigger ) ? trigger : osElement;

            osTrigger.waypoint(function() {
                osElement.addClass('animated').addClass(osAnimationClass);
            },{
                triggerOnce: true,
                offset: '90%'
            });
        });
    }

    onScrollInit( $('.os-animation') );



    $('.refindex').mouseenter(function () {
        $(this).find('.refindex__caption').velocity({
            paddingBottom: 90
        },{
            duration: 25,
            delay: 0
        });

        $(this).find('.btn').velocity({
            opacity:1
        },{
            duration: 25,
            delay: 100
        });
    }).mouseleave(function () {
        $(this).find('.refindex__caption').velocity({
            paddingBottom: 24,
            delay: 100
        });
        $(this).find('.btn').velocity({
            opacity:0
        },{
            duration: 25,
            delay: 0
        });
    });

    $(".tabs-menu a").click(function(event) {
        event.preventDefault();
        $(this).parent().addClass("current");
        $(this).parent().siblings().removeClass("current");
        var tab = $(this).attr("href");
        $(".tab-content").not(tab).css("display", "none");
        $(tab).fadeIn();
    });


    $('.btn--anchor').click(function(){
        $('html, body').animate({
            scrollTop: $( $.attr(this, 'href') ).offset().top - 83
        }, 500);
        return false;
    });



</script>

<a href="#top" class="btntop"><span class="hide">naar boven</span></a>
