<div class="box  box--flush  refindex  animated  os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".2s">
    <a href="/blog/blog-detail.html">
        <div class="refindex__date">12-06-2015</div>
        <img src="/images/rails.jpg" alt="description" class="refindex__image">
        <div class="refindex__caption">
            <h3 class="refindex__header">Strukton Rail</h3>

            <p>Iworkx Blueprint: een software tool voor het modelleren van bedrijfsprocessen</p>
        </div>
        <div  class="btn  btn--dark">Lees meer</div>
    </a>
</div>