<div class="p-  mb lap-and-up-p  contactpersoon">

    <img src="/images/persoon.jpg" alt="" class="contactpersoon__image "/>

    <h4 class="contactpersoon__naam">Joni Overbosch</h4>

    <div class="contactpersoon__action">
        <ul>
            <li><a href="#" class="icon  icon--small  icon-mail"><span class="hide">mail</span></a></li>
            <li><a href="#" class="icon  icon--small  icon-phone"><span class="hide">telefoon</span></a></li>
        </ul>
    </div>

</div>
