<section class="box  call-to-action  box--large">

    <div class="center-page">

        <h2 class="section__header  section__header--cta">Advies nodig?</h2>

        <p>Heeft een een vraag over performance of bent u benieuwd naar onze visie op uw performance problemen?<br />
            Neem vrijblijvend contact op met één van onze experts.</p>

        <div class="layout  layout--contactpersonen">
            <div class="layout__item  u-1/2">
                {% include contactpersoon.html %}
            </div><div class="layout__item  u-1/2">
                {% include contactpersoon.html %}
            </div>
        </div>

        <a href="#" class="btn  btn--dark  shownext">Benieuwd?</a>

        <div class="initial-hide">

            <p  class="mt+">Bel ons of laat een berichtje achter en wij nemen contact met u op.</p>

            <p class="gamma">088 00 24000  /  <a href="#">office@ibuildings.nl</a></p>

            <div class="cta-form">

                <div class="layout">

                    <div class="layout__item  u-1/2-lap-and-up">
                        <label for="name"><input class="textfield  textfield-diap" type="text" placeholder="Naam" id="name" /></label>
                        <label for="function"><input class="textfield  textfield-diap" type="text" placeholder="Functie" id="function" /></label>
                        <label for="mail"><input class="textfield  textfield-diap" type="text" placeholder="E-mail" id="mail" /></label>
                        <label for="phone"><input class="textfield  textfield-diap" type="text" placeholder="Telefoon" id="phone" /></label>
                    </div
                            ><div class="layout__item  u-1/2-lap-and-up">
                    <label for="company"><input class="textfield  textfield-diap" type="text" placeholder="Bedrijf" id="company" /></label>
                    <label for="comment"><textarea class="textarea  textarea-diap" id="comment"></textarea></label>
                </div>

                </div>

            </div>

            <a href="#" class="btn  btn--dark">Verstuur</a>

        </div>

    </div>

</section>