<form class="ctools-auto-submit-full-form ctools-auto-submit-processed" action="/vve-s" method="get" id="views-exposed-form-blog-page" accept-charset="UTF-8">
    <div>
        <div class="views-exposed-form">
            <div class="views-exposed-widgets clearfix">
                <div id="tid-wrapper" class="views-exposed-widget views-widget-filter-tid">
                    <div class="views-widget">
                        <div class="form-item form-type-checkbox tid">
                            <input class="bef-select-as-checkbox form-checkbox" type="checkbox" id="tid-1" name="tid" value="1">
                            <label class="option" for="tid-1">Alle</label>
                        </div>
                        <div class="form-item form-type-checkbox tid">
                            <input class="bef-select-as-checkbox form-checkbox" type="checkbox" id="tid-7" name="tid" value="7">
                            <label class="option" for="tid-7">tag-term 1</label>
                        </div>
                        <div class="form-item form-type-checkbox tid">
                            <input class="bef-select-as-checkbox form-checkbox" type="checkbox" id="tid-13" name="tid" value="13">
                            <label class="option" for="tid-13">tag-term 2</label>
                        </div>
                        <div class="form-item form-type-checkbox tid">
                            <input class="bef-select-as-checkbox form-checkbox" type="checkbox" id="tid-2" name="tid" value="2">
                            <label class="option" for="tid-2">tag-term 3</label>
                        </div>
                        <div class="form-item form-type-checkbox tid">
                            <input class="bef-select-as-checkbox form-checkbox" type="checkbox" id="tid-8" name="tid" value="8">
                            <label class="option" for="tid-8">tag-term 4</label>
                        </div>
                        <div class="form-item form-type-checkbox tid">
                            <input class="bef-select-as-checkbox form-checkbox" type="checkbox" id="tid-14" name="tid" value="14">
                            <label class="option" for="tid-14">tag-term 5</label>
                        </div>
                        <div class="form-item form-type-checkbox tid">
                            <input class="bef-select-as-checkbox form-checkbox" type="checkbox" id="tid-3" name="tid" value="3">
                            <label class="option" for="tid-3">tag-term 6</label>
                        </div>
                        <div class="form-item form-type-checkbox tid">
                            <input class="bef-select-as-checkbox form-checkbox" type="checkbox" id="tid-9" name="tid" value="9">
                            <label class="option" for="tid-9">tag-term 7</label>
                        </div>
                        <div class="form-item form-type-checkbox tid">
                            <input class="bef-select-as-checkbox form-checkbox" type="checkbox" id="tid-15" name="tid" value="15">
                            <label class="option" for="tid-15">tag-term 8</label>
                        </div>
                        <div class="form-item form-type-checkbox tid">
                            <input class="bef-select-as-checkbox form-checkbox" type="checkbox" id="tid-4" name="tid" value="4">
                            <label class="option" for="tid-4">tag-term 9</label>
                        </div>
                        <div class="form-item form-type-checkbox tid">
                            <input class="bef-select-as-checkbox form-checkbox" type="checkbox" id="tid-10" name="tid" value="10">
                            <label class="option" for="tid-10">tag-term 10</label>
                        </div>
                        <div class="form-item form-type-checkbox tid">
                            <input class="bef-select-as-checkbox form-checkbox" type="checkbox" id="tid-16" name="tid" value="16">
                            <label class="option" for="tid-16">tag-term 11</label>
                        </div>
                    </div>
                </div>
                <div class="views-exposed-widget views-submit-button">
                    <input class="ctools-use-ajax ctools-auto-submit-click js-hide form-submit" type="submit" id="edit-submit-vve" name="" value="Toepassen">
                </div>
            </div>
        </div>
    </div>
</form>