<footer  class="site-footer">

  <div class="center-page">

    <div class="layout">

      <div class="layout__item  u-1/3-lap-and-up  mb">

        <h3 class="mb0">Contact</h3>

        <p><a href="mailto:info@ibuildings.nl" class="textlink  textlink-diap">info@ibuildings.nl</a><br />
        <a class="tel-number" tabIndex="-1" href="tel:088 00 24 000">088 00 24 000</a></p>

        <ul class="list-inline">
          <li class="social__item  social__item--facebook"><a href="#" class="icon  icon-square-facebook"><span class="hide">Facebook</span></a></li>
          <li class="social__item  social__item--twitter"><a href="#" class="icon  icon-square-twitter"><span class="hide">Twitter</span></a></li>
          <li class="social__item  social__item--googleplus"><a href="#" class="icon  icon-googleplus"><span class="hide">Googleplus</span></a></li>
        </ul>

      </div
      ><div class="layout__item  u-1/3-lap-and-up  mb">

        <h3 class="mb0">Vlissingen</h3>

        <p>Gildeweg 39A<br />
          4383 NJ Vlissingen</p>

        <a href="#" class="btn  btn--dark">Google maps</a>

      </div
      ><div class="layout__item  u-1/3-lap-and-up  mb">

        <h3 class="mb0  ">Utrecht</h3>

        <p>Postbus 1525<br />
          3500 BM Utrecht</p>

        <p>Goeman Borgesiuslaan 77<br />
          3515 ET Utrecht</p>

        <a href="#" class="btn  btn--dark">Google maps</a>

      </div>

    </div>

    <div class="copyright">&copy; copyright Ibuildings. All right reserved.</div>

  </div>

</footer>

<div class="palm"></div>
<div class="lap-and-up"></div>
<div class="portable"></div>
<div class="desk"></div>
