<div class="section  technologies">

    <div class="webtechnologies">
        <div><img src="/images/logo-technology/logo-tech-php.svg" alt="logo" /></div>
        <div><img src="/images/logo-technology/logo-tech-drupal.svg" alt="logo" /></div>
        <div><img src="/images/logo-technology/logo-tech-symfony.svg" alt="logo" /></div>
        <div><img src="/images/logo-technology/logo-tech-javascript.svg" alt="logo" /></div>
        <div><img src="/images/logo-technology/logo-tech-php.svg" alt="logo" /></div>
        <div><img src="/images/logo-technology/logo-tech-drupal.svg" alt="logo" /></div>
        <div><img src="/images/logo-technology/logo-tech-symfony.svg" alt="logo" /></div>
        <div><img src="/images/logo-technology/logo-tech-javascript.svg" alt="logo" /></div>
    </div>

</div>
