<div class="box  notification">
    <ul class="list-block">
        <li class="notification__item"><a href="#"><h3>10 jarig bestaan van DPC speciale editie</h3><p>Early birds voor DPC16 is open. Wil je er zeker van</p></a></li>
        <li class="notification__item"><a href="#"><h3>Gezocht een PHP developer voor Vlissingen</h3></a></li>
        <li class="notification__item"><a href="#"><h3>Nog een notificatie die aandacht nodig heeft.</h3></a></li>
    </ul>
</div>