<div class="box  box--flush  hide-on-mobile">

    <div class="slider slider--hero">

        <div class="slider__item">
            <div class="ratio  ratio-landscape">
                <div class="ratio__content">
                    <canvas class="intro-slider vignette"></canvas>
                    <div class="box">
                        <div class="center-div">
                            <div class="slider__text">
                                <h2><span class="typewriter"></span><img class="cursor" src="/images/cursor.gif" alt="cursor" /></h2>
                                <p class="cta-slider"><a href="/">Benieuwd hoe wij onze passie<br />
                                    kunnen inzetten voor het realiseren<br />
                                    van uw online ambitie?</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider__item">
            <div class="ratio  ratio-landscape">
                <div class="ratio__content  photo-vignette">
                    <img src="/images/hero-images/morning-bed.jpg" alt="rtlz" class="slider__image" />
                    <div class="box">
                        <div class="center-div">
                            <div class="slider__text">
                                <h2>RTLZ</h2>
                                <p>RTL Nieuws bereikt dagelijks miljoenen mensen.<br />
                                    Op tv en steeds meer digitaal via de ‘nieuwswall’, een nieuw, onderscheidend nieuwsconcept. Ibuildings ontwikkelde hiervoor het content-managementsysteem (cms) in Drupal.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider__item">
            <div class="ratio  ratio-landscape">
                <div class="ratio__content  photo-vignette">
                    <img src="/images/hero-images/slider-creative1.jpg" alt="rtlz" class="slider__image" />
                    <div class="box">
                        <div class="center-div">
                            <div class="slider__text">
                                <h2>RTLZ</h2>
                                <p>RTL Nieuws bereikt dagelijks miljoenen mensen.<br />
                                Op tv en steeds meer digitaal via de ‘nieuwswall’, een nieuw, onderscheidend nieuwsconcept. Ibuildings ontwikkelde hiervoor het content-managementsysteem (cms) in Drupal.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider__item">
            <div class="ratio ratio-landscape">
                <div class="ratio__content  photo-vignette">
                    <img src="/images/hero-images/slider-creative2.jpg" alt="rtlz" class="slider__image" />
                    <div class="box">
                        <div class="center-div">
                            <div class="slider__text">
                                <h2>RTLZ</h2>
                                <p>RTL Nieuws bereikt dagelijks miljoenen mensen.<br />
                                    Op tv en steeds meer digitaal via de ‘nieuwswall’, een nieuw, onderscheidend nieuwsconcept. Ibuildings ontwikkelde hiervoor het content-managementsysteem (cms) in Drupal.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider__item">
            <div class="ratio  ratio-landscape">
                <div class="ratio__content  photo-vignette">
                    <img src="/images/hero-images/morning-bed.jpg" alt="rtlz" class="slider__image" />
                    <div class="box">
                        <div class="center-div">
                            <div class="slider__text">
                                <h2>RTLZ</h2>
                                <p>RTL Nieuws bereikt dagelijks miljoenen mensen.<br />
                                    Op tv en steeds meer digitaal via de ‘nieuwswall’, een nieuw, onderscheidend nieuwsconcept. Ibuildings ontwikkelde hiervoor het content-managementsysteem (cms) in Drupal.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider__item">
            <div class="ratio  ratio-landscape">
                <div class="ratio__content  photo-vignette">
                    <img src="/images/hero-images/slider-creative1.jpg" alt="rtlz" class="slider__image" />
                    <div class="box">
                        <div class="center-div">
                            <div class="slider__text">
                                <h2>RTLZ</h2>
                                <p>RTL Nieuws bereikt dagelijks miljoenen mensen.<br />
                                    Op tv en steeds meer digitaal via de ‘nieuwswall’, een nieuw, onderscheidend nieuwsconcept. Ibuildings ontwikkelde hiervoor het content-managementsysteem (cms) in Drupal.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider__item">
            <div class="ratio ratio-landscape">
                <div class="ratio__content  photo-vignette">
                    <img src="/images/hero-images/slider-creative2.jpg" alt="rtlz" class="slider__image" />
                    <div class="box">
                        <div class="center-div">
                            <div class="slider__text">
                                <h2>RTLZ</h2>
                                <p>RTL Nieuws bereikt dagelijks miljoenen mensen.<br />
                                    Op tv en steeds meer digitaal via de ‘nieuwswall’, een nieuw, onderscheidend nieuwsconcept. Ibuildings ontwikkelde hiervoor het content-managementsysteem (cms) in Drupal.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider__item">
            <div class="ratio ratio-landscape">
                <div class="ratio__content  photo-vignette">
                    <img src="/images/hero-images/slider-creative2.jpg" alt="rtlz" class="slider__image" />
                    <div class="box">
                        <div class="center-div">
                            <div class="slider__text">
                                <h2>RTLZ</h2>
                                <p>RTL Nieuws bereikt dagelijks miljoenen mensen.<br />
                                    Op tv en steeds meer digitaal via de ‘nieuwswall’, een nieuw, onderscheidend nieuwsconcept. Ibuildings ontwikkelde hiervoor het content-managementsysteem (cms) in Drupal.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="box  box--flush  hide-on-mobile">
    <div class="slider slider--hero--logos">
        <div class="slider__item  slider__item--empty"></div>
        <div class="slider__item"><img src="/images/logo-rtlz.png" alt="logo" /></div>
        <div class="slider__item"><img src="/images/logo-shapeways.png" alt="logo" /></div>
        <div class="slider__item"><img src="/images/logo-sdu.png" alt="logo" /></div>
        <div class="slider__item"><img src="/images/logo-speakapp.png" alt="logo" /></div>
        <div class="slider__item"><img src="/images/logo-nu.png" alt="logo" /></div>
        <div class="slider__item"><img src="/images/logo-kieskeurig.png" alt="logo" /></div>
    </div>
</div>

<div class="box  box--flush  only-mobile  mobile-start">
    <h2>Ibuildings levert het technisch fundament<br />om sneller en effectiever te communiceren.<br /> Op tijd. Binnen budget."<img class="cursor" src="/images/cursor.gif" alt="cursor" /></h2>
    <nav class="buttongroup">
        <a href="/contact" class="buttongroup__item  btn  btn--outline  btn--contact mb">Contact</a>
        <a href="/overons" class="buttongroup__item  btn  btn--outline  btn--contact">Wie zijn wij?</a>
    </nav>
</div>
