<section class="section">

    <div class="center-page">

        <h2 class="section__header">Technologie</h2>

        <p>Van Desktop Applicaties naar Web Apps en… van Native Mobile Apps naar Mobile Web Apps.</p>

        <div class="pillars  pillars--50">

            <div class="pillars__item  pane  hoverbox">

                <a href="#">
                    <div class="pane__icon  icon-performance" data-grunticon-embed></div>
                    <h3 class="pane__header">Performance</h3>
                    <div class="pane__body"><p>We zijn specialisten in het optimaliseren van de performance van webapplicaties. Als integraal onderdeel van de bouw of door het versnellen van bestaande trage webapplicaties.</p></div>
                    <div class="pane__button"><div class="btn  btn--dark">Lees meer</div></div>
                </a>

            </div
            ><div class="pillars__item  pane  hoverbox">

                <a href="#">
                    <div class="pane__icon  icon-drupal" data-grunticon-embed></div>
                    <h3 class="pane__header">Drupal</h3>
                    <div class="pane__body"><p>Drupal is een van de krachtigste content management platformen die we inzetten als solide basis voor onze oplossing waarbij content management centraal staat.</p></div>
                    <div class="pane__button"><div class="btn  btn--dark">Lees meer</div></div>
                </a>

            </div
            ><div class="pillars__item  pane  hoverbox">

                <a href="#">
                    <div class="icon  icon-mobile" data-grunticon-embed></div>
                    <h3 class="pane__header">Mobile</h3>
                    <div class="pane__body"><p>We vinden het belangrijk dat een applicatie gewoon werkt, los van het apparaat (device) wat je in je handen hebt of wat op je buro staat. Ibuildings ontwerpt en bouwt alles met deze Touch First mindset.</p></div>
                    <div class="pane__button"><div class="btn  btn--dark">Lees meer</div></div>
                </a>

            </div
            ><div class="pillars__item  pane  hoverbox">

                <a href="#">
                    <div class="icon  icon-security" data-grunticon-embed></div>
                    <h3 class="pane__header">Security</h3>
                    <div class="pane__body"><p>Security is een way of life bij Ibuildings. En dat zou voor ieder bedrijf moeten gelden. Lees hoe we dat concreet maken voor onze opdrachtgevers.</p></div>
                    <div class="pane__button"><div class="btn  btn--dark">Lees meer</div></div>
                </a>

            </div>

        </div>

    </div>

</section>