<section class="section  section--dark  usp">

    <div class="center-page">

        <h2 class="section__header">Hierin blinken wij uit!</h2>

        <div class="pillars">

            <div class="pane  hoverbox  pillars__item">
                <a href="#">
                    <svg  class="pane__icon" id="icon-drupal-border" width="91px" height="91px" viewBox="0 0 91 91" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                        <path fill="none" d="M90.2941176,45.6470588 C90.2941176,70.3044118 70.3057647,90.2941176 45.6470588,90.2941176 C20.9897059,90.2941176 1,70.3044118 1,45.6470588 C1,20.9883529 20.9897059,1 45.6470588,1 C70.3057647,1 90.2941176,20.9883529 90.2941176,45.6470588 L90.2941176,45.6470588 Z M48.3218235,71.5545294 L43.7624118,71.5545294 C42.4568235,71.2744706 41.1431176,71.0282353 39.847,70.7089412 C30.7187059,68.4617059 23.4953529,60.2507059 22.6862941,50.956 C21.9124118,42.0563529 25.3542941,34.9831765 32.5641176,29.7973529 C34.5678235,28.3564706 36.8272353,27.2619412 39.0081765,26.0821765 C41.5111176,24.7278824 43.0548235,22.7160588 43.5716471,19.9127647 C43.6447059,19.5190588 43.7921765,19.1402353 43.9382941,18.641 C44.2156471,18.9048235 44.4348235,19.0604118 44.5877059,19.2674118 C47.3111765,22.9528235 50.9749412,25.2758235 55.1000588,27.2024118 C64.6585882,31.6630588 70.4857059,41.2797647 68.8134706,52.5308235 C67.5200588,61.2275294 62.4938824,67.0384118 54.3126471,70.0838824 C52.3982353,70.7955294 50.3228235,71.0755882 48.3218235,71.5545294 L48.3218235,71.5545294 Z M65,52.0107081 C64.9291193,51.6107384 64.8873503,50.8563653 64.6544566,50.1652786 C64.0291876,48.3097233 62.4305749,47.6414196 60.6421031,48.4464218 C60.0851833,48.6957699 59.5599068,49.0172645 59.0371616,49.3349619 C57.3866541,50.3424803 55.761461,51.3942992 54.0894361,52.3651115 C53.1009035,52.9397514 52.0440218,52.9283599 51.051692,52.311951 C49.9568385,51.6309901 48.9176769,50.8525682 47.7899144,50.2348935 C46.1039665,49.3109131 44.4319415,48.2768144 42.6270153,47.6654684 C38.6020045,46.3048122 34.0099481,48.7818393 32.699921,52.8144445 C31.4822919,56.5609955 33.5732724,59.7379694 37.4767735,60.1860367 C39.6107886,60.4303219 41.6055739,60.0366809 43.471255,59.0646028 C45.9571422,57.7684987 48.4063233,56.4002482 50.8441129,55.0155432 C52.3756421,54.1472547 53.6793406,54.4598892 54.8868439,55.6028404 C56.034858,56.6900996 57.1727462,57.7900161 58.3194946,58.8798067 C60.0877148,60.5606918 61.4078677,60.4455106 62.9014252,58.4899629 C64.2861302,56.6774423 64.8303926,54.5851961 65,52.0107081 L65,52.0107081 Z" id="Imported-Layers" sketch:type="MSShapeGroup"/>
                    </svg>
                    <h3 class="pane__header">Enterprise Drupal</h3>
                    <div class="pane__body"><p>Drupal is uitgegroeid is tot het meest populaire open source content management platform ter wereld. Drupal is zeer goed inzetbaar  in bedrijfskritische enterprise omgevingen.</p></div>
                    <div class="pane__button"><div class="btn">Lees meer</div></div>
                </a>
            </div>

            <div class="pane  hoverbox  pillars__item">
                <a href="#">
                    <svg class="pane__icon"  id="icon-code-border" width="91px" height="91px" viewBox="0 0 91 91" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                        <path fill="none" d="M88.6607463,44.6719403 C88.6607463,69.182242 68.8137313,89.0502985 44.3323881,89.0502985 C19.8497015,89.0502985 0.00402985075,69.182242 0.00402985075,44.6719403 C0.00402985075,20.1629834 19.8497015,0.29358209 44.3323881,0.29358209 C68.8137313,0.29358209 88.6607463,20.1629834 88.6607463,44.6719403" id="Fill-1"/><path fill="none" d="M16.7883582,47.4347761 L16.7883582,42.8514925 L33.2556716,35.2673134 L33.2556716,40.8231343 L23.480597,45.1632836 L33.2556716,49.4631343 L33.2556716,55.0189552 L16.7883582,47.4347761 L16.7883582,47.4347761 Z M40.9647761,59.7244776 L36.0161194,59.7244776 L47.5750746,24.8434328 L52.5237313,24.8434328 L40.9647761,59.7244776 L40.9647761,59.7244776 Z M55.1632836,55.0189552 L55.1632836,49.4631343 L64.9370149,45.1632836 L55.1632836,40.8231343 L55.1632836,35.2673134 L71.6292537,42.8514925 L71.6292537,47.4347761 L55.1632836,55.0189552 L55.1632836,55.0189552 Z" id="Stroke-2"/>
                    </svg>
                    <h3 class="pane__header">PHP Applicatie ontwikkeling</h3>
                    <div class="pane__body"><p>Ontwerp en realisatie van bedrijfskritische webapplicaties met behulp van moderne, open source internet technologie.</p></div>
                    <div class="pane__button"><div class="btn">Lees meer</div></div>
                </a>
            </div>

            <div class="pane  hoverbox  pillars__item">
                <a href="#">
                    <svg class="pane__icon"  id="icon-247-border" width="92px" height="92px" viewBox="0 0 92 92" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                        <path fill="none" d="M89.5807647,44.9526471 C89.5807647,69.61 69.5910588,89.5997059 44.9337059,89.5997059 C20.275,89.5997059 0.286647059,69.61 0.286647059,44.9526471 C0.286647059,20.2952941 20.275,0.305588235 44.9337059,0.305588235 C69.5910588,0.305588235 89.5807647,20.2952941 89.5807647,44.9526471 L89.5807647,44.9526471 L89.5807647,44.9526471 Z" id="Stroke-1" stroke-width="1.2" sketch:type="MSShapeGroup"/><path fill="none" d="M63,24 L57.5,35 L65.5,35" id="Path-3" stroke-linecap="square" stroke-linejoin="round" sketch:type="MSShapeGroup"/><path fill="none" d="M58.3278235,61.4869412 C55.7247647,57.8583529 52.0799412,55.9642353 50.2277647,57.2752353 C48.3769412,58.5862353 44.8281765,56.6258235 42.3428235,52.9160588 L39.2770588,48.3431176 C36.7917059,44.6333529 36.2735294,40.5258235 38.1243529,39.2148235 C39.9765294,37.9038235 39.457,33.7962941 36.9716471,30.0865294 L36.5698235,29.4871765 C34.0831176,25.7787647 29.337,24.461 26.0209412,26.5594118 C22.7035294,28.6578235 20.0436471,31.2202941 20.1072353,32.2525882 C20.1721765,33.2848824 20.1978824,34.1480588 20.1667647,34.1683529 C20.1342941,34.19 21.5332353,37.571 23.2731176,41.6825882 C23.2731176,41.6825882 26.7122941,49.8029412 31.3407059,56.7110588 C35.9704706,63.6178235 42.4754118,70.2580588 42.4754118,70.2580588 C45.5993529,73.4482941 48.1821176,76.0405294 48.2132353,76.0188824 C48.2443529,75.9972353 48.9194706,76.0824706 49.7109412,76.2069412 C50.5037647,76.3314118 53.9131765,74.6672941 57.2887647,72.5107059 C60.663,70.3541176 61.2948235,65.6215294 58.6917647,61.9942941 L58.3278235,61.4869412 L58.3278235,61.4869412 Z" id="Stroke-2" stroke-width="1.2" sketch:type="MSShapeGroup"/><path fill="none" d="M63.5,37.5 L63.5,30.5" id="Path-4" sketch:type="MSShapeGroup"/><path  fill="none" d="M48,26.5 C48,26.5 48.5,24 51,24 C53.5,24 54.5,26 54.5,27 C54.5,27.5373435 54.5,28.5 53.5,29.5 C52.5,30.5 47.5,37 47.5,37 L54.5,37" id="Path-5" stroke-linecap="square" stroke-linejoin="round" sketch:type="MSShapeGroup"/>
                    </svg>
                    <h3 class="pane__header">PHP applicatie support</h3>
                    <div class="pane__body"><p>Effectief beheer en doorontwikkeling van PHP applicaties. 100% ondersteuning met glasheldere SLA, 24/7, 365 dagen per jaar.</p></div>
                    <div class="pane__button"><div class="btn">Lees meer</div></div>
                </a>
            </div>

        </div>

    </div>

</section>
