<div class="section  section--klanten">

    <div class="center-page">

        <h2 class="section__header  section__header--red">Projecten waar we trots op zijn</h2>

        <div class="layout  layout-opengrid">
            <div class="layout__item  u-1/2  u-1/3-lap-and-up">
                <div class="box"><img src="/images/referenties/belegger_logo@2x.png" alt="logo" /></div>
            </div
            ><div class="layout__item  u-1/2  u-1/3-lap-and-up">
               <div class="box"><img src="/images/referenties/belegger_logo@2x.png" alt="logo" /></div>
            </div
            ><div class="layout__item  u-1/2  u-1/3-lap-and-up">
                <div class="box"><img src="/images/referenties/belegger_logo@2x.png" alt="logo" /></div>
            </div
            ><div class="layout__item  u-1/2  u-1/3-lap-and-up">
                <div class="box"><img src="/images/referenties/belegger_logo@2x.png" alt="logo" /></div>
            </div
            ><div class="layout__item  u-1/2  u-1/3-lap-and-up">
                <div class="box"><img src="/images/referenties/belegger_logo@2x.png" alt="logo" /></div>
            </div
            ><div class="layout__item  u-1/2  u-1/3-lap-and-up">
                <div class="box"><img src="/images/referenties/belegger_logo@2x.png" alt="logo" /></div>
            </div
            ><div class="layout__item  u-1/2  u-1/3-lap-and-up">
                <div class="box"><img src="/images/referenties/belegger_logo@2x.png" alt="logo" /></div>
            </div
            ><div class="layout__item  u-1/2  u-1/3-lap-and-up">
                <div class="box"><img src="/images/referenties/belegger_logo@2x.png" alt="logo" /></div>
            </div
            ><div class="layout__item  u-1/2  u-1/3-lap-and-up">
                <div class="box"><img src="/images/referenties/belegger_logo@2x.png" alt="logo" /></div>
            </div
            ><div class="layout__item  u-1/2  u-1/3-lap-and-up">
                <div class="box"><img src="/images/referenties/belegger_logo@2x.png" alt="logo" /></div>
            </div
            ><div class="layout__item  u-1/2  u-1/3-lap-and-up">
                <div class="box"><img src="/images/referenties/belegger_logo@2x.png" alt="logo" /></div>
            </div
            ><div class="layout__item  u-1/2  u-1/3-lap-and-up">
                <div class="box"><img src="/images/referenties/belegger_logo@2x.png" alt="logo" /></div>
            </div>
        </div>

        <div class="block-action  center-inner  pv+">
            <a href="#" class="btn  btn--dark">Meer referenties</a>
        </div>

    </div>

</div>
