<section class="section  trackrecord">

    <div class="center-page">

        <h2 class="section__header">Web en mobile development<br />
            voor het nieuwe internet</h2>

    </div>

    <div class="center-page  center-page--small">

        <p>Wij bouwen solide internet architecturen en webapplicaties. Met een gepassioneerde groep specialisten kunnen we dankzij ruim 12 jaar ervaring met gebruik van de modernste technologieen de grootste uitdagingen aan.</p>

        <div class="box formula mb">Proces + Talent + Expertise <br />
            = Verzekerd resultaat</div>

    </div>

    <div class="center-page  center-page--small">

        <div class="layout metrics">

            <div class="layout__item  u-1/3-lap-and-up">
                <p class="number  m0">16+</p>
                <p>jaar ervaring met cutting-edge internettechnologie</p>
            </div
            ><div class="layout__item  u-1/3-lap-and-up">
                <p class="number  m0">20+</p>
                <p>PHP software engineers &amp; specialisten</p>
            </div
            ><div class="layout__item  u-1/3-lap-and-up">
                <p class="number  m0">300+</p>
                <p>succesvolle projecten in de afgelopen 12 jaar</p>
            </div>

        </div>


    </div>

</section>