<div class="box  box--flush  refindex  animated  os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".2s">
    <a href="/referenties/strukton.html#">
        <img src="/images/rails.jpg" alt="description" class="refindex__image">
        <div class="refindex__caption">
            <h3 class="refindex__header">Strukton Rail</h3>
            <p>Iworkx Blueprint: een software tool voor het modelleren van bedrijfsprocessen</p>
        </div>
        <div  class="btn  btn--dark">Lees meer</div>
    </a>
</div>