<header class="box  mainheader">

    <div class="center-div  mobile-menu">
        <a href="#" id="toggle-menu"><span></span></a>
        <h1 id="idTag"><a class="site-title" href="{{ site.baseurl }}/"><span class="hide">{{ site.title }}</span></a></h1>
        <nav class="mainnav">
            <ul>
                {% assign pages = site.pages | sort:"sort"  %}
                {% for page in pages %}
                    {% if page.title %}
                        {% if page.level == 1 %}
                            <li class="mainnav__item"><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>

</header>

<div class="ratio  ratio-landscape  newsslider">

    <div class="ratio--content">

        <div class="newsslider__container">

            <a href="#" class="newsslider__toggle" title="Laatste nieuws"><span></span></a>

            <ul class="list-block newslist">
                <li>
                    <a href="#">
                        <h3>10 jarig bestaan van DPC speciale editie!</h3>
                        <p>Early birds voor DPC16 is open. Wees zeker van kaartjes</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Gezocht een PHP developer voor Vlissingen</h3>
                    </a>
                </li>
            </ul>

        </div>

    </div>

</div>

