{#
/**
 * @file
 * Bartik's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.

 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see bartik_preprocess_page()
 * @see html.html.twig
 */
#}

<header class="mainheader-home"  role="banner" aria-label="{{ 'Site header'|t}}">

  <div class="mobile-menu  navbanner">

    <div class="center-div">

      <a href="#" id="toggle-menu"><span></span></a>

      <h1 id="idTag"><a class="site-title" href="{{ site.baseurl }}/"><span class="hide">{{ site.title }}</span></a></h1>

      <nav class="mainnav">
        {{ page.header }}
      </nav>s

    </div>

  </div>

</header>



<div class="ratio  ratio-landscape  newsslider">

  <div class="ratio__content">

    <div class="newsslider__container">

      <a href="#" class="newsslider__toggle" title="Laatste nieuws"><span></span></a>

      <ul class="list-block newslist">
        <li>
          <a href="#">
            <h3>10 jarig bestaan van DPC speciale editie!</h3>
            <p>Early birds voor DPC16 is open. Wees zeker van kaartjes</p>
          </a>
        </li>
        <li>
          <a href="#">
            <h3>Gezocht een PHP developer voor Vlissingen</h3>
          </a>
        </li>
      </ul>

    </div>

  </div>

</div>



<!-- SLIDER -->

<div class="box  box--flush  hide-on-mobile">

  <div class="slider slider--hero">

    <div class="slider__item">
      <div class="ratio  ratio-landscape">
        <div class="ratio__content">
          <canvas class="intro-slider vignette"></canvas>
          <div class="box">
            <div class="center-div">
              <div class="slider__text">
                <h2><span class="typewriter"></span><img class="cursor" src="{{ themepath }}/images/cursor.gif" alt="cursor" /></h2>
                <p class="cta-slider"><a href="/">Benieuwd hoe wij onze passie<br />
                    kunnen inzetten voor het realiseren<br />
                    van uw online ambitie?</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slider__item">
      <div class="ratio  ratio-landscape">
        <div class="ratio__content  photo-vignette">
          <img src="{{ themepath }}/images/hero-images/morning-bed.jpg" alt="rtlz" class="slider__image" />
          <div class="box">
            <div class="center-div">
              <div class="slider__text">
                <h2>RTLZ</h2>
                <p>RTL Nieuws bereikt dagelijks miljoenen mensen.<br />
                  Op tv en steeds meer digitaal via de ‘nieuwswall’, een nieuw, onderscheidend nieuwsconcept. Ibuildings ontwikkelde hiervoor het content-managementsysteem (cms) in Drupal.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slider__item">
      <div class="ratio  ratio-landscape">
        <div class="ratio__content  photo-vignette">
          <img src="{{ themepath }}/images/hero-images/slider-creative1.jpg" alt="rtlz" class="slider__image" />
          <div class="box">
            <div class="center-div">
              <div class="slider__text">
                <h2>RTLZ</h2>
                <p>RTL Nieuws bereikt dagelijks miljoenen mensen.<br />
                  Op tv en steeds meer digitaal via de ‘nieuwswall’, een nieuw, onderscheidend nieuwsconcept. Ibuildings ontwikkelde hiervoor het content-managementsysteem (cms) in Drupal.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slider__item">
      <div class="ratio ratio-landscape">
        <div class="ratio__content  photo-vignette">
          <img src="{{ themepath }}/images/hero-images/slider-creative2.jpg" alt="rtlz" class="slider__image" />
          <div class="box">
            <div class="center-div">
              <div class="slider__text">
                <h2>RTLZ</h2>
                <p>RTL Nieuws bereikt dagelijks miljoenen mensen.<br />
                  Op tv en steeds meer digitaal via de ‘nieuwswall’, een nieuw, onderscheidend nieuwsconcept. Ibuildings ontwikkelde hiervoor het content-managementsysteem (cms) in Drupal.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slider__item">
      <div class="ratio  ratio-landscape">
        <div class="ratio__content  photo-vignette">
          <img src="{{ themepath }}/images/hero-images/morning-bed.jpg" alt="rtlz" class="slider__image" />
          <div class="box">
            <div class="center-div">
              <div class="slider__text">
                <h2>RTLZ</h2>
                <p>RTL Nieuws bereikt dagelijks miljoenen mensen.<br />
                  Op tv en steeds meer digitaal via de ‘nieuwswall’, een nieuw, onderscheidend nieuwsconcept. Ibuildings ontwikkelde hiervoor het content-managementsysteem (cms) in Drupal.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slider__item">
      <div class="ratio  ratio-landscape">
        <div class="ratio__content  photo-vignette">
          <img src="{{ themepath }}/images/hero-images/slider-creative1.jpg" alt="rtlz" class="slider__image" />
          <div class="box">
            <div class="center-div">
              <div class="slider__text">
                <h2>RTLZ</h2>
                <p>RTL Nieuws bereikt dagelijks miljoenen mensen.<br />
                  Op tv en steeds meer digitaal via de ‘nieuwswall’, een nieuw, onderscheidend nieuwsconcept. Ibuildings ontwikkelde hiervoor het content-managementsysteem (cms) in Drupal.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slider__item">
      <div class="ratio ratio-landscape">
        <div class="ratio__content  photo-vignette">
          <img src="{{ themepath }}/images/hero-images/slider-creative2.jpg" alt="rtlz" class="slider__image" />
          <div class="box">
            <div class="center-div">
              <div class="slider__text">
                <h2>RTLZ</h2>
                <p>RTL Nieuws bereikt dagelijks miljoenen mensen.<br />
                  Op tv en steeds meer digitaal via de ‘nieuwswall’, een nieuw, onderscheidend nieuwsconcept. Ibuildings ontwikkelde hiervoor het content-managementsysteem (cms) in Drupal.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slider__item">
      <div class="ratio ratio-landscape">
        <div class="ratio__content  photo-vignette">
          <img src="{{ themepath }}/images/hero-images/slider-creative2.jpg" alt="rtlz" class="slider__image" />
          <div class="box">
            <div class="center-div">
              <div class="slider__text">
                <h2>RTLZ</h2>
                <p>RTL Nieuws bereikt dagelijks miljoenen mensen.<br />
                  Op tv en steeds meer digitaal via de ‘nieuwswall’, een nieuw, onderscheidend nieuwsconcept. Ibuildings ontwikkelde hiervoor het content-managementsysteem (cms) in Drupal.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="box  box--flush  hide-on-mobile">
  <div class="slider slider--hero--logos">
    <div class="slider__item  slider__item--empty"></div>
    <div class="slider__item"><img src="{{ themepath }}/images/logo-rtlz.png" alt="logo" /></div>
    <div class="slider__item"><img src="{{ themepath }}/images/logo-shapeways.png" alt="logo" /></div>
    <div class="slider__item"><img src="{{ themepath }}/images/logo-sdu.png" alt="logo" /></div>
    <div class="slider__item"><img src="{{ themepath }}/images/logo-speakapp.png" alt="logo" /></div>
    <div class="slider__item"><img src="{{ themepath }}/images/logo-nu.png" alt="logo" /></div>
    <div class="slider__item"><img src="{{ themepath }}/images/logo-kieskeurig.png" alt="logo" /></div>
  </div>
</div>

<div class="box  box--flush  only-mobile  mobile-start">
  <h2>Ibuildings levert het technisch fundament<br />om sneller en effectiever te communiceren.<br /> Op tijd. Binnen budget."<img class="cursor" src="{{ themepath }}/images/cursor.gif" alt="cursor" /></h2>
  <nav class="buttongroup">
    <a href="/contact" class="buttongroup__item  btn  btn--outline  btn--contact mb">Contact</a>
    <a href="/overons" class="buttongroup__item  btn  btn--outline  btn--contact">Wie zijn wij?</a>
  </nav>
</div>




{{ page.content }}

{% if page.footer %}
  {{ page.footer }}
{% endif %}

<footer  class="site-footer">

  <div class="center-page">

    <div class="layout">

      <div class="layout__item  u-1/3-lap-and-up  mb">

        <h3 class="mb0">Contact</h3>

        <p><a href="mailto:info@ibuildings.nl" class="textlink  textlink-diap">info@ibuildings.nl</a><br />
          <a class="tel-number" tabIndex="-1" href="tel:088 00 24 000">088 00 24 000</a></p>

          <ul class="list-inline">
            <li class="social__item  social__item--facebook"><a href="#" class="icon  icon-square-facebook"><span class="hide">Facebook</span></a></li>
            <li class="social__item  social__item--twitter"><a href="#" class="icon  icon-square-twitter"><span class="hide">Twitter</span></a></li>
            <li class="social__item  social__item--googleplus"><a href="#" class="icon  icon-googleplus"><span class="hide">Googleplus</span></a></li>
          </ul>

        </div
        ><div class="layout__item  u-1/3-lap-and-up  mb">

          <h3 class="mb0">Vlissingen</h3>

          <p>Gildeweg 39A<br />
            4383 NJ Vlissingen</p>

          <a href="#" class="btn  btn--dark">Google maps</a>

        </div
        ><div class="layout__item  u-1/3-lap-and-up  mb">

          <h3 class="mb0  ">Utrecht</h3>

          <p>Postbus 1525<br />
            3500 BM Utrecht</p>

          <p>Goeman Borgesiuslaan 77<br />
            3515 ET Utrecht</p>

          <a href="#" class="btn  btn--dark">Google maps</a>

        </div>

      </div>

    <div class="copyright">&copy; copyright Ibuildings. All right reserved.</div>

  </div>

</footer>

<div class="palm"></div>
<div class="lap-and-up"></div>
<div class="portable"></div>
<div class="desk"></div>
