---
layout: page
title: referenties
sort: 4
level: 1
---

<header class="main-header vignette" id="top">

    <div class="mobile-menu  navbanner">

        <div class="center-div">

            <a href="#" id="toggle-menu"><span></span></a>

            <h1 id="idTag"><a class="site-title" href="{{ site.baseurl }}/"><span class="hide">{{ site.title }}</span></a></h1>

            <nav class="mainnav">
                <ul>
                    {% assign pages = site.pages | sort:"sort"  %}
                    {% for page in pages %}
                    {% if page.title %}
                    {% if page.level == 1 %}
                    <li class="mainnav__item"><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </nav>

        </div>

    </div>

    <div class="center-div">

        <div class="pageintro">
            <h1 class="pageintro__title mb-">Referenties</h1>
            <div class="pageintro__lede">
                 <p>Case studies uit een selectie van ruim 300 succesvolle projecten sinds 1999.</p>
            </div>
        </div>

    </div>

</header>

<main class="main-content">

    <div class="section  section--beige">

        <div class="center-page">

            <div class="layout">

                <div class="layout__item  u-1/2-desk">
                    {% include referentie-blok.html %}
                </div><div class="layout__item  u-1/2-desk">
                    {% include referentie-blok.html %}
                </div><div class="layout__item  u-1/2-desk">
                    {% include referentie-blok.html %}
                </div><div class="layout__item  u-1/2-desk">
                    {% include referentie-blok.html %}
                </div><div class="layout__item  u-1/2-desk">
                    {% include referentie-blok.html %}
                </div><div class="layout__item  u-1/2-desk">
                    {% include referentie-blok.html %}
                </div><div class="layout__item  u-1/2-desk">
                    {% include referentie-blok.html %}
                </div><div class="layout__item  u-1/2-desk">
                    {% include referentie-blok.html %}
                </div><div class="layout__item  u-1/2-desk">
                    {% include referentie-blok.html %}
                </div><div class="layout__item  u-1/2-desk">
                    {% include referentie-blok.html %}
                </div>

            </div>

        </div>

    </div>

</main>

{% include cta-home.html %}

{% include footer.html %}
