---
layout: page
title: referenties
sort: 4
level: 2
---

<header class="main-header vignette" id="top">

    <div class="mobile-menu  navbanner">

        <div class="center-div">

            <a href="#" id="toggle-menu"><span></span></a>

            <h1 id="idTag"><a class="site-title" href="{{ site.baseurl }}/"><span class="hide">{{ site.title }}</span></a></h1>

            <nav class="mainnav">
                <ul>
                    {% assign pages = site.pages | sort:"sort"  %}
                    {% for page in pages %}
                    {% if page.title %}
                    {% if page.level == 1 %}
                    <li class="mainnav__item"><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </nav>

        </div>

    </div>

    <div class="page-header__banner">

        <div class="ratio  ratio-landscape">
            <div class="ratio__content  bg-cover"  style="background-image: url(/images/strukton-bg.jpg);"></div>
        </div>

        <div class="box  box--large  refintro">
            <div class="center-page  center-page--small">
                <div class="pos-rel  mb">
                    <div class="refintro__header">

                        <h2 class="blockquote blockquote--reference">“Ik heb veel vertrouwen in Ibuildings. We werken samen als co-makers, dus waarom zou ik een andere partij overwegen?”
                            <span class="blockquote__author">Gerard Keizer, Manager Business Processes, Strukton Rail</span>
                        </h2>
                        <img src="/images/strukton-header-image.png" alt="struktion" class="refintro__image" />
                    </div>
                </div>
                <p>Ibuildings ontwikkelde al <a href="#">Iworkx Veiligheidsplan</a> voor Strukton Rail. Nu is daar de module Iworkx Blueprint aan toegevoegd, een softwaretool voor het modelleren van bedrijfsprocessen.</p>
            </div>
        </div>

    </div>

</header>

<main class="main-content">

    <div class="section  refprofile">

        <div class="center-page">

            <div class="u-10/12-lap-and-up  push-1/12-lap-and-up">
                <h1 style="display: none;">Strukton Rail - een fullservice-aanbieder voor spoorsystemen in Europa</h1>
                <img class="refprofile__image  mb-" src="/images/logo-strukton.png" alt="" />
                <div class="refprofile__body">
                    <p>Strukton Rail is een fullservice-aanbieder voor spoorsystemen in Europa. Al meer dan 90 jaar zijn zij verantwoordelijk voor het functioneren van railsystemen. Hun kennis en expertise richt zich zowel op infrastructuur als op rollend materieel.</p>
                    <p>Veiligheid en betrouwbaarheid staan voorop. In Nederland is Strukton Rail de grootste speler; in Europa breiden zij verder uit. De organisatie biedt werkgelegenheid aan 3.000 mensen en heeft eigen vestigingen in Nederland, België.</p>
                </div>
            </div>

        </div>

    </div>

    <div class="section  center-page">

        <div class="u-8/12-lap-and-up  push-2/12-lap-and-up  reference">

            <h2>Verouderde Modelleersoftware</h2>
            <p>De bestaande modelleersoftware bij Strukton Rail was hard aan vervanging toe. Ruim vijftien jaar in gebruik, gebaseerd op een verouderde Oracle-database, steeds lastiger te onderhouden of uit te breiden met nieuwe functies. Terwijl de licenties wel doorliepen. Gerard Keizer: “De applicatie, en dan vooral de backend, was niet gebruikersvriendelijk. Alleen een expert kon ermee werken. We hadden behoefte aan nieuwe functionaliteit. Een compliance-matrix bijvoorbeeld, die de relatie tussen eisen en normen van overheden en klanten en de oplossingen daarvoor in overzichtelijke processen en informatiestromen laat zien. Of heldere interactiediagrammen die de samenhang tussen processen onderling weergeven. Bovendien wilden we naar open-sourcesoftware: alle broncodes in eigen beheer en geen licenties meer.”</p>

            <h2>Verouderde Modelleersoftware</h2>
            <p>De bestaande modelleersoftware bij Strukton Rail was hard aan vervanging toe. Ruim vijftien jaar in gebruik, gebaseerd op een verouderde Oracle-database, steeds lastiger te onderhouden of uit te breiden met nieuwe functies. Terwijl de licenties wel doorliepen. Gerard Keizer: “De applicatie, en dan vooral de backend, was niet gebruikersvriendelijk. Alleen een expert kon ermee werken. We hadden behoefte aan nieuwe functionaliteit. Een compliance-matrix bijvoorbeeld, die de relatie tussen eisen en normen van overheden en klanten en de oplossingen daarvoor in overzichtelijke processen en informatiestromen laat zien. Of heldere interactiediagrammen die de samenhang tussen processen onderling weergeven. Bovendien wilden we naar open-sourcesoftware: alle broncodes in eigen beheer en geen licenties meer.”</p>

            <h2>Verouderde Modelleersoftware</h2>
            <p>De bestaande modelleersoftware bij Strukton Rail was hard aan vervanging toe. Ruim vijftien jaar in gebruik, gebaseerd op een verouderde Oracle-database, steeds lastiger te onderhouden of uit te breiden met nieuwe functies. Terwijl de licenties wel doorliepen. Gerard Keizer: “De applicatie, en dan vooral de backend, was niet gebruikersvriendelijk. Alleen een expert kon ermee werken. We hadden behoefte aan nieuwe functionaliteit. Een compliance-matrix bijvoorbeeld, die de relatie tussen eisen en normen van overheden en klanten en de oplossingen daarvoor in overzichtelijke processen en informatiestromen laat zien. Of heldere interactiediagrammen die de samenhang tussen processen onderling weergeven. Bovendien wilden we naar open-sourcesoftware: alle broncodes in eigen beheer en geen licenties meer.”</p>

            <h2>Verouderde Modelleersoftware</h2>
            <p>De bestaande modelleersoftware bij Strukton Rail was hard aan vervanging toe. Ruim vijftien jaar in gebruik, gebaseerd op een verouderde Oracle-database, steeds lastiger te onderhouden of uit te breiden met nieuwe functies. Terwijl de licenties wel doorliepen. Gerard Keizer: “De applicatie, en dan vooral de backend, was niet gebruikersvriendelijk. Alleen een expert kon ermee werken. We hadden behoefte aan nieuwe functionaliteit. Een compliance-matrix bijvoorbeeld, die de relatie tussen eisen en normen van overheden en klanten en de oplossingen daarvoor in overzichtelijke processen en informatiestromen laat zien. Of heldere interactiediagrammen die de samenhang tussen processen onderling weergeven. Bovendien wilden we naar open-sourcesoftware: alle broncodes in eigen beheer en geen licenties meer.”</p>

            <h2>Verouderde Modelleersoftware</h2>
            <p>De bestaande modelleersoftware bij Strukton Rail was hard aan vervanging toe. Ruim vijftien jaar in gebruik, gebaseerd op een verouderde Oracle-database, steeds lastiger te onderhouden of uit te breiden met nieuwe functies. Terwijl de licenties wel doorliepen. Gerard Keizer: “De applicatie, en dan vooral de backend, was niet gebruikersvriendelijk. Alleen een expert kon ermee werken. We hadden behoefte aan nieuwe functionaliteit. Een compliance-matrix bijvoorbeeld, die de relatie tussen eisen en normen van overheden en klanten en de oplossingen daarvoor in overzichtelijke processen en informatiestromen laat zien. Of heldere interactiediagrammen die de samenhang tussen processen onderling weergeven. Bovendien wilden we naar open-sourcesoftware: alle broncodes in eigen beheer en geen licenties meer.”</p>

        </div>

    </div>

</main>

{% include cta-home.html %}

{% include footer.html %}