$opengrid-border-color: #C5C6C8 !default;

.layout-opengrid {

    > .layout__item {
        position: relative;
        left: $inuit-base-spacing-unit/2;
        border-top: 1px solid $opengrid-border-color;
        padding-right: $inuit-base-spacing-unit;
    }

    > .layout__item:nth-child(1) {
        border-top: 0 !important;
    }


    // 2 column

    > .layout__item:nth-child(2) {
        border-top: 0 !important;
    }

    > .layout__item:nth-child(2n+1) {
        border-right: 1px solid $opengrid-border-color;
    }


    // 3 column

    @include media-query(lap-and-up) {

        .layout__item {
            left: $inuit-base-spacing-unit;
        }

        > .layout__item:nth-child(2n+1) {
            border-right: 0;
        }

        > .layout__item:nth-child(3) {
            border-top: 0 !important;
        }

        > .layout__item:nth-child(3n+1) {
            border-right: 1px solid $opengrid-border-color;
        }

        > .layout__item:nth-child(3n+2) {
            border-right: 1px solid $opengrid-border-color;
        }

    }

}
