<div class="section  section--klanten">

    <div class="center-page">

        {% if header %}
            <h2 class="section__header  section__header--red">{{ header }}</h2>
        {% endif %}

        {{ rows }}

        <div class="block-action  center-inner  pv+">
            <a href="/referenties" class="btn  btn--dark">Meer referenties</a>
        </div>

    </div>

</div>

