<div class="video-container">
    <video autoplay="" loop="" poster="{{ entity.field_video_poster }}">
        <source src="{{ entity.field_video_webm }}" type="video/webm;" codecs="vp8.0, vorbis">
        <source src="{{ entity.field_video_mp4 }}" type="video/mp4;" codecs="avc1.4D401E, mp4a.40.2">
    </video>
</div>

<div class="center-div">

    <div class="pageintro">
        <h1 class="pageintro__title mb-">{{ entity.title }}</h1>
        <div class="pageintro__lede">{{ entity.field_body }}</div>
    </div>

    <nav class="buttongroup  mb">
        {{ entity.field_button }}
    </nav>

</div>

