{% if label_hidden %}
    {% for item in items %}
        ><div class="layout__item  u-1/3-lap-and-up">
            {{ item.content }}
        </div
    {% endfor %}
{% else %}
    <span{{ title_attributes.addClass(title_classes) }}>{{ label }}</span>
    {% for item in items %}
        ><div class="layout__item  u-1/3-lap-and-up">
            {{ item.content }}
        </div
    {% endfor %}
{% endif %}
