{% if label_hidden %}
    {% for item in items %}
        <div class="pane  hoverbox  pillars__item">
            {{ item.content }}
        </div>
    {% endfor %}
{% else %}
    <span{{ title_attributes.addClass(title_classes) }}>{{ label }}</span>
    {% for item in items %}
        <div class="pane  hoverbox  pillars__item">
            {{ item.content }}
        </div>
    {% endfor %}
{% endif %}
