{% if label_hidden %}
    {% for item in items %}
        {{ item.content }}
    {% endfor %}
{% else %}
    <span{{ title_attributes.addClass(title_classes) }}>{{ label }}</span>
    {% for item in items %}
        {{ item.content }}
    {% endfor %}
{% endif %}
