/* Forms */

// UI improvments.
#edit-title-wrapper input
  font-size: 24px
  width: 99%

.form-item .description
  font-style: italic
  line-height: 1.2em
  font-size: 0.8em
  margin-top: 5px
  color: #777777

#edit-delete
  color: #cc0000
