<section class="{{ entity.field_type }}  usp">

    <div class="center-page">

        <h2 class="section__header">{{ entity.title }}</h2>

        <div class="pillars  {{ entity.field_pillar_width }}">

            {{ entity.field_ref_pillar }}

        </div>

    </div>

</section>